{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Entrenadores-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de Entrenadores
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Entrenadores</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/DataTables/js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}plugins/DataTables/js/dataTables.tableTools.js"></script>
    <script type="text/javascript">
        if ($('#data-table').length !== 0) {
            $('#data-table').DataTable({
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "{{STATIC_URL}}"+"plugins/DataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        }
        idTabla = "tabla-entrenadores";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>

{% endblock %}

{% block titulo_panel %}
    Listar Entrenadores
{% endblock %}

{% block contenido_panel %}

    <div class="row">
        <div class="col-sm-12">
            <table id="tabla-entrenadores" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nacionalidad</th>
                        <th>Identificación</th>
                        <th>Estado</th>
                        {% if perms.snd.change_entrenador %}
                            <th>Opciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for entrenador in entrenadores %}
                        <tr>
                            <td>{{entrenador.nombres}} {{entrenador.apellidos}}</td>
                            <td>
                                {% for nac in entrenador.nacionalidad.all %}
                                    {% if forloop.last %}
                                        {{ nac }}
                                    {% else %}
                                        {{ nac }},
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{entrenador.identificacion}}</td>
                            <td>{{ entrenador.get_estado_display }}</td>
                            <td>
                                <a href="{% url 'ver_entrenador' entrenador.id %}" title="Ver">
                                    <i class="fa fa-eye"></i> Ver Entrenador
                                </a>
                                {% if perms.snd.change_entrenador %}
                                    <a href="{% url 'edicion_entrenador' entrenador.id %}" title="Modificar">
                                        <i class="fa fa-gear"></i> Editar
                                    </a>
                                    <br/>
                                    <a href="#modal-desactivate" data-toggle="modal">
                                        <i class="fa fa-ban"></i> Activar / Desactivar
                                    </a>
                                    <br/>
                                    {% if entrenador.estado == 2 %}
                                        <a href="{% url 'transferencias.views.cancelar_transferencia' entrenador.id 2 %}" title="Cancelar Tranferencia">
                                            <i class="fa fa-times"></i> Cancelar Transferencia
                                        </a>
                                    {% elif entrenador.estado == 3 or entrenador.estado == 1 %}
                                    {% else %}
                                        <a href="{% url 'transferencias.views.generar_transferencia' 1 2 entrenador.id %}" title="Transferir">
                                            <i class="fa fa-exchange"></i> Transferir
                                        </a>
                                    {% endif %}
                                    <div class="modal fade" id="modal-desactivate">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Desactivar entrenador:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Está seguro que desea desactivar este entrenador?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                    <a href="{% url 'entrenador_desactivar' entrenador.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
