{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Entrenadores - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Ver detalles de entrenador
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Ver Entrenador</li>
{% endblock %}

{% block css %}
    <style type="text/css">
    .funciones li{
        list-style: none;
        display: list-item;
        line-height: 20px;
    }
    .funciones li:before {
        margin-right: 10px;
    }
    </style>
{% endblock %}

{% block titulo_panel %}
    Detalles del Entrenador
{% endblock %}

{% block contenido_panel %}
<div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
    <div class="panel-heading p-0">
        <div class="panel-heading-btn m-r-10 m-t-10">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
        <!-- begin nav-tabs -->
        <div class="tab-overflow">
            <ul class="nav nav-tabs">
                <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                <li class="active"><a href="#nav-tab2-1" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>
                {% if formacion_deportiva %}<li class=""><a href="#nav-tab2-3" data-toggle="tab"><i class="fa fa-paint-brush"></i> Formación deportiva</a></li>{% endif %}
                {% if experiencia_laboral %}<li class=""><a href="#nav-tab2-4" data-toggle="tab"><i class="fa fa-paint-brush"></i> Experiencia laboral</a></li>{% endif %}
                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="nav-tab2-1">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% url 'entrenador_listar' %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{entrenador.nombres}} {{entrenador.apellidos}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <ul class="media-list">

                                <li class="media">
                                    <a href="javascript:;" class="media-left"></a>
                                    {%if entrenador.foto%}
                                        <img class="media-object rounded-corner" src="{{MEDIA_URL}}{{entrenador.foto}}" alt="foto" style="float: left; width=100 height=100" />
                                    {%else%}
                                        <span class="fa fa-4x fa-smile-o media-object" style="float: left;"></span>
                                    {%endif%}
                                    <div class="media-body">
                                        <div class="col-lg-6">
                                        <p style="margin-left: 50px">
                                            {% if perms.snd.change_entrenador %}
                                                {{entrenador.get_tipo_id_display | title}}: {{entrenador.nro_id}}<br />
                                            {% endif %}
                                            Género: {{entrenador.genero}}<br/>
                                            Edad: {{ entrenador.edad }}<br/>
                                            Nacionalidades:
                                            {% for nac in entrenador.nacionalidad.all %}
                                                {% if forloop.last %}
                                                    {{ nac }}
                                                {% else %}
                                                    {{nac}},
                                                {% endif %}
                                            {% endfor %}<br/>
                                            Ciudad (Departamento) de Nacimiento:
                                            {% if entrenador.ciudad %}
                                                {{ entrenador.ciudad }}
                                            {% else %}
                                                Ninguna
                                            {% endif %}<br/>
                                            Altura:
                                                {%if entrenador.altura %}
                                                    {{entrenador.altura}} Cm
                                                {% else %}
                                                    Ninguno
                                                {% endif %}<br/>
                                            Peso:
                                                {%if entrenador.peso %}
                                                    {{entrenador.peso}} Kg
                                                {% else %}
                                                    Ninguno
                                                {% endif %}<br/>
                                            {% if perms.snd.change_entrenador %}
                                                <strong>Contacto:</strong> <br/>
                                                Teléfono fijo:
                                                {% if entrenador.telefono_fijo %}
                                                    {{entrenador.telefono_fijo}}
                                                {% else %}
                                                    Ninguno
                                                {% endif %}<br/>
                                                Teléfono celular:
                                                {% if entrenador.telefono_celular %}
                                                    {{entrenador.telefono_celular}}
                                                {% else %}
                                                    Ninguno
                                                {% endif %}<br/>
                                                Dirección:
                                                {% if entrenador.direccion %}
                                                    {{entrenador.direccion}}
                                                {% else %}
                                                    Ninguno
                                                {% endif %}<br/>
                                                Correo electrónico:
                                                {% if entrenador.correo_electronico %}
                                                    {{entrenador.correo_electronico}}
                                                {% else %}
                                                    Ninguno
                                                {% endif %}<br/>
                                            {% endif %}
                                        </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <!--FORMACIÓN DEPORTIVA-->
        {% if formacion_deportiva %}
            <div class="tab-pane fade" id="nav-tab2-3">
                <div class="invoice">
                    <div class="invoice-company">
                        <span class="pull-right hidden-print">
                        <a href="{% url 'entrenador_listar' %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                        <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                        </span>
                        {{entrenador.nombres}} {{entrenador.apellidos}}
                    </div>
                    <div class="invoice-content">
                        <div class="table-responsive">
                            <table class="table table-invoice">
                                <thead>
                                    <tr>
                                        <th>DISCIPLINAS</th>
                                        <th>DENOMINACIÓN DIPLOMA</th>
                                        <th>NIVEL</th>
                                        <th>INSTITUCIÓN FORMACIÓN</th>
                                        <th>PAÍS</th>
                                        <th>FECHA COMIENZO</th>
                                        <th>FECHA FIN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for formacion in formacion_deportiva %}
                                    <tr>
                                        <td>
                                            {% for disciplina in formacion.disciplina_deportiva.all %}
                                                {% if forloop.last %}
                                                    {{ disciplina }}
                                                {% else %}
                                                    {{disciplina}},
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{formacion.denominacion_diploma}}</td>
                                        <td>{{formacion.nivel}}</td>
                                        <td>{{formacion.institucion_formacion}}</td>
                                        <td>{{formacion.pais_formacion}}</td>
                                        <td>{{formacion.fecha_comienzo}}</td>
                                        <td>{{formacion.fecha_fin}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!--EXPERIENCIA LABORAL-->
        {% if experiencia_laboral %}
            <div class="tab-pane fade" id="nav-tab2-4">
                <div class="invoice">
                    <div class="invoice-company">
                        <span class="pull-right hidden-print">
                        <a href="{% url 'entrenador_listar' %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                        <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                        </span>
                        {{entrenador.nombres}} {{entrenador.apellidos}}
                    </div>
                    <div class="invoice-content">
                        <div class="table-responsive">
                            <table class="table table-invoice">
                                <thead>
                                    <tr>
                                        <th>Nombre cargo</th>
                                        <th>Institución</th>
                                        <th>Fecha comienzo</th>
                                        <th>Fecha fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for experiencia in experiencia_laboral %}
                                    <tr>
                                        <td>{{experiencia.nombre_cargo}}</td>
                                        <td>{{experiencia.institucion}}</td>
                                        <td>{{experiencia.fecha_comienzo}}</td>
                                        <td>{{experiencia.fecha_fin}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
