{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Entrenadores - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Verificar existencia de un entrenador
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Verificar entrenador</li>
{% endblock %}



{% block contenido %}
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel {% if existe %}panel-warning{% else %}panel-success{% endif %}">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">
                    Verificación de la existencia de un entrenador
                </h4>
            </div>
            {% for msg in messages %}
                <div {% if msg.tags == 'error' %} class="alert alert-danger fade in" {% else %} class="alert alert-{{msg.tags}} fade in" {%     endif %} align="center">
                    <span class="close" data-dismiss="alert">×</span>
                    {% if msg.tags == 'error' %}
                        <i class="fa fa-times fa-2x pull-left"></i>
                    {% else %}
                        <i class="fa fa-check fa-2x pull-left"></i>
                    {% endif %}
                    <p>{{msg}}</p>
                </div>
            {% endfor %}
            <div class="panel-body">
                {% if existe %}
                    {% if tenant_existencia %}
                        <div class="note note-warning">
                            <h4>¡Entrenador encontrado!</h4>
                            <p>
                                Se ha encontrado al entrenador {{ entrenador.nombre }} registrado en la entidad {{ tenant_existencia.nombre }}, por favor pongase en contacto
                                con la entidad para solicitar una transferencia de este entrenador o intente con otro número de identificación si así lo desea
                                <a href="{% url 'verificar_entrenador' %}" class="btn btn-primary btn-sm m-r-5">Intentar con otra identificación</a>
                            </p>
                        </div>
                    {% else %}
                        <div class="note note-warning">
                            <h4>¡Entrenador encontrado!</h4>
                            <p>
                                Este entrenador ya se encuentra registrado en esta entidad, por favor escoja una opción:
                                <div class="p-t-5">
                                    <p><a href="{% url 'verificar_entrenador' %}" class="btn btn-warning btn-sm m-r-5">Intentar con otra identificación</a></p>
                                    <p><a href="{% url 'verificar_entrenador' %}" class="btn btn-warning btn-sm m-r-5">Modificar información de este entrenador</a></p>
                                    <p><a href="{% url 'verificar_entrenador' %}" class="btn btn-warning btn-sm m-r-5">Ver este entrenador</a></p>
                                </div>
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form action="" method="post" id="form-verificacion">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button class="btn btn-primary pull-right" type="submit">Verificar</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
