<li class="has-sub {% if '/caf/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <span class="colorMenu">Centro de Acondicionamiento</span>
    </a>
    <ul class="sub-menu">
        {% if perms.snd.add_centroacondicionamiento%}
            {% if request.tenant.tipo == 3 or request.tenant.tipo == 5 or request.tenant.tipo == 8%}
                <li {% if "/caf/crear-editar" in request.path %} class="active" {% endif %}>
                    <a href="{% url 'crear_caf' 'Identificación' %}">Registro</a>
                </li>
            {% endif %}
        {% endif %}
        <li {% if "/caf/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_cafs' %}">Listar CAF</a>
        </li>
        <li {% if "/caf/georreferenciacion" in request.path %} class="active" {% endif %}>
            <a href="{% url 'georreferenciacion_caf' %}">Georreferenciación CAF</a>
        </li>
    </ul>
</li>