<li class="has-sub {% if '/ccf/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="ion-ios-color-filter-outline fa-2x"></i>
        <span>Escenarios CCF</span>
    </a>
    <ul class="sub-menu">
        {% if perms.snd.add_escenario %}
        <li {% if "/ccf/wizard/nuevo" in request.path %} class="active" {% endif %}>
            <a href="{% url 'wizard_caja_escenario' %}">Registro</a>
        </li>      
        {% endif %}         
        <li {% if "/ccf/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_escenarios_ccfs' %}">Listar Escenarios CCF</a>
        </li>       
    </ul>
</li>