<li class="has-sub {% if '/ccf/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <span class="colorMenu">Cajas de Compensación</span>
    </a>
    <ul class="sub-menu">
        {% if perms.snd.add_cajacompensacion %}
        <li {% if "/ccf/wizard/nuevo" in request.path %} class="active" {% endif %}>
            <a href="{% url 'wizard_caja' %}">Registro</a>
        </li>      
        {% endif %}         
        <li {% if "/ccf/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_ccfs' %}">Listar CCF</a>
        </li>       
    </ul>
</li>