<li class="has-sub {% if '/deportistas/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <span span class="colorMenu">Deportistas</span>
    </a>
    <ul class="sub-menu">
        {% if perms.snd.add_deportista%}
            {% if request.tenant.tipo == 3 or request.tenant.tipo == 5 or request.tenant.tipo == 8 or request.tenant.tipo == 9 %}
                <li {% if "/deportistas/crear" in request.path %} class="active" {% endif %}>
                    <a href="{% url 'verificar_deportista' %}">Registro</a>
                </li>
            {% endif %}
        {% endif %}
        <li {% if "/deportistas/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'deportista_listar' %}">Listar deportistas</a>
        </li>
        {%if request.tenant.avalable %}
            <li {% if "/deportistas/avalar-record" in request.path %} class="active" {% endif %}>
                <a href="{% url 'avalar_logros_deportivos' %}">Avalar historial deportivo</a>
            </li>
        {% endif %}
    </ul>
</li>