<li class="has-sub {% if 'directorio' in request.path %} active {% endif %}">
  <a href="javascript:;">
    <b class="caret pull-right"></b>
    <i class="fa fa-phone-square"></i>
    <span class="colorMenu">DIRECTORIOS</span>
  </a>
  <ul class="sub-menu">
    {% if request.tenant.schema_name == 'public' %}
    <li class="has-sub {% if '/directorio-publico/' in request.path %} active {% endif %}">
      <a href="{% url 'directorio_publico_buscar' %}"><span class="colorMenu">Directorio público </span></a>
    </li>
    {% else %}
    <li class="has-sub {% if '/directorio/' in request.path %} active {% endif %}">
        <a href="{% url 'directorio_buscar' %}"><span class="colorMenu">Directorio de contactos</span></a>
    </li> 
    {% endif %}
  </ul>
</li>