<li class="has-sub {% if 'directorio' in request.path %} active {% endif %}">
  <a href="javascript:;">
    <b class="caret pull-right"></b>
    <i class="fa fa-phone-square"></i>
    <span class="colorMenu">DIRECTORIO</span>
  </a>
  <ul class="sub-menu">
    {% if request.tenant.schema_name == 'public' or not request.user.is_authenticated %}
    <li {% if '/directorio-publico/' in request.path %} class="active" {% endif %}>
      <a href="{% url 'directorio_publico_buscar' %}"><span>Directorio público </span></a>
    </li>
    {% else %}
    <li {% if '/directorio/' in request.path %} class="active" {% endif %}>
        <a href="{% url 'directorio_buscar' %}"><span>Directorio de contactos</span></a>
    </li> 
    {% endif %}
  </ul>
</li>