<li class="has-sub {% if '/dirigentes/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <span>Dirigentes</span>
    </a>
    <ul class="sub-menu">
        {% if perms.snd.add_dirigente%}
            <li {% if "/dirigentes/nuevo/wizard/identificacion" in request.path %} class="active" {% endif %}>
                <a href="{% url 'dirigentes_verificar' %}">Registro</a>
            </li>
        {% endif %}
        <li {% if "/dirigentes/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'dirigentes_listar' %}">Listar dirigentes</a>
        </li>
    </ul>
</li>