<li class="has-sub {% if '/entrenadores/' in request.path %} active {% endif %}">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="ion-ios-baseball fa-2x"></i>
            <span>Entrenadores</span>
        </a>
        <ul class="sub-menu">
            {% if perms.snd.add_entrenador %}
            <li {% if "/entrenadores/crear" in request.path %} class="active" {% endif %}>
                <a href="{% url 'entrenador_nuevo' %}">Registro</a>
            </li>
            {% endif %}
            <li {% if "/entrenadores/listar" in request.path %} class="active" {% endif %}>
                <a href="{% url 'entrenador_listar' %}">Listar Entrenadores</a>
            </li>
        </ul>
    </li>