<li class="has-sub {% if '/escenarios/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="ion-ios-americanfootball fa-2x"></i>
        <span class="colorMenu">Escenarios</span>
    </a>
    <ul class="sub-menu">
        {% if perms.snd.add_escenario %}
            {% if request.tenant.tipo != 1 and request.tenant.tipo != 2 %}
                <li {% if "/escenarios/nuevo" in request.path %} class="active" {% endif %}>
                    <a href="{% url 'wizard_nuevo_identificacion' %}">Registro</a>
                </li>
            {% endif %}
        {% endif %} 
        <li {% if "/escenarios/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_escenarios' %}">Listar Escenarios</a>
        </li>       
    </ul>
</li>