<li class="has-sub {% if '/escuela-deportiva/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <span>Gestión Escuela de Formación Deportiva</span>
    </a>
    <ul class="sub-menu">
        <li class="has-sub {% if '/escuela-deportiva/sedes' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <span>Gestión Sedes</span>
            </a>
            <ul class="sub-menu">
                {% if perms.snd.add_escueladeportiva %}
                    <li {% if "/escuela-deportiva/sedes/crear_editar" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'escuela_deportiva_crear_editar' paso='identificacion' edicion=0 %}">Registro Sede</a>
                    </li>
                {% endif %}
                <li {% if "/escuela-deportiva/sedes/listar" in request.path %} class="active" {% endif %}>
                    <a href="{% url 'escuela_deportiva_listar' %}">Listar Sedes</a>
                </li>
            </ul>
        </li>
        <li class="has-sub {% if '/escuela-deportiva/participantes' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <span>Gestión Participantes</span>
            </a>
            <ul class="sub-menu">
                {% if perms.snd.add_escueladeportiva %}
                    <li {% if "/escuela-deportiva/participantes/registrar" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'registrar_participante' %}">Registro Participante</a>
                    </li>
                {% endif %}
                <li {% if "/escuela-deportiva/participantes/listar" in request.path %} class="active" {% endif %}>
                    <a href="{% url 'listar_participante' %}">Listar Participantes</a>
                </li>
            </ul>
        </li>
    </ul>
</li>