<li class="has-sub {% if 'noticias' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="fa fa-newspaper-o"></i>
        <span class="colorMenu">NOTICIAS</span>
    </a>
    <ul class="sub-menu">
        {% if 'noticias.add_noticia' in perms %}
            <li {% if "/noticias/registrar" in request.path %} class="active" {% endif %}>
                <a href="{% url 'registrar_noticia' %}">Registrar noticia</a>
            </li>
        {% endif %}
        <li {% if "/noticias/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_noticias' %}">Listar noticias</a>
        </li>
    </ul>
</li>