<li class="has-sub {% if 'clasificados' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="fa fa-list-alt"></i>
        <span class="colorMenu">CLASIFICADOS</span>
    </a>
    <ul class="sub-menu">
        {% if perms.publicidad.add_clasificado %}
            <li {% if "/clasificados/registrar" in request.path %} class="active" {% endif %}>
                <a href="{% url 'registrar_clasificado' %}">Registrar clasificados</a>
            </li>
        {% endif %}
        {% if perms.publicidad.view_clasificado %}
            <li {% if "/clasificados/gestionar" in request.path %} class="active" {% endif %}>
                <a href="{% url 'gestionar_clasificados' %}">Listar clasificados</a>
            </li>
        {% endif %}
        <li {% if "/clasificados/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_clasificados' %}">Ver clasificados</a>
        </li>
    </ul>
</li>