<li class="has-sub {% if "/registro-resultados/" in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="fa fa-edit"></i>
        <span class="colorMenu">REG. RESULTADOS</span>
    </a>
    <ul class="sub-menu">
        <li class="has-sub {% if '/registro-resultados/datos-competencia' in request.path or '/registro-resultados/listado-competencia' in request.path %} active {% endif %}">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                Competencias
            </a>
            <ul class="sub-menu">
                <li {% if "/registro-resultados/datos-competencia" in request.path  %} class="active" {% endif %}>
                    <a href="{% url 'datos_competencia' %}">Registro competencia</a>
                </li>
                <li {% if "/registro-resultados/listado-competencia" in request.path %} class="active" {% endif %}>
                    <a href="{% url 'listado_competencias' %}">Listado competencias</a>
                </li>
            </ul>
        </li>

        {% if request.session.competencia_seleccionada_id %}
            <li class="has-sub {% if '/registro-resultados/datos-participante' in request.path or '/registro-resultados/datos-equipo' in request.path or '/registro-resultados/menu-competencia' in request.path %} active {% endif %}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    Participante
                </a>
                <ul class="sub-menu">
                    <li {% if "/registro-resultados/datos-participante" in request.path or "/registro-resultados/datos-equipo" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'crear_participante' %}">Registro participante</a>
                    </li>
                    <li {% if "/registro-resultados/menu-competencia" in request.path %} class="active" {% endif %}>
                        <a href="{% url 'menu_competencia' %}">Listado participantes</a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
</li>