<li class="has-sub {% if '/selecciones/' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="ion-trophy fa-2x"></i>
        <span span class="colorMenu">Selecciones</span>
    </a>
    <ul class="sub-menu">
        <li {% if "/selecciones/base" in request.path %} class="active" {% endif %}>
            <a href="{% url 'registrar_seleccion' %}">Registro</a>
        </li>
        <li {% if "/selecciones/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_seleccion' %}">Listar Selecciones</a>
        </li>
    </ul>
</li>