<li class="has-sub {% if 'eventos' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <span class="colorMenu">Gestión eventos <span class="label label-theme m-l-5">NEW</span></span>
    </a>
    <ul class="sub-menu">
        {% if perms.gestion_eventos.add_evento %}
            <li {% if "/eventos/registrar" in request.path %} class="active" {% endif %}>
                <a href="{% url 'registrar_evento' %}">Registrar evento</a>
            </li>
        {% endif %}
        <li {% if "/eventos/listar" in request.path %} class="active" {% endif %}>
            <a href="{% url 'listar_eventos' %}">Listar eventos</a>
        </li>
    </ul>
</li>