<li class="has-sub{% if '/solicitudes-escen/' in request.path  or '/evento' in request.path %} active {% endif %}">
    <a href="javascript:;">
        <b class="caret pull-right"></b>
        <i class="fa fa-plus-circle"></i>
        <span class="colorMenu">SERVICIOS</span>
    </a>
    <ul class="sub-menu">
    {%if perms.respuesta.view_listasolicitudes or perms.solicitud.view_solicitudescenario %}
            {% include "menus/aplicacion/solicitudescenarios.html" %}
    {%endif%}
        {% include "menus/servicios/gestion_eventos.html" %}
    {% if perms.entidades.add_calendarionacional %}
        {% include "menus/aplicacion/calendario_deportivo.html" %}
    {% endif %}
    {% if perms.reconocimiento_deportivo.view_listasolicilistasolicitudesreconocimiento or perms.reconocimiento_deportivo.view_reconocimientodeportivo %}
        {% include "menus/servicios/reconocimiento_deportivo.html" %}
    {% endif %}
    </ul>
</li>