{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Escuelas - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de escuelas de formación deportiva a nivel nacional
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Escuelas</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <style>
        div.table-responsive table td{
            text-transform: uppercase;
        }
    </style>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-escuelas-nacionales";
        opciones = true;

        url = "{% url 'cargar_columnas_tenantnacional' 5 %}";
    </script>


    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block titulo_panel %}
    Escuelas a nivel nacional
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table id="tabla-escuelas-nacionales" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">

        </table>
    </div>
{% endblock %}