*.pyc
.gitignore
.gitignore~
.idea/
Thumbs.db
coldeportes/settings.py
snd/pendiente/
media/
snd/migrations
directorio/migrations
normograma/migrations
manual/migrations
noticias/migrations
reportes/migrations
entidades/migrations
transferencias/migrations
gestion_usuarios/migrations
registro_resultados/migrations
reconocimiento_deportivo/migrations
solicitudes_escenarios/solicitud/migrations
solicitudes_escenarios/respuesta/migrations
publicidad/migrations
listados_doping/migrations
buscador/migrations
gestion_eventos/migrations
listados_doping/migrations
