*.pyc
.gitignore
.gitignore~
.idea/
Thumbs.db
coldeportes/settings.py
snd/pendiente/
media/
snd/migrations
directorio/migrations
normograma/migrations
noticias/migrations
reportes/migrations
entidades/migrations
transferencias/migrations
gestion_usuarios/migrations
