{% if request.user.is_superuser %}
    {% include "menus/aplicacion/usuarios.html" %}
{% else %}
    {% if request.tenant.actores.dirigentes %}
        {% include "menus/aplicacion/dirigentes.html" %}
    {% endif %}
    {% if request.tenant.actores.escenarios %}
    	{% include "menus/aplicacion/escenarios.html" %}
    {% endif %}
    {% if request.tenant.actores.centros %}
        {% include "menus/aplicacion/caf.html" %}
    {% endif %}
    {% if request.tenant.actores.deportistas %}
        {% include "menus/aplicacion/deportistas.html" %}
    {% endif %}
    {% if request.tenant.actores.personal_apoyo %}
        {% include "menus/aplicacion/personal_apoyo.html" %}
    {% endif %}
    {% if request.tenant.actores.cajas %}
        {% include "menus/aplicacion/cajas_compensacion.html" %}
    {% endif %}
    {% include "menus/aplicacion/directorio.html" %}
{% endif %}
{% if request.tenant.schema_name == 'public' %}
    {% include "menus/aplicacion/entidades.html" %}
{% endif %}