<li class="{% if 'caf' in request.path %} active {% endif %}">
    <a href="{% url 'listar_cafs' %}">
        <span class="colorMenu">Listado de centros de acondicionamiento nacionales</span>
    </a>
</li>
<li class="{% if 'deportistas' in request.path %} active {% endif %}">
    <a href="{% url 'deportista_listar' %}">
        <span span class="colorMenu">Listado de deportistas nacionales</span>
    </a>
</li>
<li class="{% if 'dirigentes' in request.path %} active {% endif %}">
    <a href="{% url 'dirigentes_listar' %}">
        <span class="colorMenu">Listado de dirigentes nacionales</span>
    </a>
</li>
<li class="{% if 'personal-apoyo' in request.path %} active {% endif %}">
    <a href="{% url 'personal_apoyo_listar' %}">
        <span class="colorMenu">Listado de personal de apoyo nacional</span>
    </a>
</li>
<li class="{% if 'escenarios' in request.path %} active {% endif %}">
    <a href="{% url 'listar_escenarios' %}">
        <span class="colorMenu">Listado de escenarios nacionales</span>
    </a>
</li>