<li class="has-sub {% if 'caf' in request.path %} active {% endif %}">
    <a href="{% url 'listar_cafs_nacionales' %}">
        <i class="fa fa-bicycle"></i>
        <span class="colorMenu">Centro de Acondicionamiento</span>
    </a>
</li>
<li class="has-sub {% if 'cajas-compensacion' in request.path %} active {% endif %}">
    <a href="{% url 'listar_cajas_nacionales' %}">
        <i class="ion-ios-color-filter-outline fa-2x"></i>
        <span class="colorMenu">Cajas de Compensación</span>
    </a>
</li>
<li class="has-sub {% if 'deportistas' in request.path %} active {% endif %}">
    <a href="{% url 'listar_deportistas_nacionales' %}">
        <i class="ion-ribbon-a fa-2x"></i>
        <span span class="colorMenu">Deportistas</span>
    </a>
</li>
<li class="has-sub {% if 'dirigentes' in request.path %} active {% endif %}">
    <a href="{% url 'listar_dirigentes_nacionales' %}">
        <i class="fa fa-futbol-o"></i>
        <span class="colorMenu">Dirigentes</span>
    </a>
</li>
<li class="has-sub {% if 'entrenadores' in request.path %} active {% endif %}">
    <a href="{% url 'listar_entrenadores_nacionales' %}">
        <i class="ion-ios-baseball fa-2x"></i>
        <span class="colorMenu">Entrenadores</span>
    </a>
</li>
<li class="has-sub {% if 'escenarios' in request.path %} active {% endif %}">
    <a href="{% url 'listar_escenarios_nacionales' %}">
        <i class="ion-ios-americanfootball fa-2x"></i>
        <span class="colorMenu">Escenarios</span>
    </a>
</li>