<li {% if 'caf' in request.path %} class="active" {% endif %}>
    <a href="{% url 'listar_cafs' %}">
        <span>Listado de centros de acondicionamiento nacionales</span>
    </a>
</li>
<li class="{% if 'deportistas' in request.path %} active {% endif %}">
    <a href="{% url 'deportista_listar' %}">
        <span>Listado de deportistas nacionales</span>
    </a>
</li>
<li class="{% if 'dirigentes' in request.path %} active {% endif %}">
    <a href="{% url 'dirigentes_listar' %}">
        <span>Listado de dirigentes nacionales</span>
    </a>
</li>
<li class="{% if 'personal-apoyo' in request.path %} active {% endif %}">
    <a href="{% url 'personal_apoyo_listar' %}">
        <span>Listado de personal de apoyo nacional</span>
    </a>
</li>
<li class="{% if 'escenarios' in request.path %} active {% endif %}">
    <a href="{% url 'listar_escenarios' %}">
        <span>Listado de escenarios nacionales</span>
    </a>
</li>
<li class="{% if 'escuelas' in request.path %} active {% endif %}">
    <a href="{% url 'escuela_deportiva_listar' %}">
        <span>Listado de escuelas de formación deportiva nacionales</span>
    </a>
</li>
<li class="{% if 'cajas' in request.path %} active {% endif %}">
    <a href="{% url 'listar_ccfs' %}">
        <span>Listado de cajas de compensación familiar nacionales</span>
    </a>
</li>