{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li><a href="">Entidades</a>
	<li class="active">Editar</li>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{STATIC_URL}}js/validaciones/entidad/editar_entidad.js"></script>
    <script>
        $(document).ready(function(){
            $('#id_solicitud, label[for="id_solicitud"]').hide();
        });
        $("#id_escenarios").on('change',function(){
            var escenario = $(this);
            if(escenario.is(":checked")){
                $("#id_solicitud").prop('checked', true);
            }else{
                $("#id_solicitud").prop('checked', false);
            }

        })
    </script>
{% endblock %}

{% block css %}
	{{form.media}}
{% endblock %}

{% block titulo_panel %}
	Editar {{nombre}}
{% endblock %}

{% block contenido_panel %}
	<div class="row">
		<div class="col-sm-12">
			<form id="entidad" class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
				{% bootstrap_form form layout="horizontal" %}
				{% if nombre != 'Centro de Acondicionamiento Físico' %}
                    <b>Seleccione los tipos de actores que podrá registrar la entidad:</b>
                {% endif %}
			    {% bootstrap_form form2 layout="horizontal" %}

				<button class="btn btn-primary pull-right" type="submit" style="margin-left:5px;">Guardar</button>
			</form>
		</div>
	</div>
{% endblock %}