{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li>Club</li>
	<li class="active">Socios</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block titulo_panel %}
	Socios del club
{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-4" >
            <form id="formulario-socio" action="" method="post">{% csrf_token %}
                <div class="well row">
                    <div class="col-xs-12">
                        {% if edicion %}
                            <h3>Modificar Socio</h3>
                        {% else %}
                            <h3>Registrar Nuevo Socio</h3>
                        {% endif %}
                        {% for i in form %}
                            {% bootstrap_field i layout="vertical" %}
                        {% endfor %}
                        {% if edicion %}
                            <button class="pull-right row btn btn-primary" type="submit" style="margin-top:10px;margin-right: 1px;"><i class="fa fa-check"></i> Guardar cambios</button>
                        {% else %}
                            <button class="pull-right row btn btn-primary" type="submit" style="margin-top:10px;margin-right: 1px;"><i class="fa fa-plus"></i> Añadir</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-8">
            <h3>Socios registrados actualmente:</h3>

            {% if socios %}
                <table id="data-table-socios" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for socio in lista_socios %}
                            <tr>
                                <td>{{ socio.numero_documento }}</td>
                                <td>{{socio.nombre}}</td>
                                <td>{{socio.apellido}}</td>
                                {% if socio.estado %}
                                    <td><span class="label label-primary">Activo</span></td>
                                {% else %}
                                    <td><span class="label label-danger">Inactivo</span></td>
                                {% endif %}
                                <td>
                                    <a href="#" data-target="#modal-consultar-{{socio.id}}" data-toggle="modal"><i class="fa fa-eye"> Vista previa </i></a><br>
                                    <a href="{% url 'editar_socio' socio.id %}"><i class="fa fa-gear"> Modificar </i></a><br>
                                    <a href="#" data-target="#modal-desactivar-{{socio.id}}" data-toggle="modal"><i class="fa fa-refresh"> Activar/Desactivar </i></a>
                                </td>
                            </tr>

                            <!-- modales -->
                            <div class="modal fade" id="modal-desactivar-{{socio.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Cambiar estado</h4>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea cambiar el estado de este socio?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="" class="btn btn-sm btn-white" data-dismiss="modal">No</a>
                                            <a href="{% url 'desactivar_socio' socio.id %}" class="btn btn-sm btn-danger">Si</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="modal-consultar-{{socio.id}}" class="modal fade" role="dialog" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Datos del socio</h4>
                                        </div>
                                        <div class="modal-body">
                                            <b>Nombre completo: </b>{{socio.nombre}} {{ socio.apellido }}<br>
                                            <b>Tipo documento: </b> {{socio.tipo_documento}}<br>
                                            <b>Número de documento: </b> {{socio.numero_documento}}<br>
                                            <b>Correo electrónico: </b> {{socio.correo}}<br>
                                            <b>Ciudad: </b> {{ socio.ciudad }}<br>
                                            <b>Empresa: </b> {{ socio.empresa }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning fade in m-b-15"><strong>No hay socios registrados</strong></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/validaciones/entidad/validaciones-socios.js"></script>
    {% if edicion %}
        <script>
            $(document).ready(function(){
                $("select").css("pointer-events", "none");
            });
        </script>
    {% endif %}

    <script src="{{STATIC_URL}}plugins/DataTables/js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}plugins/DataTables/js/dataTables.tableTools.js"></script>
    <script type="text/javascript">
        if ($('#data-table-socios').length !== 0) {
            $('#data-table-socios').DataTable({
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "{{STATIC_URL}}"+"plugins/DataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        }
    </script>
{% endblock %}