<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label badge-inverse">1</span>
        <a class="hidden-phone">
            <a {% if edicion == 1 or edicion == '1' %} href="{% url 'dirigentes_edicion' dirigente_id=dirigente_id%}" style="cursor:pointer;"{% endif %}>
                Identificación <small>Datos de indentificación</small>
            </a>
        </a>
    </li>
    <li role="tab" {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label badge-inverse">2</span>
        <a class="hidden-phone">
            <a {% if edicion == 1 or edicion == '1' %} href="{% url 'dirigentes_cargos' dirigente_id=dirigente_id edicion=edicion %}" style="cursor:pointer;"{% endif %}>
                Cargos <small>Cargos del dirigente</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">3</span>
        <a class="hidden-phone">
            <a {% if edicion == 1 or edicion == '1' %} href="{% url 'dirigentes_funciones' dirigente_id=dirigente_id edicion=edicion %}" style="cursor:pointer;"{% endif %}>
                Funciones <small>Funciones del cargo</small>
            </a>
        </a>
    </li>
</ol>
<br/>