<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label badge-inverse">1</span><a class="hidden-phone">
        Identificación <small>Datos de indentificación</small>
        </a>
    </li>
    <li role="tab" {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label badge-inverse">2</span><a class="hidden-phone">
        Cargos <small>Cargos del dirigente</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">3</span><a class="hidden-phone">
        Funciones <small>Funciones del cargo</small>
        </a>
    </li>
</ol>
<br/>