{% extends 'dirigentes/wizard/wizard_identificacion.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block contenido_panel %}
    {% include 'dirigentes/wizard/_wizard.html' %}
        <div class="row">
            <fieldset class="col-md-7" >
                <form action="" method="post">{% csrf_token %}
                <div class="well row">
                    <div class="col-xs-12">
                         <legend class="pull-left width-full">
                            {% include 'dirigentes/wizard/_mensajes.html' %}
                        </legend>
                        {% bootstrap_form form layout='vertical' %}

                        <button class="pull-right row btn btn-info" type="submit" style="margin-top:10px;"><i class="fa fa-save"></i> Guardar</button>              
                    </div>
                </div>
                </form>
            </fieldset> 
            <div class="col-md-5">
                <h4>Funciones Actuales:</h4>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th align="center">Descripción de la función</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for funcion in funciones %}
                        <tr>
                            <td align="center">{{funcion.descripcion}}</td>
                            <td align="center">
                                <a href="#modal-desactivate" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                <div class="modal fade" id="modal-desactivate">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Eliminar Función:</h4>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea eliminar esta función?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                <a href="{% url 'dirigentes_eliminar_funcion' dirigente_id funcion.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <ul class="pager bwizard-buttons">
            {% if wizard_stage > 1 %}
                <input class="btn btn-success pull-left" type="button" value="{%trans '← Anterior' %}" name="volver atras" onclick="history.back()" />
            {% endif %}     
            <a href="{% url 'dirigentes_finalizar' opcion='listar' %}" class="btn btn-primary pull-right">{% trans 'Finalizar →' %}</a>
            <a href="{% url 'dirigentes_finalizar' opcion='nuevo' %}" class="btn btn-primary pull-right" style="margin-right: 20px;">{% trans 'Finalizar y Guardar Nuevo →' %}</a>
        </ul>

{% endblock %}