{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Dirigentes - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Ver Detalles de Dirigente
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Ver Dirigente</li>
{% endblock %}

{% block css %}
    <style type="text/css">
    .funciones li{
        list-style: none;
        display: list-item;
        line-height: 20px;
    }
    .funciones li:before {
        margin-right: 10px;
    }
    .media-object{
        float: left;
        width: 100px !important;
        height: 100px !important;
    }
    </style>
{% endblock %}

{% block titulo_panel %}
    Detalles del Dirigente
{% endblock %}

{% block contenido_panel %}
<div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
    <div class="panel-heading p-0">
        <div class="panel-heading-btn m-r-10 m-t-10">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
        <!-- begin nav-tabs -->
        <div class="tab-overflow">
            <ul class="nav nav-tabs">
                <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                <li class="active"><a href="#nav-tab2-1" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>
                {% if funciones %}<li class=""><a href="#nav-tab2-2" data-toggle="tab"><i class="fa fa-paint-brush"></i> Funciones</a></li>{% endif %}
                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="nav-tab2-1">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_dirigentes_nacionales' %}
                                 {% else %}
                                    {% url 'dirigentes_listar' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{dirigente.nombres}} {{dirigente.apellidos}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <ul class="media-list">
                                <li class="media">
                                    <a href="javascript:;" class="media-left"></a>
                                    {%if dirigente.foto%}
                                        <img class="media-object rounded-corner" src="{{MEDIA_URL}}{{dirigente.foto}}" alt=""/>
                                    {%elif dirigente.genero == "Hombre"%}
                                        <img class="media-object rounded-corner" src="{{STATIC_URL}}img/male.png" alt=""/>
                                    {%else%}
                                        <img class="media-object rounded-corner" src="{{STATIC_URL}}img/female.png" alt=""/>
                                    {%endif%}
                                    <div class="media-body">
                                        <p style="margin-left: 50px">
                                            {% if tenant_nacional %}
                                                Entidad: {{ dirigente.entidad }}<br/>
                                            {% else %}
                                                Identificación: {{dirigente.tipo_identificacion}}. {{dirigente.identificacion}}<br />
                                            {% endif %}
                                            Género: {{dirigente.genero}}<br/>
                                            Cargo: {{dirigente.cargo}}<br/>
                                            Superior: 
                                            {% if dirigente.superior %}
                                                {{dirigente.superior.nombres}} {{dirigente.superior.apellidos}} - {{dirigente.superior.cargo}}
                                            {% else %} 
                                                Ninguno  
                                            {% endif %}<br/>
                                            Teléfono: {{dirigente.telefono}}<br/>
                                            Email: 
                                            {% if dirigente.email %} 
                                                {{dirigente.email}} 
                                            {% else %} 
                                                Ninguno 
                                            {% endif %}<br/>
                                            Fecha de Posesión: {{dirigente.fecha_posesion}}<br/>
                                            Fecha de Retiro: 
                                            {% if dirigente.fecha_retiro %} 
                                                {{dirigente.fecha_retiro}} 
                                            {% else %} 
                                                Aún activo 
                                            {% endif %}<br/>
                                            Nacionalidad: 
                                            {% for nac in dirigente.nacionalidad.all %}
                                                {{nac}}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </address>
                    </div>                    
                </div>
                <h5 class="m-t-10">Descripción:</h5>
                <p>{{dirigente.descripcion}}</p>
            </div>
        </div>
        
        {% if funciones %}
        <div class="tab-pane fade" id="nav-tab2-2">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_dirigentes_nacionales' %}
                                 {% else %}
                                    {% url 'dirigentes_listar' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{dirigente.nombres}} {{dirigente.apellidos}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                        <strong>Cargo: {{dirigente.cargo}}</strong><br/><br/>
                        <ul class="funciones">
                            {% for funcion in funciones %}
                                <li class="fa fa-lg fa-tag">{{funcion.descripcion}}</li>
                            {% endfor %}
                        </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
