{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block head %}
	Nuevo Dirigente
{% endblock %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li><a href="">Gestion Dirigentes</a>
	<li class="active">Registro</li>
{% endblock %}

{% block titulo_panel %}
	Registro Nuevo Dirigente
{% endblock %}

{% block titulo_contenido %}
	Gestion de Dirigentes:
{% endblock %}

{% block contenido_panel %}
	<fieldset>
		<form action="" method="POST">{% csrf_token %}
		<div class="well row">
			<div class="col-xs-12">
				<h3>{{titulo}}</h3>
				{% bootstrap_form form layout="horizontal" %}
			</div>
			<input class="btn btn-primary pull-right" type="submit" value="Registrar"/>
		</div>
		</form>
	</fieldset>
{% endblock %}