{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Deportistas-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de Deportistas
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Deportistas</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}



{% block titulo_panel %}
    Listar Deportistas
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-deportistas";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block contenido_panel %}

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
            <table id="tabla-deportistas" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Ciudad (Departamento) Nacimiento</th>
                        {% if perms.snd.change_deportista %}
                            <th>Tipo Identificación</th>
                            <th>Identificación</th>
                        {% endif %}
                        <th>Edad</th>
                        <th>Disciplinas</th>
                        <th>Estado</th>
                        {% if perms.snd.change_deportista %}
                            <th>Opciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for deportista in deportistas %}
                        <tr>
                            <td align="center">
                                {%if deportista.foto%}
                                    <img class="media-object rounded-corner" src="{{MEDIA_URL}}{{deportista.foto}}" alt="" width="60" height="60" />
                                {%elif deportista.genero == "Hombre"%}
                                    <img class="media-object rounded-corner" src="{{STATIC_URL}}img/male.png" alt="" width="60" height="60"/>
                                {%else%}
                                    <img class="media-object rounded-corner" src="{{STATIC_URL}}img/female.png" alt="" width="60" height="60"/>
                                {%endif%}
                            </td>
                            <td>{{deportista.nombres}} {{deportista.apellidos}}</td>
                            <td>{{deportista.ciudad_nacimiento}}</td>
                            {% if perms.snd.change_deportista %}
                                <td>{{ deportista.tipo_id }}</td>
                                <td>{{deportista.identificacion}}</td>
                            {% endif %}
                            <td>{{ deportista.edad }}</td>
                            <td>
                                {%for d in deportista.disciplinas.all%}
                                    {{ d }},
                                {% endfor %}
                            </td>
                            <td>{% if deportista.activo %} Activo {% else %} Inactivo {% endif %}</td>
                            <td>
                                <a href="{% url 'ver_deportista' deportista.id %}" title="Modificar">
                                    <i class="fa fa-eye"></i> Ver Deporstista
                                </a>
                                <br/>
                                {% if perms.snd.change_deportista %}
                                    <a href="{% url 'edicion_deportista' deportista.id %}" title="Modificar">
                                        <i class="fa fa-gear"></i> Editar
                                    </a>
                                    <br/>
                                    <a href="#modal-desactivate-{{ deportista.id }}" data-toggle="modal">
                                        <i class="fa fa-ban"></i> Activar / Inactivar
                                    </a>
                                    <br/>
                                    <a href="{% url 'transferencias.views.generar_transferencia' 1 1 deportista.id %}" title="Transferir">
                                        <i class="fa fa-exchange"></i> Transferir
                                    </a>
                                    <div class="modal fade" id="modal-desactivate-{{ deportista.id }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Desactivar Deportista:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Está seguro que desea desactivar este deportista?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                    <a href="{% url 'deportista_desactivar' deportista.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div> 
    </div>
    
{% endblock %}
