{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Deportistas - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Ver Detalles de Deportista
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'deportista_listar' %}">Deportistas</a></li>
    <li class="active">Ver Deportista</li>
{% endblock %}

{% block css %}
    <style>
        .profile-image img {
          display: block;
          width: 100%;
          max-height: 100%;
        }

    </style>
{% endblock %}


{% block contenido %}

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="{% url 'deportista_listar' %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
        <h4 class="panel-title">
            Información del deportista: {{deportista.nombres}} {{deportista.apellidos}}
        </h4>
    </div>
    <div class="panel-body" style="padding:0">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{STATIC_URL}}img/ver_mas_deportistas.png" alt="deportistas" style="width:100%; height:250px">
                <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
                    <div class="panel-heading p-0">
                        <div class="panel-heading-btn m-r-10 m-t-10">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        </div>

                        <div class="tab-overflow">
                            <ul class="nav nav-tabs">
                                <li class="prev-button">
                                    <a href="javascript:;" data-click="prev-tab" class="text-inverse">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                </li>

                                <li class="active"><a href="#nav-tab2-11" data-toggle="tab"><i class="fa fa-globe"></i> Datos de Identificación</a></li>

                                <li class=""><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-stethoscope"></i> Composición Corporal</a></li>

                                <li class=""><a href="#nav-tab2-13" data-toggle="tab"><i class="fa fa-info-circle"></i> Información Adicional</a></li>

                                <li class=""><a href="#nav-tab2-14" data-toggle="tab"><i class="ion fa-md ion-trophy"></i> Historial Deportivo</a></li>

                                <li class=""><a href="#nav-tab2-15" data-toggle="tab"><i class="fa fa-md fa-graduation-cap"></i> Información Academica</a></li>

                                <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-md fa-medkit"></i> Historial Lesiones</a></li>

                                <li class=""><a href="#nav-tab2-17" data-toggle="tab"><i class="fa fa-md fa-heartbeat"></i> Historial Doping</a></li>

                                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" style="margin-bottom:0px;padding-bottom:0px">
                        <div class="tab-pane fade active in" id="nav-tab2-11" style="margin-bottom:0px">
                            <div class="invoice" style="margin-bottom:0px;padding-bottom:0px">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <div class="profile-left">
                                                <div class="profile-image">
                                                    {%if deportista.foto %}
                                                        <img src="{{MEDIA_URL}}{{deportista.foto}}" alt="Foto del deportista">
                                                    {%else%}
                                                        <img src="{{STATIC_URL}}img/depor_default.png" alt="Foto del deportista" />
                                                    {%endif%}
                                                    <i class="fa fa-user hide"></i>
                                                </div>
                                            {% comment %}
                                            <b>Club Deportivo Actual:</b><br/>
                                                {{ deportista.entidad }}
                                            {% endcomment %}
                                            </div>
                                            <div class="profile-right">
                                                <div class="col-lg-9">
                                                    <p>{% if perms.snd.change_deportista and request.tenant.schema_name != 'public' %}
                                                        <b>{{deportista.get_tipo_id_display | title}} </b>: {{deportista.identificacion}}<br />
                                                    {% else %}
                                                        <b>Entidad:</b> {{ deportista.entidad | upper}}<br/>
                                                    {% endif %}</p>
                                                    {% if request.tenant.schema_name != 'public' %}
                                                        {% ifequal deportista.estado 3 %}
                                                            <p><b>Estado:</b> {{deportista.get_estado_display}} A {{ deportista.entidad | upper  }}</p>
                                                        {% else %}
                                                            <p><b>Estado:</b> {{deportista.get_estado_display}}</p>
                                                        {% endifequal %}
                                                    {% endif %}
                                                    <p><b>Género:</b> {{deportista.get_genero_display}}</p>
                                                    <p><b>Edad:</b> {{ deportista.edad }}</p>
                                                    <p><b>Disciplinas:</b> {{ deportista.disciplinas_deportivas }}</p>
                                                    <p><b>Etnia:</b>
                                                        {%if deportista.etnia%}
                                                            {{ deportista.etnia}}
                                                        {%else%}
                                                            Ninguna
                                                        {%endif%}
                                                    </p>
                                                    <p><b>Nacionalidades:</b> {{deportista.nacionalidad_str}}</p>
                                                    <p><b>Ciudad (Departamento) de Residencia:</b> {{ deportista.ciudad_residencia}}</p>
                                                    <p><b>Club Deportivo Actual:</b> {{ deportista.entidad }}</p>
                                                </div>
                                            {% if perms.snd.change_deportista and request.tenant.schema_name != 'public' %}
                                                <p><strong>Contacto:</strong></p>
                                                <p><b>Teléfono:</b> {{deportista.telefono}}</p>
                                                <p><b>Dirección:</b> {{deportista.direccion}}</p>
                                                <p><b>Correo electrónico:</b>
                                                {% if deportista.email %}
                                                    {{deportista.email}}
                                                {% else %}
                                                    Ninguno
                                                {% endif %}</p>
                                                <p><b>Barrio:</b> {{ deportista.barrio }} <p/>
                                                <p><b>Comuna:</b> {{ deportista.comuna }} <p/>
                                            {% endif %}
                                                <div class="row">
                                                    <p><strong>Video:</strong></p>
                                                    {% if deportista.video %}
                                                        <a class="btn btn-md btn-info" href="#modal-video" data-toggle="modal"><i class="fa fa-play"></i> Ver Video</a>
                                                        <div class="modal fade" id="modal-video">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        <h4 class="modal-title">Video de {{ deportista.full_name }}:</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div align="center">
                                                                            <iframe  width="500" height="400" src="https://www.youtube.com/embed/{{deportista.short_video_url}}" frameborder="0" allowfullscreen></iframe>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="javascript:;" class="btn btn-md btn-info" data-dismiss="modal">Cerrar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        Ninguno
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </address>

                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--COMPOSICION CORPORAL-->
                        <div class="tab-pane fade" id="nav-tab2-12">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <div class="row">
                                            <address class="m-t-5 m-b-5">
                                                <div class="col-lg-6">
                                                    <p><strong>Composicion Corporal:</strong></p>
                                                    <p><b>Camisa:</b> {{ composicion.talla_camisa }}</p>
                                                    <p><b>Pantaloneta:</b> {{ composicion.talla_pantaloneta }}<p/>
                                                    <p><b>Zapato:</b> {{ composicion.talla_zapato | upper}}</p>
                                                    <p><b>Indice de Masa Corporal:</b> {{composicion.imc}} kg/m^2</p>
                                                    <p><b>Porcentaje Grasa:</b> {{ composicion.porcentaje_grasa }}% </p>
                                                    <p><b>Masa Muscular Magra:</b> {{ composicion.masa_corporal_magra }} kg </p>
                                                    {% if request.tenant.schema_name != 'public' %}
                                                        <p><b>EPS:</b> {{composicion.eps}}</p>
                                                        <p><b>RH:</b> {{composicion.RH}}</p>
                                                    {% endif %}
                                                    <p><b>Estatura:</b> {{composicion.estatura}} Cm</p>
                                                    <p><b>Peso:</b> {{composicion.peso}} Kg</p>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="row">
                                            <div align="right">
                                                <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--INFORMACIÓN ADICIONAL-->
                        <div class="tab-pane fade" id="nav-tab2-13">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <div class="row">
                                            <address class="m-t-5 m-b-5">
                                                <div class="col-lg-6">
                                                    <p><strong>Información Adicional:</strong></p>
                                                    <ul>
                                                        {% if info_adicional.usa_centros_biomedicos %}
                                                            <li>El deportista usa centros biomédicos</li>
                                                        {% else %}
                                                            <li>El deportista NO usa centros biomédicos</li>
                                                        {% endif %}

                                                        {% if info_adicional.es_beneficiario_programa_apoyo %}
                                                            <li>El deportista es beneficiario de un programa de apoyo</li>
                                                        {% else %}
                                                            <li>El deportista NO es beneficiario de un programa de apoyo</li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </address>
                                        </div>
                                        <div class="row">
                                            <div align="right">
                                                <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--HISTORIAL DEPORTIVO-->
                        <div class="tab-pane fade" id="nav-tab2-14">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <div class="table-responsive">
                                                <table class="table table-invoice">
                                                    <thead>
                                                        <tr>
                                                            <th>NOMBRE COMPETENCIA</th>
                                                            <th>FECHA INICIAL</th>
                                                            <th>FECHA FINALIZACIÓN</th>
                                                            <th>PAÍS</th>
                                                            <th>INSTITUCIÓN O EQUIPO</th>
                                                            <th>TIPO</th>
                                                            <th>PUESTO</th>
                                                            <th>CATEGORIA</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for historial in historial_deportivo %}
                                                            <tr>
                                                                <td>{{historial.nombre}}</td>
                                                                <td>{{historial.fecha_inicial}}</td>
                                                                <td>{{ historial.fecha_final }}</td>
                                                                <td>{{historial.pais}}</td>
                                                                <td>
                                                                    {% if historial.institucion_equipo %}
                                                                        {{ historial.institucion_equipo }}
                                                                    {% else %}
                                                                        Ninguno
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{historial.tipo}}</td>
                                                                <td>{{historial.puesto}}</td>
                                                                <td>{{historial.categoria}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {%if not historial_deportivo%}
                                                    <p align="center">No hay resultados disponibles</p>
                                                {%endif%}
                                            </div>
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--INFORMACION ACADEMICA-->
                        <div class="tab-pane fade" id="nav-tab2-15">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <div class="table-responsive">
                                                <table class="table table-invoice">
                                                    <thead>
                                                        <tr>
                                                            <th>INSTITUCIÓN</th>
                                                            <th>NIVEL</th>
                                                            <th>ESTADO</th>
                                                            <th>PROFESIÓN</th>
                                                            <th>PAÍS</th>
                                                            <th>AÑO FINALIZACIÓN</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for academico in informacion_academica %}
                                                            <tr>
                                                                <td>{{academico.institucion}}</td>
                                                                <td>{{academico.nivel}}</td>
                                                                <td>{{academico.estado}}</td>
                                                                <td>{% if academico.profesion %}{{ academico.profesion }}{% else %}N/A{% endif %}</td>
                                                                <td>{{ academico.pais }}</td>
                                                                <td>{% if academico.fecha_finalizacion %}{{ academico.fecha_finalizacion }}{% else %}Actual{% endif %}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {%if not informacion_academica%}
                                                    <p align="center">No hay resultados disponibles</p>
                                                {%endif%}
                                            </div>
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--HISTORIAL LESIONES-->
                        <div class="tab-pane fade" id="nav-tab2-16">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <div class="table-responsive">
                                                <table class="table table-invoice">
                                                    <thead>
                                                        <tr>
                                                            <th>TIPO LESIÓN</th>
                                                            <th>FECHA LESIÓN</th>
                                                            <th>PERIODO REHABILITACIÓN</th>
                                                            <th>SEGMENTO CORPORAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for historial in historial_lesiones %}
                                                            <tr>
                                                                <td>{{historial.get_tipo_lesion_display}}</td>
                                                                <td>{{historial.fecha_lesion}}</td>
                                                                <td>{{historial.get_periodo_rehabilitacion_display}}</td>
                                                                <td>{{ historial.get_segmento_corporal_display }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {%if not historial_lesiones%}
                                                    <p align="center">No hay resultados disponibles</p>
                                                {%endif%}
                                            </div>
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--HISTORIAL DOPING-->
                        <div class="tab-pane fade" id="nav-tab2-17">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{deportista.nombres}} {{deportista.apellidos}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <div class="table-responsive">
                                                <table class="table table-invoice">
                                                    <thead>
                                                        <tr>
                                                            <th>FECHA</th>
                                                            <th>EVENTO</th>
                                                            <th>DELEGADO</th>
                                                            <th>OBSERVACIONES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for historial in historial_doping %}
                                                            <tr>
                                                                <td>{{historial.fecha}}</td>
                                                                <td>{{historial.evento}}</td>
                                                                <td>{% if request.tenant.schema_name != 'public' %}{{historial.tipo_identidad_delegado}}:{{historial.identificacion_delegado}}
                                                                    ,{% endif %} {{ historial.nombre_delegado }}</td>
                                                                <td>{{historial.observaciones}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {%if not historial_doping%}
                                                    <p align="center">No hay resultados disponibles</p>
                                                {%endif%}
                                            </div>
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}plugins/superbox/js/superbox.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            console.log("Re holis");
            $('#modal-video').on('hidden.bs.modal', function () {
                console.log("Holis");
                $iframe = $(this).find( "iframe" );
                $iframe.attr("src", $iframe.attr("src"));
            });

        });
    </script>
{% endblock %}