<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label badge-inverse">1</span>
    	<a class="hidden-phone">
    		<a {% if escuela_id %} href="{% url 'wizard_sede' escuela_id%}" style="cursor:pointer;"{% endif %}>
        		Identificación <small>Datos de identificación, ubicación y contacto</small>
    		</a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">2</span>
    	<a class="hidden-phone">
    		<a {% if escuela_id %} href="{% url 'wizard_servicios' escuela_id %}" style="cursor:pointer;"{% endif %}>
        		Servicios <small>Servicios ofrecidos por la sede de la Escuela de Formación Deportiva</small>
        	</a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">3</span>
    	<a class="hidden-phone">
    		<a {% if escuela_id %} href="{% url 'wizard_horarios_sede' escuela_id %}" style="cursor:pointer;"{% endif %}>
        		Horarios <small>Horarios de actividades de las sedes de las EFD</small>
        	</a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 4 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">4</span>
    	<a class="hidden-phone">
    		<a {% if escuela_id %} href="{% url 'wizard_categorias_sede' escuela_id %}" style="cursor:pointer;"{% endif %}>
        		Categorías <small>Categorías de las sedes de las EFD</small>
        	</a>
        </a>
    </li>
</ol>
<br/>