{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Registro de Resultados</a>
    <li class="active">Listado de Competencias</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de Competencias
{% endblock %}

{% block titulo_panel %}
    Listado de Competencias
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-entidades";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
    
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block botones_panel %}
    <a href="{% url 'datos_competencia' juego_id %}" class="btn btn-warning btn-xs "><i class="fa fa-plus"></i> Nueva Competencia</a>
{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tabla-entidades" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nombre</th>
                            <th>Deporte</th>
                            <th>Fecha</th>
                            <th>Categoría</th>
                            <th>Modalidad</th>
                            <th>Descripción</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for competencia in competencias %}
                        <tr>
                            <td align="center">
                                {% if competencia.imagen == "" or competencia.imagen == None %}
                                    <img src="{{STATIC_URL}}img/competencia.jpg" height='50' width='70'>
                                {% else %}
                                    <img src="{{MEDIA_URL}}{{competencia.imagen}}" height='50' width='70'>
                                {% endif %}
                            </td>
                            <td>{{competencia.nombre}}</td>
                            <td>{{competencia.deporte}}</td>
                            <td>{{competencia.fecha_competencia}}</td>
                            <td>{%if competencia.categoria %}{{competencia.categoria}}{% else %}No registra{% endif %}</td>
                            <td>{%if competencia.modalidad %}{{competencia.modalidad}}{% else %}No registra{% endif %}</td>
                            <td>{{competencia.descripcion}}</td>
                            <td>
                                <a href='{% url 'crear_participante' juego_id competencia.id %}'>
                                    <i class="fa fa-check"></i> Ingresar Resultados
                                </a><br>
                                <a href='{% url 'datos_competencia' juego_id competencia.id %}'>
                                    <i class="fa fa-edit"></i> Modificar
                                </a><br>
                                <a href='{% url 'eliminar_competencia' juego_id competencia.id %}'>
                                    <i class="fa fa-trash"></i> Eliminar
                                </a><br>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}