{% extends 'base.html' %}
{% load bootstrap3 %}
{% block titulo %}Competencias - SIND-Coldeportes {% endblock %}
{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Registro de Resultados</a>
    <li class="active">Listado de Competencias</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de Competencias
{% endblock %}

{% block titulo_panel %}
    Listado de Competencias
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-entidades";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
    
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
<div  class="wrapper bg-silver-lighter clearfix">
    <a href="{% url 'listar_juegos' %}" class="btn btn-sm btn-primary p-l-20 p-r-20 btn-sm"><i class="fa fa-arrow-left m-r-5"></i> Listar Juegos</a>
    <a href="{% url 'datos_competencia' juego_id %}" class="btn btn-sm btn-success p-l-20 p-r-20 btn-sm"><i class="fa fa-plus m-r-5"></i> Nueva Competencia</a>
    <a href="{% url 'cargas_competencias' juego_id %}" class="btn btn-sm btn-success p-l-20 p-r-20 btn-sm"><i class="fa fa-refresh"></i> Cargar Competencias Archivo</a>
    <div class="pull-right">
        <div class="btn-group btn-toolbar">
            <a  class="btn btn-white btn-sm disabled"><i class="fa fa-bicycle"></i></a>
            <a  class="btn btn-white btn-sm disabled"><i class="fa fa-futbol-o"></i></a>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="tabla-entidades" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nombre</th>
                        <th>Lugar</th>
                        <th>Tipo de Competencia</th>
                        <th>Tipo de Disciplina</th>
                        <th>Deporte</th>
                        <th>Tipos de Participantes</th>
                        <th>Fecha</th>
                        <th>Categoría</th>
                        <th>Modalidad</th>
                        <th>Tipo de Registros</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for competencia in competencias %}
                    <tr>
                        <td align="center">
                            {% if competencia.imagen == "" or competencia.imagen == None %}
                                <img src="{{STATIC_URL}}img/competencia.jpg" height='50' width='70'>
                            {% else %}
                                <img src="{{MEDIA_URL}}{{competencia.imagen}}" height='50' width='70'>
                            {% endif %}
                        </td>
                        <td>{{competencia.nombre}}</td>
                        <td>{{competencia.lugar}}</td>                       
                        <td>{{competencia.get_tipo_competencia_display}}</td>                       
                        <td>{{competencia.deporte}}</td>                       
                        <td>{{competencia.deporte}}</td>
                        <td>{{competencia.get_tipos_participantes_display}}</td>
                        <td>{{competencia.fecha_competencia}}</td>
                        <td>{%if competencia.categoria %}{{competencia.categoria}}{% else %}No registra{% endif %}</td>
                        <td>{%if competencia.modalidad %}{{competencia.modalidad}}{% else %}No registra{% endif %}</td>
                        <td>{{competencia.get_tipo_registro_display}}</td>
                        <td>{% if competencia.descripcion %}{{competencia.descripcion}}{% else %} {% endif %}</td>
                        <td>
                            <a href='{% url 'listar_participantes' competencia.id %}'>
                                <i class="fa fa-check"></i> Ingresar Resultados
                            </a><br>
                            {% comment %}
                            <a href='{% url 'datos_competencia' juego_id competencia.id %}'>
                                <i class="fa fa-edit"></i> Editar
                            </a><br>
                            {% endcomment %}

                            <a href="#" data-target="#modal-eliminar-{{competencia.id}}" data-toggle="modal">
                                <i class="fa fa-trash"></i> Eliminar
                            </a><br>

                            <div class="modal fade" id="modal-eliminar-{{competencia.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Eliminar Competencia</h4>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar la competencia {{competencia.nombre}}?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                            <a href="{% url 'eliminar_competencia' juego_id competencia.id %}" class="btn btn-sm btn-danger">Aceptar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}