{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    Registro Personal de apoyo
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# js y css para datetime #}
    <link href="{{ STATIC_URL }}plugins/DataTables/css/data-table.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'personal_apoyo_listar' %}">Personal de apoyo</a>
    <li class="active">Editar</li>
{% endblock %}

{% block titulo_contenido %}
    Personal de apoyo
{% endblock %}

{% block titulo_panel %}
    Registro de Personal de apoyo
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    {% include 'personal_apoyo/wizard/_wizard.html' %}
        <div class="row">
            <fieldset class="col-md-5" >
                <form action="" id="form-formacion" method="post">{% csrf_token %}
                <div class="well row">
                    <div class="col-md-12">
                        <h3>{{titulo}}</h3>
                        {% for i in form %}
						<div class="col-md-12">
							{% bootstrap_field i layout="vertical" %}
						</div>
					    {% endfor %}
                        <button class="pull-right row btn btn-info" type="submit" style="margin-top:10px;"><i class="fa fa-plus"></i> Añadir</button>
                    </div>
                </div>
                </form>
            </fieldset>
            <div class="col-md-7">
                <h4>Formación deportiva actual:</h4>
                <div class="table-responsive">
                    <table id="tabla-formacion-deportiva" class="table table-stripped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th align="center">Denominación diploma</th>
                            <th class="min-tablet" align="center">Nivel</th>
                            <th class="min-desktop" align="center">Institución formación</th>
                            <th class="min-desktop" align="center">País</th>
                            <th class="min-desktop" align="center">Fecha comienzo</th>
                            <th class="min-desktop" align="center">Fecha fin</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for historico in historicos %}
                            <tr>
                                <td align="center">{{historico.denominacion_diploma}}</td>
                                <td align="center">{{historico.nivel}}</td>
                                <td align="center">{{historico.institucion_formacion}}</td>
                                <td align="center">{{historico.pais_formacion}}</td>
                                <td align="center">{{historico.fecha_comienzo}}</td>
                                <td align="center">
                                    {% if historico.fecha_fin == None %}
                                        ACTUAL
                                    {% else %}
                                        {{historico.fecha_fin}}
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="#modal-desactivate" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                    <div class="modal fade" id="modal-desactivate">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Eliminar Formación académica:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Está seguro que desea eliminar esta formación académica?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                    <a href="{% url 'eliminar_formacion_deportiva'  id_personal_apoyo historico.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <a href="{% url 'edicion_personal_apoyo' id_personal_apoyo %}" class="btn btn-success pull-left" type="button">← Anterior</a>
        <a href="{% url 'wizard_experiencia_laboral' id_personal_apoyo %}" class="btn btn-primary pull-right">Siguiente →</a>


{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
    <!--DataTables [ OPTIONAL ]-->
    <script src="{{ STATIC_URL }}plugins/DataTables/js/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}js/validaciones/personal_apoyo/wizard-formacion-validations.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_calculos/personal_apoyo/experiencia_y_formacion.js"></script>
{% endblock %}

