{% extends 'base.html' %}
{% load bootstrap3 %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    {{form.media}} {# js y css para datetime #}
{% endblock %}

{% block head %}
	{% if edicion %}
	    Edición personal de apoyo
    {% else %}
        Registro personal de apoyo
    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'personal_apoyo_listar' %}">Personal de apoyo</a>
    {% if edicion %}
	    <li class="active">Editar</li>
    {% else %}
        <li class="active">Registrar</li>
    {% endif %}
{% endblock %}

{% block titulo_contenido %}
    Personal de apoyo
{% endblock %}

{% block titulo_panel %}
    {% if edicion %}
	    Edición personal de apoyo
    {% else %}
        Registro personal de apoyo
    {% endif %}
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    {% include 'personal_apoyo/wizard/_wizard.html' %}
        <div class="row">
            <fieldset class="col-md-7" >
                <form id="form-experiencia" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="well row">
                    <div class="col-md-12">
                        <h3>{{titulo}}</h3>
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.nombre_cargo layout="vertical" %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.institucion layout="vertical" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.deporte layout="vertical" %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.modalidad layout="vertical" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.fecha_comienzo layout="vertical" %}
                            </div>
                            <div class="col-md-6 p-t-10">
                                {% bootstrap_field form.soporte_hoja_de_vida layout="vertical" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.fecha_fin layout="vertical" %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.actual layout="vertical" %}
                            </div>
                        </div>
                        <button class="pull-right row btn btn-info" type="submit" style="margin-top:10px;"><i class="fa fa-plus"></i> Añadir</button>
                    </div>
                </div>
                </form>
            </fieldset>
            <div class="col-md-5">
                <h4>Experiencia laboral actual:</h4>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th align="center">Nombre cargo</th>
                            <th align="center">Institución</th>
                            <th align="center">Fecha comienzo</th>
                            <th align="center">Fecha fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for historico in historicos %}
                        <tr>
                            <td align="center">{{historico.nombre_cargo}}</td>
                            <td align="center">{{historico.institucion}}</td>
                            <td align="center">{{historico.fecha_comienzo}}</td>
                            <td align="center">
                                {% if historico.fecha_fin == None %}
                                    ACTUAL
                                {% else %}
                                    {{historico.fecha_fin}}
                                {% endif %}
                            </td>
                            <td align="center">
                                <a href="#modal-desactivate" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                <div class="modal fade" id="modal-desactivate">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Eliminar experiencia laboral:</h4>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea eliminar esta experiencia laboral?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                <a href="{% url 'eliminar_experiencia_laboral' id_personal_apoyo historico.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        {% if wizard_stage > 1 %}
        <input class="btn btn-success pull-left" type="button" value="← Anterior" name="volver atrás2" onclick="history.back()" />
        {% endif %}
        <a href="{% url 'finalizar_personal_apoyo' opcion='listar' %}" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Finalizar</a>
        <a href="{% url 'finalizar_personal_apoyo' opcion='nuevo' %}" class="btn btn-warning pull-right" style="margin-right:20px;"><i class="fa fa-circle-o-notch"></i> Guardar y registrar otro personal de apoyo</a>


{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
    <script src="{{ STATIC_URL }}js/validaciones/personal_apoyo/wizard-experiencia-validations.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_calculos/personal_apoyo/experiencia_laboral.js"></script>
{% endblock %}

