{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    CAF-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Ver Detalles de CAF
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Ver CAF</li>
{% endblock %}

{% block css %}
{% endblock %}

{% block titulo_panel %}
    Detalles del CAF
{% endblock %}

{% block contenido_panel %}
<div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
    <div class="panel-heading p-0">
        <div class="panel-heading-btn m-r-10 m-t-10">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
        
        <div class="tab-overflow">
            <ul class="nav nav-tabs">
                <li class="prev-button">
                	<a href="javascript:;" data-click="prev-tab" class="text-inverse">
                		<i class="fa fa-arrow-left"></i>
                	</a>
                </li>

                <li class="active"><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>

                <li class=""><a href="#nav-tab2-13" data-toggle="tab"><i class="fa fa-dollar"></i> Planes</a></li>

                <li class=""><a href="#nav-tab2-14" data-toggle="tab"><i class="fa fa-md fa-users"></i> Clases</a></li>

                <li class=""><a href="#nav-tab2-15" data-toggle="tab"><i class="fa fa-phone"></i> Servicios</a></li>

                <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-camera"></i> Fotos</a></li>
                
                
                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="nav-tab2-12">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_cafs_nacionales' %}
                                 {% else %}
                                    {% url 'listar_cafs' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10">
                    	<i class="fa fa-chevron-left m-r-5"></i> Volver
                    </a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10">
                    	<i class="fa fa-print m-r-5"></i> Imprimir
                    </a>
                    </span>
                    {{centro.nombre}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <p><b>Estado: {{centro.get_estado_display}}</b></p>
                            <p>Dirección: {{centro.direccion}}</p>
                            <p>Teléfono: {{centro.telefono}}</p>
                            <p>Email: {{centro.email}}</p>
                            <p>Ciudad: {{centro.ciudad}}</p>
                            <p>Comuna: {{centro.comuna}}</p>
                            <p>Barrio: {{centro.barrio}}</p>
                            <p>Estrato: {{centro.estrato}}</p>
                            <p>{{centro.ciudad.nombre}}, {{centro.ciudad.departamento.nombre}}</p>
                            <p>Latitud: {{centro.latitud}} Longitud: {{centro.longitud}} Altura: {{centro.altura}}</p>

                            <p>Administrador: {{centro.nombre_administrador}}</p>
                        </address>
                    </div>                    
                </div>
                <h5 class="m-t-10">Información de contacto:</h5>
                <p>
                	{% if escenario.contacto == None %}
                		No hay información disponible actualmente
                	{% else %}
                		{{escenario.contacto|linebreaksbr}}
                	{% endif %}
                </p>
            </div>
        </div>
        
        <div class="tab-pane fade" id="nav-tab2-13">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_cafs_nacionales' %}
                                 {% else %}
                                    {% url 'listar_cafs' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{centro.nombre}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <b>Planes que ofrece el Centro de Acondicionamiento Físico:</b>
                        	<div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th align="center">Nombre</th>
                                            <th align="center">Precio</th>
                                            <th align="center">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for plan in planes %}
                                        <tr>
                                            <td>{{plan.nombre}}</td>
                                            <td>{{plan.precio}}</td>
                                            <td>{{plan.descripcion|linebreaksbr}}</td>
                                            {% empty %}
                                            <tr>
                                                <td colspan="4" align="center">
                                                    <b>No hay planes registrados</b>
                                                </td>
                                            </tr>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="nav-tab2-14">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_cafs_nacionales' %}
                                 {% else %}
                                    {% url 'listar_cafs' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{centro.nombre}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                        	<b>Clases que ofrece el Centro de Acondicionamiento Físico:</b>
                        	<ul>
                        		{% for i in centro.clases.all %}
                        		<li>{{i}}</li>
                        		{% endfor %}
                        	</ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="nav-tab2-15">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_cafs_nacionales' %}
                                 {% else %}
                                    {% url 'listar_cafs' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{centro.nombre}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                        	<b>Servicios que ofrece el Centro de Acondicionamiento Físico:</b>
                        	<ul>
                                {% for i in centro.servicios.all %}
                                <li>{{i}}</li>
                                {% endfor %}
                            </ul>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-tab2-16">
            <div class="invoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="{% if tenant_nacional %}
                                    {% url 'listar_cafs_nacionales' %}
                                 {% else %}
                                    {% url 'listar_cafs' %}
                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                    <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
                    </span>
                    {{centro.nombre}}
                </div>
                <div class="invoice-header">
                    <div class="invoice-from">
                        <address class="m-t-5 m-b-5">
                            <b>Fotos del Centro de Acondicionamiento Físico:</b>
                            <!-- begin superbox -->
                            <div class="superbox" data-offset="54">
                                {% for foto in fotos %}
                                <div class="superbox-list">
                                    <img width="125px" height="100px" src="{{MEDIA_URL}}{{foto.foto}}" data-img="{{MEDIA_URL}}{{foto.foto}}" alt="" class="superbox-img" />
                                </div>
                                {% endfor %}
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}plugins/superbox/js/superbox.js"></script>
    <script src="{{STATIC_URL}}js/gallery-v2.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>
{% endblock %}