<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 7;"><span class="label badge-inverse">1</span><a class="hidden-phone">
        Información básica <small>Datos básicos de un entrenador</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">2</span><a class="hidden-phone">
        Formación Deportiva <small>Información sobre los estudios realizados</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 3;"><span class="label">3</span><a class="hidden-phone">
        Experiencia Laboral <small>Información sobre otros cargos deportivos del entrenador</small>
        </a>
    </li>

</ol>
<br/>

