{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    Registro Entrenadores
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    {{form.media}} {# js y css para datetime #}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'entrenador_listar' %}">Entrenadores</a>
    <li class="active">Editar</li>
{% endblock %}

{% block titulo_contenido %}
    Entrenadores
{% endblock %}

{% block titulo_panel %}
    Registro de Entrenadores
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    {% include 'entrenadores/wizard/_wizard.html' %}
        <div class="row">
            <fieldset class="col-md-5" >
                <form id="form-experiencia" action="" method="post">{% csrf_token %}
                <div class="well row">
                    <div class="col-md-12">
                        <h3>{{titulo}}</h3>
                        {% for i in form %}
						<div class="col-md-12">
							{% bootstrap_field i layout="vertical" %}
						</div>
					    {% endfor %}
                        <button class="pull-right row btn btn-info" type="submit" style="margin-top:10px;"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
                </form>
            </fieldset>
            <div class="col-md-7">
                <h4>Experiencia laboral actual:</h4>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th align="center">Nombre cargo</th>
                            <th align="center">Institución</th>
                            <th align="center">Fecha comienzo</th>
                            <th align="center">Fecha fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for historico in historicos %}
                        <tr>
                            <td align="center">{{historico.nombre_cargo}}</td>
                            <td align="center">{{historico.institucion}}</td>
                            <td align="center">{{historico.fecha_comienzo}}</td>
                            <td align="center">{{historico.fecha_fin}}</td>
                            <td align="center">
                                <a href="#modal-desactivate" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                <div class="modal fade" id="modal-desactivate">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Eliminar experiencia laboral:</h4>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea eliminar esta experiencia laboral?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                <a href="{% url 'eliminar_experiencia_laboral' id_entrenador historico.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        {% if wizard_stage > 1 %}
        <input class="btn btn-success pull-left" type="button" value="← Anterior" name="volver atrás2" onclick="history.back()" />
        {% endif %}
        <a href="{% url 'finalizar_entrenador' opcion='listar' %}" class="btn btn-primary pull-right">Finalizar →</a>
        <a href="{% url 'finalizar_entrenador' opcion='nuevo' %}" class="btn btn-primary pull-right" style="margin-right: 20px;">Finalizar y registrar otro →</a>


{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
    <!--Bootstrap Validator [ OPTIONAL ]-->
    <script src="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="{{ STATIC_URL }}js/validaciones/entrenadores/wizard-experiencia-validations.js"></script>

{% endblock %}

{% block script %}
    <script>

        $(document).ready(function() {
            $("#id_actual").change(function(){
               if($(this).is(":checked")){
                   $("#id_fecha_fin").val("");
                   $("#id_fecha_fin").parent().css('display','none');
               }else{
                   $("#id_fecha_fin").parent().css('display','block');
               }
            });


            App.init();
            FormWizard.init();
        });

    </script>
{% endblock %}
