{% extends "base.html" %}

{% block titulo %}
    ejemplo Motion
{% endblock %}

{% block titulo_contenido %}
    Motion
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{STATIC_URL}}js/visualizaciones/motion.js"></script>
    <script type="text/javascript">
        motion({{columnas|safe}},{{datos|safe}},'{{div}}');
        //motion(columnas:array, datos:matriz, div:string)
        //no olvide usar el filtro safe para evitar que se escapen los caracteres
    </script>
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'inicio' %}">Motion</a></li>
{% endblock %}

{% block titulo_panel %}
    Motion Chart
{% endblock %}

{% block contenido_panel %}
    <div id="{{div}}" style="width: 900px; height: 500px;"></div>
{% endblock %}