{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    EFD - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Ver Detalles de la Escuela de Formación Deportiva
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Ver EFD</li>
{% endblock %}

{% block css %}
    <style type="text/css">
    .funciones li{
        list-style: none;
        display: list-item;
        line-height: 20px;
    }
    </style>
{% endblock %}

{% block titulo_panel %}
    Detalles de la Escuela de Formación Deportiva
{% endblock %}


{% block contenido %}

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="{% url 'escuela_deportiva_listar' %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
        <h4 class="panel-title">
            {{escuela.nombre}}
        </h4>
    </div>
    <div class="panel-body" style="padding:0">
        <div class="row">
            <div class="col-sm-12">
                <img src="http://www.podiumns.com/i-img/es/servicios/medicina-deportiva/md-medicina-deportiva-pamplona-navarra.jpg" alt="gimnasio" style="width:100%; height:250px">
                <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
                    <div class="panel-heading p-0">
                        <div class="panel-heading-btn m-r-10 m-t-10">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        </div>
                        
                        <div class="tab-overflow">
                            <ul class="nav nav-tabs">
                                <li class="prev-button">
                                    <a href="javascript:;" data-click="prev-tab" class="text-inverse">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                </li>

                                <li class="active"><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>

                                <li class=""><a href="#nav-tab2-15" data-toggle="tab"><i class="fa fa-phone"></i> Servicios</a></li>

                                <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Aval funcionamiento</a></li>
                                
                                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" style="margin-bottom:0px;padding-bottom:0px">
                        <div class="tab-pane fade active in" id="nav-tab2-12" style="margin-bottom:0px">
                            <div class="invoice" style="margin-bottom:0px;padding-bottom:0px">
                                <div class="invoice-company">
                                    <b>{{escuela.nombre}}</b><br>
                                    <b>Deporte:</b> {{escuela.entidad.escueladeportiva_.disciplina}}
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <p><b>Dirección:</b> {% if escuela.direccion %} {{escuela.direccion}} {% else %} No especificado {% endif %}</p>
                                            <p><b>Barrio:</b> {% if escuela.barrio %} {{escuela.barrio}} {% else %} No especificado {% endif %}</p>
                                            <p><b>Ciudad:</b> {% if escuela.ciudad %} {{escuela.direccion}} {% else %} No especificado {% endif %}</p>
                                            <p><b>Estrato:</b> {% if escuela.estrato %} {{escuela.estrato}} {% else %} No especificado {% endif %}</p>
                                            <p><b>Comuna:</b> {% if escuela.comuna %} {{escuela.comuna}} {% else %} No especificado {% endif %}</p>
                                        </address>
                                        <br/>
                                        <h5 class="m-t-10"><b>Información de contacto:</b></h5>
                                        <p><b>Teléfono:</b> {% if escuela.telefono_fijo %} {{escuela.telefono_fijo}} {% else %} No especificado {% endif %}</p>
                                        <p><b>Teléfono celular:</b> {% if escuela.telefono_celular %} {{escuela.telefono_celular}} {% else %} No especificado {% endif %}</p>
                                        <p><b>Email:</b> {% if escuela.email %} {{escuela.email}} {% else %} No especificado {% endif %}</p>
                                        <p><b>Página web:</b> {% if escuela.web %} {{escuela.web}} {% else %} No especificado {% endif %}</p>
                                        <p><b>Nombre del administrador:</b> {% if escuela.nombre_administrador %} {{escuela.nombre_administrador}} {% else %} No especificado {% endif %}</p>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="nav-tab2-15">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{escuela.nombre}}</b><br>
                                    <b>Deporte:</b> {{escuela.entidad.escueladeportiva_.disciplina}}
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <b>Servicios que ofrece la Escuela de Formación Deportiva:</b>
                                            <ul>
                                                {% for servicio in escuela.servicios.all %}
                                                <li>{% if servicio %} {{servicio}} {% else %} No especificado</li>
                                                {% endfor %}
                                            </ul>
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-tab2-16">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{escuela.nombre}}</b><br>
                                    <b>Deporte:</b> {{escuela.entidad.escueladeportiva_.disciplina}}
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            {% if escuela.aval %} <a href="{{MEDIA_URL}}{{escuela.aval}}" target="_blank">Resolución de Aval de funcionamiento</a> {% else %} No hay resolución de aval de funcionamiento {% endif %}
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}