{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">EFD</a></li>
    <li ><a href="">Participantes</a></li>
    <li class="active">Registrar</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de participantes
{% endblock %}

{% block titulo_panel %}
    Listado de participantes
{% endblock %}


{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-participantes";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <div class="m-b-20" style="font-size: 25px;">
                    Cupo Disponible: {{ cupo }}
                </div>
                <table id="tabla-participantes" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Fecha de nacimiento</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participante in participantes.all %}
                            <tr>
                                <td>{{ participante.nombres }}</td>
                                <td>{{ participante.apellidos }}</td>
                                <td>{{ participante.fecha_nacimiento }}</td>
                                <td>{{ participante.get_estado_display }}</td>
                                <td>
                                    asdasd
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}