{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">EFD</a></li>
    <li ><a href="">Participantes</a></li>
    <li class="active">Registrar Acudiente</li>
{% endblock %}

{% block titulo_contenido %}
    {% if edicion %}Editar{% else %}Registrar{% endif %} acudiente
{% endblock %}

{% block titulo_panel %}
    {% if edicion %}Editar{% else %}Registrar{% endif %} acudiente
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/validaciones/gestion_eventos/participantes-validations.js"></script>
{% endblock %}

{% block css %}
    {{ form.media }}
{% endblock %}

{% block contenido_panel %}
    <div class="well row">
        <div class="row">
            <form id="form-acudientee" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-md-6">
                        {% bootstrap_field field %}
                    </div>
                {% endfor %}
                <hr>
                {% if edicion %}
                    <a type="button" class="btn btn-warning pull-right" href="{% url 'listar_participante' %}">
                        Cancelar
                    </a>
                {% endif %}
                <button class="btn btn-primary pull-right" type="submit" style="margin-right:15px;">
                    {% if edicion %}Guardar cambios{% else %}Registrar{% endif %}
                </button>
            </form>
        </div>
    </div>

{% endblock %}