

{% block wizard %}
    {% include 'wizard/_wizard.html' %}
                        <h4><strong>Datos de la solicitud</strong></h4>
                        <!-- begin email form -->
                        <fieldset>
                            <legend></legend>
                            <form action="" method="POST" id="form-solicitud-escenario">

                                {% csrf_token %}
                                <div class="col-md-6">
                                    {% bootstrap_field form.escenarios layout="verical" %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.prioridad layout="verical" %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.para_quien layout="verical" %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field form.descripcion layout="verical" %}
                                </div>
                                <div class="pull-right">
                                    <button type="submit" for="form-solicitud-escenario" class="btn btn-primary p-l-40 p-r-40 pull-rigth">Enviar</button>
                                </div>
                            </form>
                        </fieldset>
                        <h4><strong>Archivos Adjuntos</strong></h4>
                        <fieldset>
                            <legend></legend>
                         <ul class="attached-document clearfix">
                            {%if objeto.fotos%}
                                {% for f in objeto.fotos %}
                                    {%if f%}
                                        <li>
                                            <div class="media-object rounded-corner">
                                                <img src="{{ MEDIA_URL }}{{ f }}" alt="" />
                                            </div>
                                        </li>
                                    {%else%}
                                        <li>
                                            <div class="document-name">No hay foto disponible</div>
                                            <div class="document-file">
                                                <a >
                                                    <i class="fa fa-file-photo-o"></i>
                                                </a>
                                            </div>
                                        </li>
                                    {%endif%}
                                {% endfor %}
                            {%else%}
                                <li>
                                    <div class="document-name">No hay fotos disponibles</div>
                                    <div class="document-file">
                                        <a >
                                            <i class="fa fa-file-photo-o"></i>
                                        </a>
                                    </div>
                                </li>
                            {%endif%}
                         </ul>
                        </fieldset>
{% endblock %}