<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 7;"><span class="label badge-inverse">1</span><a class="hidden-phone">
        Identificación <small>Datos de indentificación y ubicación</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">2</span><a class="hidden-phone">
        Composición Corporal <small>Tallas, Peso, Sangre y composición muscular</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 3;"><span class="label">3</span><a class="hidden-phone">
        Historial Deportivo <small>Hisorico en el campo deportivo</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 4 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">4</span><a class="hidden-phone">
        Historial Académico <small>Historico académico</small>
        </a>
    </li>
    
</ol>
<br/>

