<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 7;"><span class="label badge-inverse">1</span><a class="hidden-phone">
        Identificación <small>Datos de indentificación y ubicación</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">2</span><a class="hidden-phone">
        Composición Corporal <small>Tallas, Peso, Sangre y composición muscular</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">3</span><a class="hidden-phone">
        Información Adicional <small>Algunos datos adicionales del deportista</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 4 %} aria-selected="true" class="active" {% endif %} style="z-index: 3;"><span class="label">4</span><a class="hidden-phone">
        Historial Deportivo <small>Historico en el campo deportivo</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 5 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">5</span><a class="hidden-phone">
        Formación Académica<small>Información sobre los estudios realizados</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 6 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">6</span><a class="hidden-phone">
        Historial Lesiones<small>Historico del deportista en lesiones</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 7 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">7</span><a class="hidden-phone">
        Historial Doping<small>Historico del deportista en casos de doping</small>
        </a>
    </li>
    
</ol>
<br/>

