<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 7;">
        <span class="label badge-inverse">1</span>
        <a class="hidden-phone">
            <a {% if edicion %} href="{% url 'edicion_deportista' id_deportista %}" style="cursor:pointer;"{% endif %}>
            Identificación <small>Datos de identificación y ubicación</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">2</span><a class="hidden-phone">
            <a {% if edicion %} href="{% url 'wizard_corporal' id_deportista %}" style="cursor:pointer;"{% endif %}>
                Composición Corporal <small>Tallas, Peso, Sangre y composición muscular</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">3</span><a class="hidden-phone">
            <a {% if edicion %} href="{% url 'wizard_informacion_adicional' id_deportista %}" style="cursor:pointer;"{% endif %}>
                Información Adicional <small>Algunos datos adicionales del deportista</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 4 %} aria-selected="true" class="active" {% endif %} style="z-index: 3;"><span class="label">4</span><a class="hidden-phone">
            <a {% if edicion %} href="{% url 'wizard_historia_deportiva' id_deportista %}" style="cursor:pointer;"{% endif %}>
                Historial Deportivo <small>Historico en el campo deportivo</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 5 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">5</span><a class="hidden-phone">
            <a {% if edicion %} href="{% url 'wizard_historia_academica' id_deportista %}" style="cursor:pointer;"{% endif %}>
                Formación Académica<small>Información sobre los estudios realizados</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 6 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">6</span><a class="hidden-phone">
            <a {% if edicion %} href="{% url 'wizard_historia_lesiones' id_deportista %}" style="cursor:pointer;"{% endif %}>
                Historial Lesiones<small>Historico del deportista en lesiones</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 7 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">7</span><a class="hidden-phone">
            <a {% if edicion %} href="{% url 'wizard_historia_doping' id_deportista %}" style="cursor:pointer;"{% endif %}>
                Historial Doping<small>Historico del deportista en casos de doping</small>
            </a>
        </a>
    </li>
    
</ol>
<br/>

