{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    Registro Deportistas
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    {{form.media}} {# js y css para datetime #}

{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'deportista_listar' %}">Deportistas</a>
    <li class="active">Editar</li>
{% endblock %}

{% block titulo_contenido %}
    Deportistas
{% endblock %}

{% block titulo_panel %}
    Registro de Deportistas
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    {% include 'deportistas/wizard/_wizard.html' %}
        <div class="row">
            <fieldset class="col-md-7" >
                <form id="form-wizard-deportiva" action="" method="post">{% csrf_token %}
                    <fieldset>
                        <div class="col-xs-12">
                            <h3>{{titulo}}</h3>

                            <div class="well row">
                                <strong><h4>Campeonato</h4></strong>

                                <div class="row">
                                    <div class="col-md-6">
                                        {% bootstrap_field form.nombre layout="verical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.institucion_equipo layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.fecha_inicial layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.fecha_final layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.tipo layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.pais layout="vertical" %}
                                    </div>
                                </div>
                                <hr>
                                <strong><h4>Participación</h4></strong>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% bootstrap_field form.puesto layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.marca layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.modalidad layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.division layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.prueba layout="vertical" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form.categoria layout="vertical" %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="pull-right row btn btn-info" type="submit" style="margin-top:10px;"><i class="fa fa-plus"></i> Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
                </form>
            </fieldset> 
            <div class="col-md-5">
                <h4>Historial Deportivo Registrado:</h4>
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th align="center">Estado</th>
                            <th align="center">Nombre</th>
                            <th align="center">Fecha Inicial</th>
                            <th align="center">Fecha Final</th>
                            <th align="center">Tipo</th>
                            <th align="center">Lugar</th>
                            <th align="center">Puesto</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for historico in historicos %}
                        <tr>
                            <td align="center"><span class="label label-{%if historico.estado == 'Pendiente' %}warning{%else%}success{%endif%}">{{historico.estado}}</span></td>
                            <td align="center">{{historico.nombre}}</td>
                            <td align="center">{{historico.fecha_inicial}}</td>
                            <td align="center">{{historico.fecha_final}}</td>
                            <td align="center">{{historico.tipo}}</td>
                            <td align="center">{{historico.pais}}</td>
                            <td align="center">{{historico.puesto}}</td>
                            <td align="center">
                                <a href="#modal-desactivate-{{ historico.id }}" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                <div class="modal fade" id="modal-desactivate-{{ historico.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Eliminar Historial Deportivo:</h4>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea eliminar este historial deportivo?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                <a href="{% url 'eliminar_historia_deportiva' id_depor historico.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <br/>
        <hr/>
        {% if wizard_stage > 1 %}
        <a href="{% url 'wizard_corporal' id_depor %}" class="btn btn-success pull-left" type="button">← Anterior</a>
        <!--input class="btn btn-success pull-left" type="button" value="← Anterior" name="volver atrás2" onclick="history.back()" /-->
        {% endif %}     
        <a href="{% url 'wizard_historia_academica' id_depor %}" class="btn btn-primary pull-right">Siguiente →</a>
    

{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{ STATIC_URL }}js/validaciones/deportistas/wizard-deportiva-validations.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/funciones_calculos/deportistas/historia_deportiva.js"></script>
{% endblock %}

