{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
	Registro Deportistas
{% endblock %}

{% block css %}
	<link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
	{{form.media}} {# js y css para datetime #}
{% endblock %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li><a href="{% url 'deportista_listar' %}">Deportistas</a>
	<li class="active">Editar</li>
{% endblock %}

{% block titulo_contenido %}
	Deportistas
{% endblock %}

{% block titulo_panel %}
	Registro de Deportistas
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
	{% include 'deportistas/wizard/_wizard.html' %}
	<fieldset>
		<form action="" method="post">{% csrf_token %}
			<fieldset>
				<div class="col-xs-12">
					<h3>{{titulo}}</h3>

					<div class="well row">
						<strong><h4>Composición</h4></strong>

						<div class="row">
							<div class="col-md-6">
								{% bootstrap_field form.peso layout="verical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.estatura layout="vertical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.RH layout="vertical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.tipo_talla layout="vertical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.talla_camisa layout="vertical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.talla_pantaloneta layout="vertical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.talla_zapato layout="vertical" %}
							</div>
						</div>
						<hr>
						<strong><h4>Porcentaje Muscular</h4></strong>
						<div class="row">
							<div class="col-md-6">
								{% bootstrap_field form.porcentaje_grasa layout="vertical" %}
							</div>
							<div class="col-md-6">
								{% bootstrap_field form.porcentaje_musculo layout="vertical" %}
							</div>
						</div>
						<hr>
						<strong><h4>Salud</h4></strong>
						<div class="row">
							EPS
						</div>
					</div>
				</div>
			</fieldset>
			<!--div class="well row">
				<div class="col-xs-12">
					<h3>{{titulo}}</h3>
					{% for i in form %}
						<div class="col-md-6">
							{% bootstrap_field i layout="vertical" %}
						</div>
					{% endfor %}
				</div>
			</div-->
			<hr>
			{% if wizard_stage > 1 %}
			<input class="btn btn-success pull-left" type="button" value="← Anterior" name="volver atrás2" onclick="history.back()" />
			{% endif %}		
			<button class="btn btn-primary pull-right" type="submit">Siguiente →</button>
		</form>
	</fieldset>
	

{% endblock %}

{% block js %}
	<script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
	<script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
	
{% endblock %}

{% block script %}
	<script>
		$(document).ready(function() {
			App.init();
			FormWizard.init();
		});
	</script>
{% endblock %}
