{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Solicitudes de adecuación de escenarios-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Solicites de adecuación de escenarios
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Solicitudes de adecuación escenarios</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}



{% block titulo_panel %}
    Solicites de adecuación de escenarios
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
    <script>
        idTabla = "tabla-solicitudes";
        function urlModal(link) {
            //Funcionalidad para agregar la url al modal
            var url = link.getAttribute("data-url");
            document.getElementById("confirmar-desactivate").setAttribute("href",url);
        };
    </script>
{% endblock %}

{% block contenido_panel %}

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
            <table id="tabla-solicitudes" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Escenarios</th>
                        <th>Prioridad</th>
                        <th>Estado</th>
                        <th>A quien va dirigida</th>
                        <th>Fecha de creación</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in solicitudes %}
                    <tr>
                        <td>{{s.escenarios_str}}</td>
                        <td>{{s.get_prioridad_display}}</td>
                        <td>{{s.get_estado_display}}</td>
                        <td>{{ s.para_quien }}</td>
                        <td>{{ s.fecha }}</td>
                        <td>
                            <a href=''>
                                <i class="fa fa-eye"></i> Ver mas
                            </a>
                            <br/>
                            {% if s.estado == 0 %}
                                <a href="#"  data-target="#modal-desactivate" data-toggle="modal" onclick="urlModal(this);" data-url="{% url 'cancelar_solicitud' s.id %}">
                                    <i class="fa fa-trash"></i> Cancelar solicitud
                                </a>
                                <br/>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal fade" id="modal-desactivate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Cancelar Solicitud:</h4>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que desea cancelar la solicitud de adecuación?
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                        <a id="confirmar-desactivate" href="" class="btn btn-sm btn-warning">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
