{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Solicitudes Escenarios - SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Solicitudes Escenarios
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'listar_solicitudes' %}">Solicitudes Escenarios</a></li>
    <li>Ver</li>
{% endblock %}

{% block css %}
    {{ form_comentarios.media }}
    <style>
        #mapa {
            height: 250px;
            width: 100%;
          }
    </style>
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/tooltip.js"></script>
    <script src="{{STATIC_URL}}plugins/superbox/js/superbox.js"></script>
    <script src="{{STATIC_URL}}js/gallery-v2.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/coldeportes/arrayToJson.js"></script>

    <script type="text/javascript">
        datosMostrar = "{{datosMostrar}}";
        posicionInicial = "{{posicionInicial}}";
        mapa = "mapa";
    </script>

    <script type="text/javascript" src="{{STATIC_URL}}js/coldeportes/ver_mas_georreferenciacion.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock %}

{% block titulo_panel %}
    Solicitud Escenarios
{% endblock %}

{% block contenido_panel %}
    <!-- begin vertical-box -->
		    <div class="vertical-box">
		        <!-- begin vertical-box-column -->
		        <div class="vertical-box-column width-250">
		            <!-- begin wrapper -->
                    <div class="wrapper bg-silver text-center">
                        <a href="{% url 'listar_solicitudes' %}" class="btn btn-success p-l-40 p-r-40 btn-sm">
                            Regresar
                        </a>
                    </div>

		            <!-- end wrapper -->
		            <!-- begin wrapper -->
                    <div class="wrapper">
                        <p><b>Detalles</b></p>
                        <ul class="nav nav-pills nav-stacked nav-sm">
                            <li><a><i class="fa fa-barcode fa-fw m-r-5"></i> {{ solicitud.codigo_unico }}</a></li>
                                <li><a ><i class="fa fa-calendar fa-fw m-r-5"></i> {{ solicitud.fecha }}</a></li>
                                <li><a ><i class="fa fa-gavel fa-fw m-r-5"></i> {{ solicitud.get_estado_display }}</a></li>
                                <li><a ><i class="fa fa-info-circle fa-fw m-r-5"></i> {{ solicitud.get_tipo_display }}</a></li>
                                <li><a ><i class="fa fa-line-chart fa-fw m-r-5"></i> PRIORIDAD {{ solicitud.get_prioridad_display }}</a></li>
                        </ul>
                    </div>
		            <!-- end wrapper -->
		        </div>
		        <!-- end vertical-box-column -->
		        <!-- begin vertical-box-column -->
		        <div class="vertical-box-column bg-white">
		            <!-- begin wrapper -->
                    <div class="wrapper bg-silver-lighter clearfix">

                        <div class="pull-right">

                            <div class="btn-group btn-toolbar">
                                <a  class="btn btn-white btn-sm disabled"><i class="fa fa-bicycle"></i></a>
                                <a  class="btn btn-white btn-sm disabled"><i class="fa fa-futbol-o"></i></a>
                            </div>
                            <div class="btn-group m-l-5">
                                <a href="{% url 'imprimir_solicitud' solicitud.id %}" target="_blank" class="btn btn-warning p-l-40 p-r-40 btn-sm pull-right">
                                    <i class="fa fa-print"></i> Imprimir
                                </a>
                            </div>
                        </div>
                    </div>
		            <!-- end wrapper -->
		            <!-- begin wrapper -->
                    <div class="wrapper">
                        <h4 class="m-b-15 m-t-0 p-b-10 underline"> Solicitud {{ solicitud.codigo_unico }}</h4>
                        <ul class="media-list underline m-b-20 p-b-15">
                            <li class="media media-sm clearfix">
                                <a class="pull-left">
                                    <i class="fa fa-exchange fa-2x modal-icon"></i>
                                </a>
                                <div class="media-body">
                                    <span class="email-from text-inverse f-w-600">
                                        Solicitud Para: {{ solicitud.para_quien }}

                                    </span><span class="text-muted m-l-5"><i class="fa fa-clock-o fa-fw"></i> {{ solicitud.fecha }}</span><br />
                                </div>
                            </li>
						</ul>
                        <div class="row">
                            <h5><strong>Información de la solcitud</strong></h5><br>
                            <div class="col-lg-6">
                                <strong>Escenarios seleccionados</strong><br><br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        {% for escenario in solicitud.escenarios.all %}
                                            <tr>
                                                <td>{{escenario.nombre}}</td>
                                                <td>
                                                    <a href="#modal-esc-{{ escenario.id }}" data-toggle="modal"  class="btn btn-info btn-sm">
                                                        <i class="fa fa-info-circle"></i> Ver mas
                                                    </a>
                                                </td>
                                            </tr>
                                            <div class="modal modal-message fade in" id="modal-esc-{{ escenario.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title">{{ escenario.nombre }}</h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div id="mapa"></div>
                                                                <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
                                                                    <div class="panel-heading p-0">
                                                                        <div class="panel-heading-btn m-r-10 m-t-10">
                                                                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                                                        </div>
                                                                        <div class="tab-overflow">
                                                                            <ul class="nav nav-tabs">
                                                                                <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                                                                                <li class="active"><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>
                                                                                <li class=""><a href="#nav-tab2-13" data-toggle="tab"><i class="fa fa-paint-brush"></i> Caracterización</a></li>
                                                                                <li class=""><a href="#nav-tab2-14" data-toggle="tab"><i class="fa fa-md fa-clock-o"></i> Horarios Disponibilidad</a></li>
                                                                                <li class=""><a href="#nav-tab2-15" data-toggle="tab"><i class="fa fa-history"></i> Datos Históricos</a></li>
                                                                                <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-camera"></i> Fotos</a></li>
                                                                                <li class=""><a href="#nav-tab2-17" data-toggle="tab"><i class="fa fa-video-camera"></i> Videos</a></li>
                                                                                <li class=""><a href="#nav-tab2-19" data-toggle="tab"><i class="fa fa-wrench"></i> Mantenimiento</a></li>
                                                                                <li class=""><a href="#nav-tab2-18" data-toggle="tab"><i class="fa fa-phone"></i> Contactos</a></li>
                                                                                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane fade active in" id="nav-tab2-12">
                                                                            <div class="invoice">
                                                                                <div class="invoice-company">
                                                                                    <b>{{escenario.nombre}}</b>
                                                                                </div>
                                                                                <div class="invoice-header">
                                                                                    <div class="invoice-from">
                                                                                        <address class="m-t-5 m-b-5">
                                                                                            <strong>{{escenario.direccion}}, Barrio {{escenario.barrio}}</strong><br/>
                                                                                            {{escenario.ciudad.nombre}}, {{escenario.ciudad.departamento.nombre}}<br/>
                                                                                            Latitud: {{escenario.latitud}} Longitud: {{escenario.longitud}} Altura: {{escenario.altura}} <br/>
                                                                                            Estrato: {{escenario.estrato}} Comuna: {{escenario.comuna}}<br/>
                                                                                            Nombre del Administrador: {{escenario.nombre_administrador}}
                                                                                        </address>
                                                                                        <div align="right">
                                                                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                                                                        </div>
                                                                                    </div>
                                                                                    <h5 class="m-t-10"><strong>Descripción:</strong></h5>
                                                                                    <p>{% if escenario.descripcion %}{{escenario.descripcion}}{% endif %}</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="nav-tab2-13">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.caracteristicas %}
                                                                                <div class="invoice-header">
                                                                                    <div class="invoice-from">
                                                                                        <address class="m-t-5 m-b-5">
                                                                                            <strong>{{escenario.caracteristicas.tipo_escenario.descripcion}}</strong><br />
                                                                                            Capacidad de zona espectadores: {{escenario.caracteristicas.capacidad_espectadores}}<br>Metros construídos: {{escenario.caracteristicas.metros_construidos}}<br />
                                                                                            Disciplinas: {% for disciplina in escenario.caracteristicas.tipo_disciplinas.all %} {{disciplina.descripcion}}, {% endfor %}<br />
                                                                                            Tipo de Superficie: {% for superficie in escenario.caracteristicas.tipo_superficie_juego.all %} {{superficie.descripcion}}, {% endfor %}<br/>
                                                                                            Clase de Acceso: {{escenario.caracteristicas.get_clase_acceso_display}} <br/>
                                                                                            Características del escenario:
                                                                                            {% for caracteristica in escenario.caracteristicas.caracteristicas.all %}
                                                                                                {{caracteristica.descripcion}}{% if not forloop.last %}, {% endif %}
                                                                                            {% endfor %} <br/>
                                                                                            Clases de uso:
                                                                                            {% for uso in escenario.caracteristicas.clase_uso.all %}
                                                                                                {{uso.descripcion}}{% if not forloop.last %}, {% endif %}
                                                                                            {% endfor %} <br>
                                                                                            Planos escenarios:
                                                                                            {% if escenario.caracteristicas.plano_archivo %}
                                                                                                <a href="{{ MEDIA_URL }}{{ escenario.caracteristicas.plano_archivo }}" target="_blank">{{ escenario.caracteristicas.plano_archivo.name}}</a>
                                                                                            {% else %}
                                                                                                No disponible
                                                                                            {% endif %}<br>
                                                                                            Ficha catastral:
                                                                                            {% if escenario.caracteristicas.ficha_catastral %}
                                                                                                <a href="{{ MEDIA_URL }}{{ escenario.caracteristicas.ficha_catastral }}" target="_blank">{{ escenario.caracteristicas.ficha_catastral.name}}</a>
                                                                                            {% else %}
                                                                                                No disponible
                                                                                            {% endif %}<br>
                                                                                            Certificado de tradicion de libertad:
                                                                                            {% if escenario.caracteristicas.certificado_tradicio_libertad %}
                                                                                                <a href="{{ MEDIA_URL }}{{ escenario.caracteristicas.certificado_tradicio_libertad }}" target="_blank">{{ escenario.caracteristicas.certificado_tradicio_libertad.name}}</a>
                                                                                            {% else %}
                                                                                                No disponible
                                                                                            {% endif %}
                                                                                        </address>
                                                                                        <div align="right">
                                                                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                                                                        </div>
                                                                                    </div>
                                                                                    <h5 class="m-t-10">Descripción:</h5>
                                                                                    <p>{% if escenario.caracteristicas.descripcion %}{{escenario.caracteristicas.descripcion}}{% endif %}</p>
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay características disponibles</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="nav-tab2-14">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.horarios %}

                                                                                <div class="invoice-content">
                                                                                    <div class="table-responsive">
                                                                                        <table class="table table-invoice">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>HORA INICIO</th>
                                                                                                    <th>HORA FIN</th>
                                                                                                    <th>DÍAS</th>
                                                                                                    <th>DESCRIPCIÓN</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                {% for horario in escenario.horarios %}
                                                                                                <tr>
                                                                                                    <td>{{horario.hora_inicio}}</td>
                                                                                                    <td>{{horario.hora_fin}}</td>
                                                                                                    <td>{% for dia in horario.dias.all %} {{dia.nombre}} {% endfor %}</td>
                                                                                                    <td>{{horario.descripcion}}</td>
                                                                                                </tr>
                                                                                                {% endfor %}
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay horarios disponibles</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="nav-tab2-15">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.historicos %}
                                                                                <div class="invoice-content">
                                                                                    <div class="table-responsive">
                                                                                        <table class="table table-invoice">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>FECHA INICIO</th>
                                                                                                    <th>FECHA FIN</th>
                                                                                                    <th>DESCRIPCIÓN</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                {% for historico in escenario.historicos %}
                                                                                                <tr>
                                                                                                    <td>{{historico.fecha_inicio}}</td>
                                                                                                    <td>{{historico.fecha_fin}}</td>
                                                                                                    <td>{{historico.descripcion}}</td>
                                                                                                </tr>
                                                                                                {% endfor %}
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay datos históricos disponibles</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>

                                                                        <div class="tab-pane fade" id="nav-tab2-16">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.fotos %}

                                                                                <div class="superbox" data-offset="54">
                                                                                    {% for foto in escenario.fotos %}
                                                                                    <div class="superbox-list">
                                                                                        <img width="125px" height="100px" src="{{MEDIA_URL}}{{foto.foto}}" data-img="{{MEDIA_URL}}{{foto.foto}}" data-titulo="{{foto.titulo}}" alt="" data-descripcion="{{foto.descripcion}}" class="superbox-img" />
                                                                                    </div>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay fotos disponibles</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="nav-tab2-17">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.videos %}

                                                                                <div class="table-responsive">
                                                                                    <table class="table table-invoice">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th style="text-align:center">VISUALIZACIÓN</th>
                                                                                                <th style="text-align:center">URL</th>
                                                                                                <th style="text-align:center">DESCRIPCIÓN</th>
                                                                                                <th style="text-align:center">VER VÍDEO</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            {% for video in escenario.videos %}
                                                                                            <tr>
                                                                                                <td align="center" class="col-md-3"><iframe width="150" height="75" src="https://www.youtube.com/embed/{{video.url}}" frameborder="0" allowfullscreen></iframe></td>
                                                                                                <td align="center" ><a target="_blank" href="https://www.youtube.com/watch?v={{video.url}}">https://www.youtube.com/watch?v={{video.url}}</a></td>
                                                                                                <td>{{video.descripcion}}</td>
                                                                                                <td>
                                                                                                    <a class="btn btn-md btn-info" href="#modal-{{video.id}}" data-toggle="modal"><i class="fa fa-play"></i> Ver Video</a>
                                                                                                    <div class="modal fade" id="modal-{{video.id}}">
                                                                                                        <div class="modal-dialog">
                                                                                                            <div class="modal-content">
                                                                                                                <div class="modal-header">
                                                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                                                                    <h4 class="modal-title">VIDEO DEL ESCENARIO {{ escenario.nombre }}:</h4>
                                                                                                                </div>
                                                                                                                <div class="modal-body">
                                                                                                                    <div align="center">
                                                                                                                        <iframe  width="500" height="400" src="https://www.youtube.com/embed/{{video.url}}" frameborder="0" allowfullscreen></iframe>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="modal-footer">
                                                                                                                    <a href="javascript:;" class="btn btn-md btn-info" data-dismiss="modal">Cerrar</a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                            {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay videos disponibles</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>

                                                                        <div class="tab-pane fade" id="nav-tab2-19">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.mantenimientos %}
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-invoice">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>FECHA ÚLTIMO MANTENIMIENTO</th>
                                                                                                <th>DESCRIPCIÓN ÚLTIMO MANTENIMIENTO</th>
                                                                                                <th>PERIODICIDAD</th>
                                                                                                <th>RAZONES NO MANTENIMIENTO</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            {% for matenimiento in escenario.mantenimientos %}
                                                                                            <tr>
                                                                                                <td>{% if matenimiento.fecha_ultimo_mantenimiento %}{{matenimiento.fecha_ultimo_mantenimiento}}{% endif %}</td>
                                                                                                <td>{% if mantenimiento.descripcion_ultimo_mantenimiento %}{{matenimiento.descripcion_ultimo_mantenimiento}}{% endif %}</td>
                                                                                                <td>{% if mantenimiento.get_periodicidad_display %}{{matenimiento.get_periodicidad_display}}{% endif %}</td>
                                                                                                <td>{% if mantenimiento.razones_no_mantenimiento %}{{matenimiento.razones_no_mantenimiento}}{% endif %}</td>
                                                                                            </tr>
                                                                                            {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay último mantenimiento registrado</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="nav-tab2-18">
                                                                            <div class="invoice">
                                                                            <div class="invoice-company">
                                                                                <b>{{escenario.nombre}}</b>
                                                                            </div>
                                                                            {% if escenario.contactos %}
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-invoice">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>NOMBRE</th>
                                                                                                <th>TELÉFONO</th>
                                                                                                <th>EMAIL</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            {% for contacto in escenario.contactos %}
                                                                                            <tr>
                                                                                                <td>{{contacto.nombre}}</td>
                                                                                                <td>{{contacto.telefono}}</td>
                                                                                                <td>{{contacto.email}}</td>
                                                                                            </tr>
                                                                                            {% endfor %}
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            {% else %}
                                                                                <p>No hay contactos disponibles</p>
                                                                            {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="javascript:;" class="btn btn-md btn-info" data-dismiss="modal">Cerrar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <strong>Estado actual de los escenarios</strong><br><br>
                                <p class="f-s-12 text-inverse">
                                    {{ solicitud.estado_actual_escenario }}
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <strong>Descripcion</strong><br><br>
                                <p class="f-s-12 text-inverse">
                                    {{ solicitud.descripcion }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <h5><strong>Archivos Adjuntos</strong></h5><br/>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th align="center">Nombre</th>
                                            <th align="center">Tipo</th>
                                            <th align="center">Descargar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for ad in solicitud.adjuntos %}
                                        <tr>
                                            <td>{{ad.nombre_archivo}}</td>
                                            <td ><i class="fa fa-2x fa-{% if  ad.icon_extension != 'file' %}file-{% endif %}{{ ad.icon_extension }}-o"></i></td>
                                            <td><a href="{% url  'descargar_adjunto' solicitud.id ad.id %}"><i class="fa fa-download"></i> Descargar</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    {% if solicitud.adjuntos %}
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><a href="{% url 'descargar_todos_adjuntos_solicitud' solicitud.id %}"><i class="fa fa-cloud-download"></i> Descargar todos los adjuntos</a></td>
                                            </tr>

                                        </tfoot>
                                    {% endif %}
                                </table>
                                {% if not solicitud.adjuntos %}
                                    <p align="center">No hay adjuntos registrados</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <h5><strong>Discusiones</strong></h5>
                            <ul class="media-list media-list-with-divider result-list">
                                {% for d in discusiones %}
                                    <li class="media media-sm">
                                        <div class="media-left">
                                            <i class="fa fa-{% if d.respuesta %}send{% else %}envelope{% endif %} fa-3x" style="color: #00acac;"></i>
                                        </div>
                                        <div class="media-body">
                                            <h5>Enviado por: {{ d.entidad }}</h5>
                                            <p class="location">{{ d.fecha }}</p>
                                            <p class="desc">
                                                {{ d.descripcion }}
                                            </p>
                                            <div class="btn-row">
                                                <a data-toggle="tooltip" data-container="body" data-title="Estado actual"><i class="fa fa-fw fa-tags"></i></a>
                                                Cambio de estado a: {{ d.get_estado_actual_display }}
                                                {% if d.tiene_adjuntos %}
                                                    <a href="{% url 'descargar_adjuntos_discusion' solicitud.id d.id %}" data-toggle="tooltip" data-container="body" data-title="Descargar adjuntos en archivo comprimido"><i class="fa fa-fw fa-cloud-download"></i></a>
                                                    Descargar los adjuntos de esta discusion
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% empty %}
                                    <p> No hay discusiones al momento</p>
                                {% endfor %}
							</ul>
                        </div>
                        {% if perms.solicitud.add_solicitudescenario%}
                            {% if responder and solicitud.estado == 1 %}
                                <div class="row">
                                    <h5><strong>Responder</strong></h5>
                                    <form action="{% url 'enviar_comentario' solicitud.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <div class="form-group">
                                                <label class="control-label" for="adjuntos">Adjuntar archivos: </label>
                                                <input type="file" name="adjuntos" id="adjuntos" multiple><br>
                                                <p><strong>Nota:</strong> Puede seleccionar varios archivos.</p>
                                            </div>
                                            {% bootstrap_form form_comentarios %}
                                            <span class="pull-right">
                                                <br>
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-pencil"></i> Enviar</button>
                                            </span>
                                        </div>

                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
		            <!-- end wrapper -->
		            <!-- begin wrapper -->
                    <div class="wrapper bg-silver-lighter text-right clearfix">
                        Solicitudes de adecuación de escenarios, <strong>SISTEMA NACIONAL DEL DEPORTE</strong>
                    </div>
		            <!-- end wrapper -->
		        </div>
		        <!-- end vertical-box-column -->
		    </div>
		    <!-- end vertical-box -->
{% endblock %}