{# El identificador del grupo de la galeria es: 1 #}

{% with 1 as id %}

<!-- Por ubicación -->

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="CENTRO ACONDICIONAMIENTO" color="rgba(58,146,171,0.6)" titulo="Ubicación Geográfica" descripcion="Cantidad de centros de acondicionamiento físico por departamentos y municipios" url_reporte="reportes_caf_demografia" %}

<!-- Por estratos -->

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="CENTRO ACONDICIONAMIENTO" color="rgba(58,146,171,0.6)" titulo="Estrato Socioeconómico" descripcion="Cantidad de centros de acondicionamiento físico en los diferentes estratos socioeconómicos" url_reporte="reportes_caf_estratos" %}

<!-- Por clases -->

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="CENTRO ACONDICIONAMIENTO" color="rgba(58,146,171,0.6)" titulo="Clases" descripcion="Cantidad de centros de acondicionamiento físico por clases ofrecidas" url_reporte="reportes_caf_clases" %}

<!-- Por tipo de servicio -->

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="CENTRO ACONDICIONAMIENTO" color="rgba(58,146,171,0.6)" titulo="Tipos de Servicios" descripcion="Cantidad de centros de acondicionamiento físico por tipos de servicios ofrecidos" url_reporte="reportes_caf_tipos_servicios" %}

{% endwith %}