{# El identificador del grupo de la galeria es: 4 #}

{% with 4 as id %}

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="IMG1" titulo="Bubble" descripcion="Ejemplo bubble" url="ejemplo_bubble" %}

{% endwith %}

{% with 4 as id %}

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="IMG1" titulo="Motion" descripcion="Ejemplo motion" url="ejemplo_motion" %}

{% endwith %}