{# El identificador del grupo de la galeria es: 4 #}

{% with 4 as id %}

{% include "publico/item.html" with id=id imagen="/static/img/reportes/nacionalidaddirigentes.png" nombre_imagen="DIRIGENTES" titulo="NACIONALIDAD" color="rgba(58,146,171,0.6)" descripcion="Visualización de la cantidad de dirigentes por nacionalidad." url_reporte="reportes_nacionalidad_dirigentes" %}
{% include "publico/item.html" with id=id imagen="/static/img/reportes/nacionalidaddirigentes.png" nombre_imagen="DIRIGENTES" titulo="CANTIDAD TOTAL DE DIRIGENTES" color="rgba(58,146,171,0.6)" descripcion="Visualización de la cantidad total de dirigentes." url_reporte="reportes_cantidad_dirigentes" %}

{% endwith %}