{# El identificador del grupo de la galeria es: 2 #}

{% with 2 as id %}

{% include "publico/item.html" with id=id imagen="/static/img/reportes/generador_escenario.png" nombre_imagen="ESCENARIOS" titulo="CARACTERÍSTICAS" color="rgba(245,132,19,0.6)" descripcion="Visualización de la cantidad de escenarios por diferentes tipos de características." url_reporte="reportes_caracteristicas_escenarios" %}

{% include "publico/item.html" with id=id imagen="https://cdn3.iconfinder.com/data/icons/higher-education-icon-set/256/chart.png" nombre_imagen="ESCENARIOS" titulo="CANTIDAD DE ESPECTADORES" color="rgba(245,132,19,0.6)" descripcion="Cantidad de espectadores de los escenarios categorizados por rangos de tamaño." url_reporte="reporte_cantidad_espectadores" %}


{% endwith %}