{# El identificador del grupo de la galeria es: 2 #}

{% with 2 as id %}

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="ESCENARIOS" titulo="Estrato" color="rgba(245,132,19,0.6)" descripcion="Escenarios por estrato" url_reporte="reportes_escenarios_estrato" %}

{% include "publico/item.html" with id=id imagen="https://cdn1.iconfinder.com/data/icons/customicondesign-office-shadow/256/Sport-track.png" nombre_imagen="ESCENARIOS" titulo="Características" color="rgba(245,132,19,0.6)" descripcion="Visualización de la cantidad de escenarios por diferentes tipos de características." url_reporte="reportes_caracteristicas_escenarios" %}

{% include "publico/item.html" with id=id imagen="https://cdn4.iconfinder.com/data/icons/Iconshock_soccer/png/256/soccer_4.png" nombre_imagen="ESCENARIOS" titulo="Escenarios por comunas" color="rgba(245,132,19,0.6)" descripcion="Agrupación de escenarios según la comuna a la cual pertenecen por municipio o disciplinas." url_reporte="reportes_escenarios_comunas" %}

{% include "publico/item.html" with id=id imagen="https://cdn3.iconfinder.com/data/icons/ballicons-free/128/clock.png" nombre_imagen="ESCENARIOS" titulo="Clase de los escenarios" color="rgba(245,132,19,0.6)" descripcion="Disponibilidad en días de los escenarios por departamento o municipio o disciplinas." url_reporte="reportes_clase_escenarios" %}

{% include "publico/item.html" with id=id imagen="http://www.armenia.gov.co/imagenesBD/ESTADIO.jpg" nombre_imagen="ESCENARIOS" titulo="Cantidad de espectadores" color="rgba(245,132,19,0.6)" descripcion="Cantidad de espectadores de los escenarios categorizados por rangos de tamaño." url_reporte="reporte_cantidad_espectadores" %}

{% endwith %}