{# El identificador del grupo de la galeria es: 6 #}

{% with 6 as id %}

{% include "publico/item.html" with id=id imagen="/static/img/reportes/EscuelaView.png" nombre_imagen="ESCUELAS DEPORTIVAS" titulo="ESTRATO" color="rgba(126,41,230,0.6)" descripcion="Visualización de la cantidad de escuelas de formación deportiva por estrato." url_reporte="reportes_estrato_escuelas" %}
{% include "publico/item.html" with id=id imagen="/static/img/reportes/EscuelaView.png" nombre_imagen="ESCUELAS DEPORTIVAS" titulo="SERVICIOS" color="rgba(126,41,230,0.6)" descripcion="Visualización de la cantidad de escuelas de formación deportiva por servicios prestados." url_reporte="reportes_servicios_escuelas" %}
{% include "publico/item.html" with id=id imagen="/static/img/reportes/EscuelaView.png" nombre_imagen="ESCUELAS DEPORTIVAS" titulo="DEPARTAMENTO Y MUNICIPIO" color="rgba(126,41,230,0.6)" descripcion="Visualización de la cantidad de escuelas de formación deportiva por departamento y municipio." url_reporte="reportes_cantidad_escuelas" %}

{% endwith %}