<div class="image gallery-group-{{id}}">
    <div class="image-inner">
        <a href="{% url url_reporte %}">
            <img src="{% if nombre_imagen == 'DEPORTISTAS' %}{{ STATIC_URL }}{% endif %}{{imagen}}" alt="{{ alt }}" />
        </a>
        <p class="image-caption" style="background:{{ color }}">
            {{nombre_imagen}}
        </p>
    </div>
    <div class="image-info">
        <h5 class="title"><strong>{{titulo}}</strong></h5>
        <div class="desc">
            {{descripcion}}
        </div>
        <p class="m-b-0">
            <a href="{% url url_reporte %}">
                <i class="fa fa-arrow-right"></i>
                Ingresar al reporte
            </a>
        </p>
    </div>
</div>