<div class="image gallery-group-{{id}}">
    <div class="image-inner">
        <a href="{{imagen}}" data-lightbox="gallery-group-{{id}}">
            <img src="{{imagen}}" alt="" />
        </a>
        <p class="image-caption">
            {{nombre_imagen}}
        </p>
    </div>
    <div class="image-info">
        <h5 class="title">{{titulo}}</h5>
        {% comment %}
        <div class="pull-right">
            <small>by</small> <a href="javascript:;">Sean Ngu</a>
        </div>
        <div class="rating">
            <span class="star active"></span>
            <span class="star active"></span>
            <span class="star active"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
        {% endcomment %}
        <div class="desc">
            {{descripcion}}
            <p><a href="{% url url %}">Ingresar al reporte</a></p>
        </div>
    </div>
</div>