<div class="image gallery-group-{{id}}">
    <div class="image-inner">
        <a href="{{imagen}}" data-lightbox="gallery-group-{{id}}">
            <img src="{{imagen}}" alt="" />
        </a>
        <p class="image-caption">
            {{nombre_imagen}}
        </p>
    </div>
    <div class="image-info">
        <h5 class="title"><strong>{{titulo}}</strong></h5>
        <div class="desc">
            {{descripcion}}
            <p><a href="{% url url_reporte %}">Ingresar al reporte</a></p>
        </div>
        <p class="m-b-0">
            <a href="{% url url_reporte %}">
                <i class="fa fa-arrow-right"></i>
                Ingresar al reporte
            </a>
        </p>
    </div>
</div>