{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Reportes - Tipos
{% endblock %}

{% block titulo_contenido %}
    Reportes - Tipos
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Reportes</li>
{% endblock %}

{% block css %}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{{STATIC_URL}}plugins/isotope/isotope.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/lightbox/css/lightbox.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/isotope/jquery.isotope.min.js"></script>
    <script src="{{STATIC_URL}}plugins/lightbox/js/lightbox-2.6.min.js"></script>
    <script src="{{STATIC_URL}}js/gallery.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>
{% endblock %}

{% block contenido %}
    <div id="options" class="m-b-10">
        <span class="gallery-option-set" id="filter" data-option-key="filter">
            <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
                Todos
            </a>
            <a href="#gallery-group-1" class="btn btn-default btn-xs" data-option-value=".gallery-group-1">
                Centros de Acondicionamiento
            </a>
            <a href="#gallery-group-2" class="btn btn-default btn-xs" data-option-value=".gallery-group-2">
                Escenarios
            </a>
            <a href="#gallery-group-3" class="btn btn-default btn-xs" data-option-value=".gallery-group-3">
                Deportistas
            </a>
            <a href="#gallery-group-4" class="btn btn-default btn-xs" data-option-value=".gallery-group-4">
                Dirigentes
            </a>
            <a href="#gallery-group-5" class="btn btn-default btn-xs" data-option-value=".gallery-group-5">
                Personal de Apoyo
            </a>
        </span>
    </div>
    <div id="gallery" class="gallery">
        {% include "publico/cafs.html" %}
        {% include "publico/deportistas.html" %}
        {% include "publico/dirigentes.html" %}
        {% include "publico/escenarios.html" %}
        {% include "publico/personal_apoyo.html" %}
    </div>
{% endblock %}