{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Reportes - Tipos
{% endblock %}

{% block titulo_contenido %}
    Reportes - Tipos
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Reportes</li>
{% endblock %}

{% block css %}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{{STATIC_URL}}plugins/isotope/isotope.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/lightbox/css/lightbox.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/dim-buttons.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <style type="text/css">
        .btn.btn-personal {
            color: #fff;
            background: #7B29E6;
            border-color: #7B29E6;
        }

        a.btn-personal.dim {
            box-shadow: inset 0px 0px 0px #6F25D0, 0px 5px 0px 0px #6F25D0, 0px 10px 5px #999999;
        }

        .btn-personal.active, .btn-personal.focus, .btn-personal:active, .btn-personal:focus, .btn-personal:hover, .open>.dropdown-toggle.btn-personal {
            color: #fff;
            background-color: #6F25D0;
            border-color: #6F25D0;
        }
    </style>
    
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/isotope/jquery.isotope.min.js"></script>
    <script src="{{STATIC_URL}}plugins/lightbox/js/lightbox-2.6.min.js"></script>
    <script src="{{STATIC_URL}}js/gallery.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>
{% endblock %}

{% block contenido %}
    <div id="options" class="m-b-10">
        <span class="gallery-option-set" id="filter" data-option-key="filter">
            <a href="#show-all" class="btn btn-default dim active btn-sm btn-outline" data-option-value="*">
                Todos
            </a>
            {% if 'centros' in actores_permitidos_reportes %}
                <a href="#gallery-group-1" class="btn btn-info dim btn-sm" data-option-value=".gallery-group-1">
                    <i class="fa fa-bicycle"></i>
                    Centros de Acondicionamiento
                </a>
            {% endif %}
            {% if 'escenarios' in actores_permitidos_reportes %}
                <a href="#gallery-group-2" class="btn btn-warning dim btn-sm" data-option-value=".gallery-group-2">
                    <i class="fa fa-globe"></i>
                    Escenarios
                </a>
            {% endif %}
            {% if 'deportistas' in actores_permitidos_reportes %}
                <a href="#gallery-group-3" class="btn btn-primary dim btn-sm" data-option-value=".gallery-group-3">
                    <i class="fa fa-futbol-o"></i>
                    Deportistas
                </a>
            {% endif %}
            {% if 'dirigentes' in actores_permitidos_reportes %}
                <a href="#gallery-group-4" class="btn btn-success dim btn-sm" data-option-value=".gallery-group-4">
                    <i class="ion-person-stalker"></i>
                    Dirigentes
                </a>
            {% endif %}
            {% if 'personal_apoyo' in actores_permitidos_reportes %}
                <a href="#gallery-group-5" class="btn btn-danger dim btn-sm" data-option-value=".gallery-group-5">
                    <i class="ion-ios-basketball-outline"></i>
                    Personal de Apoyo
                </a>
            {% endif %}
            {% if 'escuelas_deportivas' in actores_permitidos_reportes %}
                <a href="#gallery-group-6" class="btn btn-personal dim btn-sm" data-option-value=".gallery-group-6">
                    <i class="ion-ribbon-a"></i>
                    Escuelas Deportivas
                </a>
            {% endif %}
        </span>
    </div>
    <div id="gallery" class="gallery">
        {% if 'centros' in actores_permitidos_reportes %}
            {% include "publico/cafs.html" %}
        {% endif %}
        {% if 'deportistas' in actores_permitidos_reportes %}
            {% include "publico/deportistas.html" %}
        {% endif %}
        {% if 'dirigentes' in actores_permitidos_reportes %}
            {% include "publico/dirigentes.html" %}
        {% endif %}
        {% if 'escenarios' in actores_permitidos_reportes %}
            {% include "publico/escenarios.html" %}
        {% endif %}
        {% if 'personal_apoyo' in actores_permitidos_reportes %}
            {% include "publico/personal_apoyo.html" %}
        {% endif %}
        {% if 'escuelas_deportivas' in actores_permitidos_reportes %}
            {% include "publico/escuelas.html" %}
        {% endif %}
    </div>
{% endblock %}