{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Registro de Participantes</a>
    <li class="active">Cargar participantes</li>
{% endblock %}

{% block titulo_contenido %}
    Cargar participantes
{% endblock %}

{% block titulo_panel %}
    Cargar participantes
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
    {% include 'wizard_info_juego/_wizard.html' %}
    <div class="row">
    <div class="email-btn-row col-md-12">
      <a href="{% url 'medalleria_por_competencia' competencia_id %}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-arrow-left m-r-5"></i> Anterior</a>
    </div>
  </div>
  <br>    
    <div class="row">
        <div class="col-xs-12">
            <b>Archivo de Participantes a subir</b>
        </div>
        <hr>
        <div class="col-sm-12">
            <p>
                El archivo que vaya a cargar debe tener las columnas en el siguiente orden:
                <ol type="1" start="1">
                    <li> Nombre </li>
                    <li> Fecha de Competencia (AAAA-MM-DD) </li>
                    <li> Tipo de Competencia: se escribe <b>1</b> para <b>Olímpica</b> y <b>2</b> para <b>Paralímpica</b> </li>
                    <li> Tipo de Registro: se escribe <b>1</b> para <b>Tiempos</b>, <b>2</b> para <b>Metros</b> y <b>3</b> para <b>Puntos</b> </li>
                    <li>Tipos de Participantes: <b>1</b> para <b>Individual</b> y <b>2</b> para <b>Equipos</b></li>
                    <li>Tipo de Disciplina Deportiva: debe tener el identificador de la disciplina deportiva del sistema (Contácte el administrador si no los tiene)</li>
                    <li>Categoría: debe tener el identificador de la categoría deportiva del sistema (Contácte el administrador si no los tiene)</li>
                    <li>Modalidad: debe tener el identificador de la modalidad deportiva del sistema (Contácte el administrador si no los tiene)</li>
                    <li>Descripción de la competencia</li>
                </ol>

            </p>
        </div>
        <div class="col-sm-12" align="center">
            <form class="form-vertical" enctype="multipart/form-data" method="post">{% csrf_token %}
                {% bootstrap_form form layout="vertical" %}
                <button class="btn btn-primary" type="submit">
                    Subir <i class="fa fa-angle-right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}