{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Registro de Participantes</a>
    <li class="active">Cargar participantes</li>
{% endblock %}

{% block titulo_contenido %}
    Cargar participantes
{% endblock %}

{% block titulo_panel %}
    Cargar participantes
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
    {% include 'wizard_info_juego/_wizard.html' %}
    <div class="row">
    <div class="email-btn-row col-md-12">
      <a href="{% url 'medalleria_por_competencia' competencia_id %}" class="btn btn-sm btn-primary pull-left"><i class="fa fa-arrow-left m-r-5"></i> Anterior</a>
    </div>
  </div>
  <br>    
    <div class="row">
        <div class="col-xs-12">
            <b>Archivo de Participantes a subir</b>
        </div>
        <hr>
        <div class="col-sm-12">
            <p>
                El archivo que vaya a cargar debe tener las columnas en el siguiente orden:
                <ol type="1" start="1">
                    <li> Nombre (obligatorio)</li>
                    <li> Genero (obligatorio): <b>1</b> Masculino, <b>2</b> Femenino</li>
                    <li> Departamento (obligatorio): debe tener el identificador de los departamentos del sistema (Contácte el administrador si no los tiene)</li>
                    <li> Club del participante</li>
                    <li> Fecha de Nacimiento (AAAA-MM-DD)</li>
                    <li> Estatura (cm)</li>
                    <li> Peso (kg) (décimal, máximo dos cifras décimales y tres cifras enteras, separados por punto) Ej: 147.43</li>
                    <li> Posicion (número entero) (obligatorio)</li>
                    <li> Metros (décimal, máximo dos cifras décimales y tres cifras enteras, separados por punto) Ej: 147.43 (obligatorio si la competencia es por metros)</li>
                    <li> Puntos (número entero) (obligatorio si la competencia es por puntos)</li>
                    <li> Tiempo (números, puntos o dos puntos) (obligatorio si la competencia es por tiempo)</li>
                    <li> Marca (números, puntos o dos puntos)</li>
                    <li> Equipo (obligatorio si es competencia en equipos): debe tener el identificador del equipo del sistema (Contácte el administrador si no lo tiene)</li>                    
                </ol>
                <div class="alert alert-info fade in">                    
                    <b >Nota:</b> La primera fila del archivo debe tener los encabezados de la columna o dejarla vacía, para evitar que no se deje de registrar la información de dicha fila.
                </div>
            </p>
        </div>
        <div class="col-sm-12" align="center">
            <form class="form-vertical" enctype="multipart/form-data" method="post">{% csrf_token %}
                {% bootstrap_form form layout="vertical" %}
                <button class="btn btn-primary" type="submit">
                    Subir <i class="fa fa-angle-right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}