{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Directorio</li>
{% endblock %}

{% block titulo_contenido %}
    Directorio
{% endblock %}

{% block titulo_panel %}
    <i class="fa fa-phone-square"></i> Directorio de Contactos
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <form  method="POST">{% csrf_token %}
                    <div class="col-md-10">       
                    {% for field in form %}
                        <div class="col-md-4">
                            {% bootstrap_field field layout="vertical" %}
                        </div>
                    {% endfor %}
                    </div>
                    </br>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-search"></span> Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</br></br>
    {% if listado_resultados %}
        <div style="margin-left:25px;">       
            <h1 class="page-header">Resultados Obtenidos</h1>
            <div id="options" class="m-b-10">
                <span class="gallery-option-set" id="filter" data-option-key="filter">
                    <a href="#show-all" class="btn btn-primary btn-xs active" data-option-value="*">
                        Todos
                    </a>
                    <a href="#CajaCompensancionView" class="btn btn-primary btn-xs" data-option-value=".CajaCompensacionView">
                        Cajas de Compensación
                    </a>
                    <a href="#CAFView" class="btn btn-primary btn-xs" data-option-value=".CAFView">
                        Centros de Acondicionamiento
                    </a>
                    <a href="#DeportistaView" class="btn btn-primary btn-xs" data-option-value=".DeportistaView">
                        Deportistas
                    </a>
                    <a href="#DirigenteView" class="btn btn-primary btn-xs" data-option-value=".DirigenteView">
                        Dirigentes
                    </a>
                    <a href="#EscenarioView" class="btn btn-primary btn-xs" data-option-value=".EscenarioView">
                        Escenarios Deportivos
                    </a>
                    <a href="#PersonalApoyoView" class="btn btn-primary btn-xs" data-option-value=".PersonalApoyoView">
                        Personal de apoyo
                    </a>
                </span>
            </div>
        </br></br>
        <div id="gallery" class="gallery">
        {% for tupla in listado_resultados %}
            {% for resultado in tupla %}
                <div class="image {{resultado.grupo}}" >
                    <div class="image-inner">
                        <a href="{% if not resultado.foto %}{{STATIC_URL}}img/actores/{{resultado.grupo}}.png{% else %}{{MEDIA_URL}}{{resultado.foto}}{% endif %}" data-lightbox="{{resultado.grupo}}">
                            <img src="{% if not resultado.foto %}{{STATIC_URL}}img/actores/{{resultado.grupo}}.PNG{% else %}{{MEDIA_URL}}{{resultado.foto}}{% endif %}" alt="" />
                        </a>
                    </div>
                    <div class="image-info">
                        <h5 class="title">{{resultado.nombre}} {{resultado.nombres}} {{resultado.apellidos}}</h5>                        
                        <b>Entidad:</b> {{resultado.entidad.nombre}}<br>                        
                        {{resultado.direccion}}<br>  
                        {{resultado.ciudad.nombre}} {{resultado.ciudad_residencia.nombre}}<br>
                        <button class="btn-link" data-html="true" data-container="body" data-toggle="popover" data-placement="top" 
                            data-content="Teléfono: {% if resultado.telefono_contacto %}{{resultado.telefono_contacto}}{% else %}No hay información.{% endif %}<br/>
                            Celular: {% if resultado.telefono_celular %}{{resultado.telefono_celular}}{% else %}No hay información.{% endif %}<br/>
                            Contacto: {% if resultado.nombre_contacto %}{{resultado.nombre_contacto}} {% else %}No hay información.{% endif %}">
                          Ver Teléfonos
                        </button>                        
                    </div>
                </div>
            {% endfor %}                    
        {% endfor %}
        </div>
        {% else %}
        <div class="container"><h5>No hay resultados para la búsqueda.</h5></div>
        {% endif %}
    </div>


{% endblock %}
{% block css %}
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{{STATIC_URL}}plugins/isotope/isotope.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/lightbox/css/lightbox.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    
{% endblock %}

{% block js %}
    
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{{STATIC_URL}}plugins/isotope/jquery.isotope.min.js"></script>
    <script src="{{STATIC_URL}}plugins/lightbox/js/lightbox-2.6.min.js"></script>
    <script src="{{STATIC_URL}}js/gallery.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== --> 
    
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>

{% endblock %}