{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    
{% endblock %}

{% block css %}
    
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Directorio</li>
{% endblock %}

{% block titulo_contenido %}
    Directorio
{% endblock %}

{% block titulo_panel %}
    Directorio de Contactos
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    

{% endblock %}


{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            FormWizard.init();
        });
    </script>
{% endblock %}