<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 7;"><span class="label badge-inverse">1</span><a class="hidden-phone">
            <a {% if escenario_id %} href="{% url 'wizard_identificacion' escenario_id %}" style="cursor:pointer;"{% endif %}>
                
                Identificación <small>Datos de indentificación y ubicación</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">2</span>
        <a class="hidden-phone">
            <a {% if escenario_id %} href="{% url 'wizard_caracterizacion' escenario_id %}" style="cursor:pointer;"{% endif %}>
                Caracterización <small>Condiciones y tipo de escenario</small>

            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 5;"><span class="label">3</span>
        <a class="hidden-phone">
            <a {% if escenario_id %}href="{% url 'wizard_horarios' escenario_id %}" style="cursor:pointer;" {% endif %}>
                Horarios<small>Horarios de atención o de servicio</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 4 %} aria-selected="true" class="active" {% endif %} style="z-index: 4;"><span class="label">4</span>
        <a class="hidden-phone">
            <a {% if escenario_id %} href="{% url 'wizard_historicos' escenario_id %}" style="cursor:pointer;" {% endif %}>
                Históricos <small>Eventos o fechas históricas</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 5 %} aria-selected="true" class="active" {% endif %} style="z-index: 3;"><span class="label">5</span>
        <a class="hidden-phone">
            <a {% if escenario_id %} href="{% url 'wizard_fotos' escenario_id %}" style="cursor:pointer;" {% endif %}>
                Multimedia <small>Colección de contenido multimedia</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 6 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">6</span>
        <a class="hidden-phone">
            <a {% if escenario_id %} href="{% url 'wizard_mantenimiento' escenario_id %}" style="cursor:pointer;"{% endif %}>
                Mantenimiento <small>Información de la manutención y cuidado</small>
            </a>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 7 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">7</span>
        <a class="hidden-phone">
            <a {% if escenario_id %} href="{% url 'wizard_contactos' escenario_id %}" style="cursor:pointer;" {% endif %}>
                Contacto <small>Información de contacto</small>
            </a>
        </a>
    </li>
    
</ol>
<br/>

