{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    Registro Escenario
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# js y css para datetime #}
    
    
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'listar_escenarios' %}">Escenarios</a>
    {% if escenario_id %}
    <li class="active">Editar</li>
    {% else %}
    <li class="active">Registrar</li>
    {% endif %}
{% endblock %}

{% block titulo_contenido %}
    Escenarios Deportivos
{% endblock %}

{% block titulo_panel %}
    {{titulo_panel}}
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    {% include 'escenarios/wizard/_wizard.html' %}
    <fieldset>
        <form id="form-wizard-escenarios" action="" method="post">{% csrf_token %}
            <div class="well row">
                <div class="row">
                    <h3>{{titulo}}</h3>
                    
                    {% for field in form %}
                        <div class="col-md-6">
                            
                            {% bootstrap_field field layout="vertical" %}
                        </div>
                    {% endfor %}
                </div>
                <hr>
                {% if wizard_stage > 1 %}
                <input class="btn btn-primary pull-left" type="button" value="← Anterior" name="volver atrás2" onclick="history.back(); " />
                {% endif %}     
                <button class="btn btn-primary pull-right" type="submit">Siguiente →</button>
            </div>
        </form>
    </fieldset>
    

{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    
    <script src="{{ STATIC_URL }}js/validaciones/escenarios/wizard_escenario-validations.js"></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            FormWizard.init();
        });
    </script>
{% endblock %}
