{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    Registro Escenario
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/validaciones/escenarios/wizard_historicos-validations.js"></script>
    {{form.media}} {# js y css para datetime #}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'listar_escenarios' %}">Escenarios</a>
    <li class="active">Editar</li>
{% endblock %}

{% block titulo_contenido %}
    Escenarios Deportivos
{% endblock %}

{% block titulo_panel %}
    Registro de Escenarios Deportivos
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido_panel %}
    {% include 'escenarios/wizard/_wizard.html' %}
        <div class="row">
            <fieldset class="col-md-7" >
                <form id="form-wizard-historicos" action="" method="post">{% csrf_token %}
                <div class="well row">
                    <div class="col-xs-12">
                        <h3>{{titulo}}</h3>
                        {% for field in form %}
                            <div class="col-lg-6">
                                <label for="{{ field.label }}">{{ field.label_tag }}
                                    {% if field.field.required %}<span class="special_class">*</span>{% endif %}
                                </label>
                                {% bootstrap_field field layout="inline" %}
                            </div>
                        {% endfor %}
                        <button class="pull-right row btn btn-info" type="submit" style="margin-top:10px;"><i class="fa fa-save"></i> Guardar</button>              
                    </div>
                </div>
                </form>
            </fieldset> 
            <div class="col-md-5">
                <h4>Datos Históricos Actuales:</h4>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th align="center">Fecha Inicio</th>
                            <th align="center">Fecha Fin</th>
                            <th align="center">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for historico in historicos %}
                        <tr>
                            <td align="center">{{historico.fecha_inicio}}</td>
                            <td align="center">{{historico.fecha_fin}}</td>
                            <td align="center">{{historico.descripcion}}</td>
                            <td align="center">
                                <a href="#modal-desactivate" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                <div class="modal fade" id="modal-desactivate">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Eliminar Dato Histórico:</h4>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea eliminar este dato histórico?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                <a href="{% url 'eliminar_historico' escenario_id historico.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>            
            </div>
        </div>
        <br/>
        {% if wizard_stage > 1 %}
        <input class="btn btn-success pull-left" type="button" value="← Anterior" name="volver atrás2" onclick="history.back()" />
        {% endif %}     
        <a href="{% url 'wizard_fotos' escenario_id %}" class="btn btn-primary pull-right">Siguiente →</a>
    

{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.js"></script>

    
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            FormWizard.init();
        });
    </script>
{% endblock %}
