{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Normograma Buscar</li>
{% endblock %}

{% block titulo_contenido %}
    Normograma
{% endblock %}

{% block titulo_panel %}
    <i class="fa fa-qrcode"></i> Registro de Norma
{% endblock %}

{% block panel_botones %}
{% endblock %}

{% block contenido %}
    <br/>
    <h1 class="page-header">Resultados de Búsqueda <small>{% if listado_resultados %}{{cantidad_resultados}} {% if cantidad_resultados > 1 %}fueron encontrados {% else %} fue encontrado {% endif %}{% endif %}</small></h1>
    <div class="row">
        <form  method="POST">{% csrf_token %}
            <div class="col-md-10">       
                <div class="col-md-6">
                    {% bootstrap_field form.texto_a_buscar layout="vertical" %}
                </div>
                {% comment %}
                <div class="col-md-2">
                    {% bootstrap_field form.anio layout="vertical" %}
                </div>
                {% endcomment %}
                <div class="col-md-3">
                    {% bootstrap_field form.sector layout="vertical" %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.jurisdiccion layout="vertical" %}
                </div>
            </div>
            </br>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-search"></span> Buscar
                </button>
            </div>
        </form>
    </div>
    {% if listado_resultados %}
        <ul class="result-list">    
        {% for listado in listado_resultados %}
            {% for resultado in listado %}
            <li>
                
                <div class="result-info col-md-9">
                    <h4 class="title">Título de Norma: {{resultado.norma}}</h4>
                    <p class="location">{% if resultado.sectores.all %}Sector:{% for sector in resultado.sectores.all %} {{sector.nombre}}, {% endfor %}{% endif %} Año: {{resultado.anio}}</p>
                    <p class="desc">
                        {{resultado.descripcion}}
                    </p>
                    Palabras Clave: <b>{{resultado.palabras_clave}}</b> <br/>
                </div>
                <div class="result-price col-md-1">
                    <small>JURISDICCIÓN:</small> {{resultado.get_jurisdiccion_display}}
                    <a href="javascript:;" class="btn btn-inverse btn-block">Ver Detalles</a>
                </div>
            </li>
            {% endfor %}
        {% endfor %}
        </ul>
        {% else %}
        <div class="col-md-5"><h5>No hay resultados para la búsqueda.</h5></div>
    {% endif %}

{% endblock %}

{% block css %}       
    <link href="{{STATIC_URL}}plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    {{form.media}} {# js y css para datetime #}
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="{{STATIC_URL}}plugins/masked-input/masked-input.min.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="{{STATIC_URL}}plugins/password-indicator/js/password-indicator.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="{{STATIC_URL}}plugins/jquery-tag-it/js/tag-it.min.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-daterangepicker/moment.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="{{STATIC_URL}}js/form-plugins.demo.min.js"></script>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            FormPlugins.init();
        });
    </script>

{% endblock %}