{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    {{ actor }}
{% endblock %}

{% block titulo_contenido %}
   {{ actor }}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.css">
    <style>
        #filtros{
            position: absolute;
            top: 0;
            left: 10px;
            z-index: 100;
            background-color: transparent;
        }

        #filtros .well{
            background-color: rgba(255,255,255,0.4);
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}plugins/DataTables/js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}plugins/DataTables/js/dataTables.tableTools.js"></script>
    <script src="{{STATIC_URL}}amcharts/ejecutar_estadisticas.js"></script>
    <script src="{{STATIC_URL}}amcharts/tabla_de_datos.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            columnas = [nombres_columnas[0], "Cantidad"];
            tablaDeDatos = TablaDeDatos("tabla", columnas);
            tablaDeDatos.setDatos(datos);
            $('#loading').modal('show');
            url = "{% url url_data %}";
            realizarConsulta = function realizarConsulta(){
                var departamentos = JSON.stringify($("#id_departamentos").val());
                var municipios = JSON.stringify($("#id_municipios").val());
                var reporte = JSON.stringify($("#id_reporte").val());
                $('#loading').modal('show');
                $.ajax({
                    url: url,
                    data: {'departamentos': departamentos,'municipios':municipios, 'reporte':reporte},
                    dataType: 'json',
                    success: function(data) {
                        Reportes.modificarDatos(data, $("#id_reporte option:selected").text());
                        id = $("#id_reporte").prop('selectedIndex');
                        tablaDeDatos.setDatos(data);
                        tablaDeDatos.setColumnas([nombres_columnas[id], "Cantidad"]);
                        tablaDeDatos.verificarActualizacion();
                        $('#loading').modal('hide');
                    }, error: function(err){
                        console.log(err);
                        $('#loading').modal('hide');
                    }
                });

            }
            $("#id_departamentos").on("change", function(){
                realizarConsulta();
            });
            $("#id_municipios").on("change", function(){
                realizarConsulta();
            });
            $("#id_disciplinas").on("change", function(){
                realizarConsulta();
            });
            $("#id_reporte").on("change", function(){
                realizarConsulta();
                var titulo =  $("#id_reporte option:selected").text();
                $("#titulo").html(titulo); 
            });

              
        });
        nombreReporte = "{{ nombre_reporte }}";
        visualizaciones = {{visualizaciones|safe}};
        nombres_columnas = {{nombres_columnas|safe}};
        datos = {{datos|safe}};
    </script>
    
    <script>
        $(document).ready(function(){
           $("#filtros").css("display","none");
           
        });
    </script>
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'reportes_publico_tipos' %}">Reportes</a></li>
    <li><a href="{% url 'reportes_publico_tipos' %}">{{ actor }}</a></li>
    <li>Características</li>
{% endblock %}

{% block botones_panel %}
    <a href="{% url 'reportes_publico_tipos' %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
{% endblock %}

{% block titulo_panel %}
    <label class="titulo" style="color:white;"> Reportes Centros de Acondicionamiento Físico</label>
{% endblock %}

{% block contenido_panel %}
    
    <div class="row">
        <div class="col-md-12">       
        {% for field in form %}
            <div class="col-md-3">
                {% bootstrap_field field layout="vertical" %}
            </div>
        {% endfor %}
        </div>
    </div>
    {% include "loading.html" %}

    <ul class="nav nav-pills">
        <li class="active" onclick="tablaDeDatos.cambioDiv(0)"><a href="#nav-pills-tab-1" data-toggle="tab">Gráficas</a></li>
        <li onclick="tablaDeDatos.cambioDiv(1)"><a href="#nav-pills-tab-2" data-toggle="tab">Tabla de Datos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="nav-pills-tab-1">
            <div class="row" id="contenido">
                <div class="col-md-12">
                    <br>
                    {#<h4 id="titulo" align="center">División Territorial de CAF</h4>#}
                    {% for i in visualizaciones %}
                        <div id="chartdiv{{i}}" style="width:100%; height:500px"></div>
                    {% endfor %}
                </div>
                <h5 align="right">Consultado: <b>{{fecha_generado}}</b></h5>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-pills-tab-2">
            <table id="tabla" class="table table-bordered table-hover">
                <thead>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}