{% extends "base_reportes1.html" %}
{% load bootstrap3 %}

{% block js_realizar_consulta %}    
    <script type="text/javascript">
        $(document).ready(function(){
            url = "{% url url_data %}";
            realizarConsulta = function realizarConsulta(){
                var departamentos = JSON.stringify($("#id_departamento").val());
                var annos = JSON.stringify($("#id_anno").val());

                $.ajax({
                    url: url,
                    data: {'departamentos': departamentos, 'annos':annos},
                    dataType: 'json',
                    success: function(data) {
                        Reportes.modificarDatos(data);
                    }
                });

            }
            $("#id_anno").on("change", function(){
                realizarConsulta();
            });
            $("#id_departamento").on("change", function(){
                realizarConsulta();
            });
        });
    </script>
    <script src="{{STATIC_URL}}amcharts/ejecutar_estadisticas.js"></script>
{% endblock %}