{% extends "base.html" %}

{% block titulo %}
    Demografía - CAF
{% endblock %}

{% block titulo_contenido %}
    Demografía - CAF
{% endblock %}

{% block js %}

{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'inicio' %}">Reportes</a></li>
    <li><a href="{% url 'inicio' %}">CAF</a></li>
    <li><a href="{% url 'inicio' %}">Demografía</a></li>
{% endblock %}

{% block titulo_panel %}
    Demografía - CAF
{% endblock %}

{% block contenido_panel %}
    
{% endblock %}