{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Listar Grupos
{% endblock %}

{% block titulo_contenido %}
    Lista de Grupos
{% endblock %}

{% block miga_pan %}
    <li><a href="#">Grupos</a></li>
    <li class="active">Lista</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-grupos";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block titulo_panel %}
    Listar Grupos
{% endblock %}

{% block contenido_panel %}
    <table id="tabla-grupos" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Permisos</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in grupos %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>
                        {% if i.permissions.all %}
                            <ol>
                                {% for i in i.permissions.all %}
                                    <li>
                                        <center>{{i.name}}</center>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <center>No hay permisos asociados</center>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'grupos_modificar' i.id %}" title="Editar" target="__new">
                            <i class="fa fa-gear"></i> Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}