{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Modificar Grupo
{% endblock %}

{% block titulo_contenido %}
    Modificación de Grupo
{% endblock %}

{% block miga_pan %}
    <li><a href="#">Grupo</a></li>
    <li class="active">Modificar</li>
{% endblock %}

{% block titulo_panel %}
    Modificar Grupo
{% endblock %}

{% block contenido_panel %}
    <form class="form-vertical" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            {% for i in form %}
                <div class="col-sm-6">
                    {% bootstrap_field i layout="vertical" %}
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary pull-right" type="submit">Modificar <i class="fa fa-angle-right"></i></button>
    </form>
{% endblock %}