{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Listar Usuarios
{% endblock %}

{% block titulo_contenido %}
    Lista de Usuarios
{% endblock %}

{% block miga_pan %}
    <li><a href="#">Usuarios</a></li>
    <li class="active">Lista</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-usuarios";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block titulo_panel %}
    Listar Usuarios
{% endblock %}

{% block contenido_panel %}
    <table id="tabla-usuarios" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Grupo</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        {{usuario.groups.all.0}}
                    </td>
                    <td>
                        {% if usuario.is_active == True %}
                            ACTIVO
                        {% else %}
                            INACTIVO
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'usuarios_modificar' usuario.id %}" target="__new">
                            <i class="fa fa-gear"></i> Editar
                        </a>
                        <br/>
                        <a href="{% url 'usuarios_password' usuario.id %}" target="__new">
                            <i class="fa fa-key"></i> Cambiar Contraseña
                        </a>
                        <br/>
                        <a href="#"  data-target="#modal-desactivar-{{usuario.id}}" data-toggle="modal">
                            <i class="fa fa-ban"> A/I </i>
                        </a>
                        <i class="fa fa-question-circle add-tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="Activar / Inactivar"> </i>
                    </td>
                </tr>

                <!-- modales -->
                <div class="modal fade" id="modal-desactivar-{{usuario.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Cambiar de estado usuario</h4>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea {% if usuario.is_active %} desactivar {% else %} activar {% endif %} este usuario?
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                <a href="{% url 'usuarios_desactivar' usuario.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}