{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Modificar Password
{% endblock %}

{% block titulo_contenido %}
    Modificación de Password
{% endblock %}

{% block miga_pan %}
    <li><a href="#">Usuarios</a></li>
    <li class="active">Password</li>
{% endblock %}

{% block titulo_panel %}
    Modificar Password de <b>{{usuario.first_name}} {{usuario.last_name}}
{% endblock %}

{% block contenido_panel %}
    <form class="form-vertical" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-md-5">
                {% bootstrap_field form.password1 layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-5">
                {% bootstrap_field form.password2 layout="vertical" %}
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary pull-right" type="submit" style="margin-top:20px">
                    Modificar <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock %}