{% if tipo and label %}
	<span class='label label-table {{tipo}}'>{{label}}</span>
{% endif %}

{% if tipo == 'urlsOpciones'%}
	{% for i in urls %}
	    <a href='{{i.url}}' >
	    	<i class="fa {{i.imagen}}"></i> {{i.nombre}}
	    </a>
	    <br/>
	{% endfor %}
{% endif %}

{% if tipo == 'ManyToMany' %}
	<ul>
	{% for i in valores %}
	    <li>{{i}}</li>
	{% endfor %}
	</ul>
{% endif %}

{%if tipo == 'foto' %}
	{% if valor	%}
		<img class="media-object rounded-corner" src="/media/{{valor}}" alt="Foto" width="60" height="60" />
	{%else%}
		<img class="media-object" src="/static/img/depor_default.png" alt="Foto del Deportista" width="60" height="60"/>
	{%endif%}
{%endif%}