{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Inicio - SIND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Panel de Control
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/coldeportes/arrayToJson.js"></script>
    <script src="{{STATIC_URL}}amcharts/amcharts.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/serial.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/amexport.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/canvg.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/rgbcolor.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/filesaver.js" type="text/javascript"></script>
    <script type="text/javascript">
        var actoresAsociados = {{cantidad_entes|safe}};
        var chartData = [];
        for (i in actoresAsociados){
            var aux = actoresAsociados[i];
            chartData.push(
                {
                    "actor": aux.tipo,
                    "valor": aux.tipo__count,
                    "color": colors[i%colors.length],
                }
            );
        }


        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "light",
            "marginRight": 70,
            "dataProvider": chartData,
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<b>[[category]]: [[value]]</b>",
                "fillColorsField": "color",
                "fillAlphas": 0.9,
                "lineAlpha": 0.2,
                "type": "column",
                "valueField": "valor"
            }],
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "actor",
            "categoryAxis": {
                "gridPosition": "start",
                "labelRotation": 45,
                "labelFunction": function(label) {
                  label = label.replace(/(.{2}[ ])/g, "$1\n");
                  return label;
                }
            },
            "export": {
                "enabled": true
            },
            "exportConfig": exportConfig(),
            "depth3D": 20,
            "angle": 30,
        });

        
    </script>
    <script type="text/javascript">
        datosMostrar = "{{ubicaciones}}";
        posicionInicial = "{{posicionInicial}}";
        mapa = "mapa";
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/coldeportes/creacion_google_maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

    <script>
        // EFECTOS DE ANIMACIÓN DASHBOARD
        $(document).ready(function(){
            $("#info-tenant").css("display","block");
            $("#georreferenciacion").css("display","block");
            $("#noticias").css("display","block");

        });

        calendarEvents = [];
        {% for evento in eventos %}
            calendarEvents.push([

                '{{ evento.fecha_inicio|date:"j/n/Y" }}',
                '{{ evento.titulo_evento }}',
                '#',
                '#008a8a',
                '{{ evento.objetivo }} <div class="text-right"><a href="calendario-deportivo/ver-evento/{{ evento.id }}"> Ver mas <i class="fa fa-angle-double-right"></i></a></div>'

            ]);
        {% endfor %}
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gestion_eventos/calendar.dashboard.js"></script>

{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
		$(document).ready(function() {
			Dashboard.init();
            $(".calendar table:nth-child(2)").addClass("table-striped table-hover");
		});
    </script>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/bootstrap-calendar/css/bootstrap_calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gestion_eventos/dashboard.css">
    <style>
        .profile-image {
            border: 0;
        }
        #mapa {
            height: 400px;
            width: 100%;
          }
        .item:before {
            content: '';
            background: url('{{ STATIC_URL }}img/content-bg-cover.png');
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #presentacion-calendario{
            text-align: center;
        }

        #titulo-calendario{
            font-size: 25px;
            color: #337ab7;
        }

        #img-calendario{
            width: 70%;
            height: 70%;
        }
    </style>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-4">
            <h4><b>SISTEMA DE INFORMACIÓN NACIONAL DEL DEPORTE</b></h4>
        </div>
        <div class="col-sm-3"  style="font-size:15px; text-align: right;">
            <div class="row">
                <div class="col-sm-12">
                    DEPORTISTAS
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b>{{deportistas}}</b>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-1">
            <img src="{{STATIC_URL}}img/grafica1.png" alt="grafica.png">
        </div>
        <div class="col-sm-3" style="font-size:15px; text-align: right;">
            <div class="row">
                <div class="col-sm-12">
                    ESCENARIOS
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <b>{{escenarios}}</b>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-sm-1">
            <img src="{{STATIC_URL}}img/grafica2.png" alt="grafica.png">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-success animated fadeInRightBig">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">
                        {% if user.is_authenticated %}
                            Entidades registradas en el SIND
                        {% else %}
                            Eventos del Calendario Deportivo Nacional
                        {% endif %}
                    </h4>
                </div>
                <div class="panel-body" style="padding:0;">
                    {% if user.is_authenticated %}
                        <div id="chartdiv" style="width:100%; height:400px"></div>
                    {% else %}
                        <div id="presentacion-calendario" class="col-md-4 col-md-offset-1">
                            <br/>
                            <div class="panel-icono">
                                <img src="{{ STATIC_URL }}img/cono_calendario.png" id="img-calendario" class="img-responsive">
                            </div>
                            <div id="titulo-calendario" class="f-w-600">Calendario deportivo nacional</div><br/>
                            <a id="gestion-calendario" type="button" href="{% url 'cargar_calendario_nacional' %}" class="btn btn-primary">
                                <i class="fa fa-calendar"></i> Ver calendario
                            </a>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div id="schedule-calendar" class="bootstrap-calendar"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            {% if noticias %}
                <div class="row">
                    <div id="noticias" class="panel panel-success animated fadeInRightBig" style="display:none;">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">
                                Noticias
                            </h4>
                        </div>
                        <div class="panel-body" style="padding:0;">
                            <div id="carrusel-noticias" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              {% for noticia in noticias %}
                                <li data-target="#carrusel-noticias" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                              {% endfor %}
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            {% for noticia in noticias %}
                                <div class="item {% if forloop.first %}active{% endif %}">
                                  <img class="img-responsive" style="width: 100%" src="{% if noticia.foto != "" %}{{ MEDIA_URL }}{{ noticia.foto }}{% else %}{{ MEDIA_URL }}clasificados/clasificados-default.png{% endif %}"
                                       alt="imagen-noticia">
                                    <div class="carousel-caption">
                                      <h3 style="color:lightslategray;">{{ noticia.titulo }}</h3>
                                      <p>{{ noticia.previsualizacion }}...</p>
                                        <a href="{% url 'detalles_noticia' noticia.id %}">Leer más <i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#carrusel-noticias" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                          </a>
                          <a class="right carousel-control" href="#carrusel-noticias" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                          </a>
                        </div>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="panel panel-success animated fadeInRightBig">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">
                    Georreferenciación de Escenarios Deportivos
                </h4>
            </div>
            <div class="panel-body" style="padding:0;">
                <div id="mapa"></div>
            </div>
        </div>  
    </div>
{% endblock %}