{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Inicio - SIND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Panel de Control
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/coldeportes/arrayToJson.js"></script>
    <script src="{{STATIC_URL}}amcharts/amcharts.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/serial.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/amexport.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/canvg.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/rgbcolor.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}amcharts/exporting/filesaver.js" type="text/javascript"></script>    
    <script type="text/javascript">
        datosMostrar = "{{ubicaciones}}";
        posicionInicial = "{{posicionInicial}}";
        mapa = "mapa";
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/coldeportes/creacion_google_maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

    <script>
        // EFECTOS DE ANIMACIÓN DASHBOARD
        $(document).ready(function(){
            $("#info-tenant").css("display","block");
            $("#georreferenciacion").css("display","block");
            $("#noticias").css("display","block");
            var actores = {{ actoresAsociados |safe}};
            var cantidadActores = actores.length;
            var tiempo = 0;
            for(i=0;i<cantidadActores;i++){
                if(tiempo==0){
                    $("#info-actores-"+i).css("display","block");
                }else{
                    setTimeout(function(i){$("#info-actores-"+i).css("display","block");},tiempo,i);
                }
                tiempo+=150;
            }

        });
    </script>
{% endblock %}

{% block css %}
    <style>
        .profile-image {
            border: 0;
        }
        #mapa {
            height: 400px;
            width: 100%;
          }
        .item:before {
            content: '';
            background: url('{{ STATIC_URL }}/img/content-bg-cover.png');
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    </style>
{% endblock %}

{% block contenido %}
    {% if entidad.mostrar_info %}
        <div class="row p-b-30">
            <div class="col-md-10 col-md-offset-1">
                <div class="result-container">
                    <ul class="result-list">
                        <li id="info-tenant" class="animated fadeInDownBig" style="display:none;">
                            <div class="result-image">
                                <img src="{{ STATIC_URL }}img/info-tenant-imagen.png" alt=""/>
                            </div>
                            <div class="result-info">
                                <h4 class="title"><strong>{{ entidad.nombre | upper }}</strong></h4>
                                {% if entidad.tipo_tenant == "Club" %}
                                    <a href="" data-target="#modal-socios" data-toggle="modal" class="pull-right"> <i class="fa fa-group"></i> Ver socios del club</a>
                                    <a data-toggle="modal" data-target="#modal-planes" class="pull-right" href=""><i class="fa fa-money"></i> Ver planes de costos</a>
                                {% endif %}

                                <p class="location">{{ entidad.tipo_tenant }} {% if entidad.disciplina %} de {{ entidad.disciplina }}{% endif %}</p>
                                <p class="desc">
                                    {% if entidad.descripcion %} {{entidad.descripcion }} {% else %} Descripción no especificada{% endif %}
                                </p>
                                <div class="btn-row">
                                    <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Ciudad(Departamento)">
                                        <i class="fa fa-fw fa-globe"></i>
                                    </a><span>{% if entidad.ciudad %} {{entidad.ciudad }} {% else %} No especificada{% endif %}</span>
                                    <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Dirección">
                                        <i class="fa fa-fw fa-home"></i>
                                    </a><span>{% if entidad.direccion %} {{entidad.direccion }} {% else %} No especificada{% endif %}</span>
                                    <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Teléfono">
                                        <i class="fa fa-fw fa-phone"></i>
                                    </a><span>{% if entidad.telefono %} {{entidad.telefono }} {% else %} No especificado{% endif %}</span>
                                    <a href="javascript:;" data-toggle="tooltip" data-container="body" data-title="Teléfono">
                                        <i class="fa fa-fw fa-link"></i>
                                    </a><span>{% if entidad.pagina_web %} {{entidad.pagina_web }} {% else %} No especificado{% endif %}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% endif %}

    <!--Se trae todo el bloque ya que se pueden utilizar mas de un panel-->
    <div class="row">
        {% for i in actoresAsociados %}
            <div class="col-md-2 col-sm-6">
                <div id="info-actores-{{ forloop.counter0 }}" class="widget widget-stats bg-{{i.1}} animated fadeInRight" style="display:none;">
                    <div class="stats-icon stats-icon-lg"><i class="fa {{ i.4 }} fa-fw"></i></div>
                    <div class="stats-title">{{ i.0 |upper }}</div>
                    <div class="stats-number">{{ i.2 }}</div>
                    <hr style="margin-bottom:10px;margin-top:10px;"/>
                    <div class="stats-desc" >
                        {% if user.is_authenticated %}
                            <a href="{% url i.3 %}" style="color:white"><i class="fa fa-list"></i> Ver listado detallado</a>
                        {% endif %}
                        <br/>
                        <a href="{% url 'reportes_publico_tipos' %}" style="color:white"><i class="fa fa-bar-chart"></i> Ver reportes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div id="georreferenciacion" class="panel panel-success animated fadeInLeftBig" style="display:none;">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">
                                Georreferenciación de Escenarios Deportivos
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div id="mapa"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-5">
            {% if noticias %}
                <div class="row">
                    <div id="noticias" class="panel panel-success animated fadeInRightBig" style="display:none;">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">
                                Noticias
                            </h4>
                        </div>
                        <div class="panel-body" style="padding:0;">
                            <div id="carrusel-noticias" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              {% for noticia in noticias %}
                                <li data-target="#carrusel-noticias" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                              {% endfor %}
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            {% for noticia in noticias %}
                                <div class="item {% if forloop.first %}active{% endif %}">
                                  <img class="img-responsive" style="width: 100%" src="{% if noticia.foto != "" %}{{ MEDIA_URL }}{{ noticia.foto }}{% else %}{{ MEDIA_URL }}clasificados/clasificados-default.png{% endif %}"
                                       alt="imagen-noticia">
                                    <div class="carousel-caption">
                                      <h3 style="color:lightslategray;">{{ noticia.titulo }}</h3>
                                      <p>{{ noticia.previsualizacion }}...</p>
                                        <a href="{% url 'detalles_noticia' noticia.id %}">Leer más <i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#carrusel-noticias" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                          </a>
                          <a class="right carousel-control" href="#carrusel-noticias" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                          </a>
                        </div>
                        </div>
                    </div>

                </div>
            {% endif %}
            <!--
                <div class="row">
                    <div class="col-md-12">
                        <div id="chartdiv" style="width: 100%; height: 200px;"></div>
                    </div>
                </div>
            -->
        {% if entidad.disponible_para_transferencias and user.is_authenticated and user.groups.all.0.name != 'Solo lectura' %}
            {% include 'panel_solicitudes.html' %}
        {% endif %}
        </div>
    </div>

    <!-- Modales -->
    <div class="modal fade" id="modal-socios">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Lista de socios</h4>
                </div>
                <div class="modal-body">
                    {% if entidad.socios %}
                        <table class="table table-striped table-bordered table-hover dataTables-socios" >
                            <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Ciudad</th>
                                    <th>Empresa</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for socio in entidad.socios %}
                                    <tr class="gradeX">
                                        <td>{{ socio.nombre }}</td>
                                        <td>{{ socio.apellido }}</td>
                                        <td>{{ socio.ciudad }}</td>
                                        <td>{{ socio.empresa }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <center>No hay socios registrados</center>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal información planes de costos del club -->
        <div class="modal fade" id="modal-planes">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Planes de costos</h4>
                    </div>
                    <div class="modal-body">
                        {% if entidad.planes_de_costo %}
                            <table id="tabla-plan-costo" class="table table-bordered table-striped table-hover" >
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Descripción</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for plan in entidad.planes_de_costo %}
                                        <tr class="gradeX">
                                            <td>{{ plan.nombre }}</td>
                                            <td>{{ plan.precio }}</td>
                                            <td>{{ plan.descripcion }}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-warning fade in m-b-15">
                                No se encuentran planes de costo registrados o activos
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}