{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Participaciones Deportivas - Deportistas
{% endblock %}

{% block titulo_contenido %}
    Participaciones Deportivas - Deportistas
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.css">
{% endblock %}

{% block js %}
	<script type="text/javascript">
        $(document).ready(function(){
            url = "{% url 'reporte_participaciones_deportivas' %}";
            realizarConsulta = function realizarConsulta(){
                var departamentos = JSON.stringify($("#id_departamento").val());
                var annos = JSON.stringify($("#id_anno").val());

                $.ajax({
                    url: url,
                    data: {'departamentos': departamentos, 'annos':annos},
                    dataType: 'json',
                    success: function(data) {
                        Reportes.modificarDatos(data);
                    }
                });

            }
            $("#id_anno").on("change", function(){
                realizarConsulta();
            });
            $("#id_departamento").on("change", function(){
                realizarConsulta();
            });
        });
        visualizaciones = {{visualizaciones|safe}};
        datos = {{centros|safe}};

	</script>
    <script src="{{STATIC_URL}}amcharts/ejecutar_estadisticas.js"></script>
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'inicio' %}">Reportes</a></li>
    <li><a href="{% url 'inicio' %}">Deportistas</a></li>
    <li><a href="{% url 'inicio' %}">Participaciones Deportivas</a></li>
{% endblock %}

{% block titulo_panel %}
    Participaciones Deportivas
{% endblock %}

{% block contenido_panel %}
	<div class="row" id="contenido">
		<div class="col-sm-12">
            <div class="row">
            {% for i in form %}
                <div class="col-sm-3">
                    {% bootstrap_field i layout="vertical" %}
                </div>
            {% endfor %}
            </div>
        </div>
	</div>
	{% for i in visualizaciones %}
		<div id="chartdiv{{i}}" style="width:100%; height:500px"></div>
	{% endfor %}
{% endblock %}