<p>Tu participación en el evento "{{ evento.titulo_evento }}" ha sido aceptada.</p><br>

<p>Para confirmar tu participación por favor dirigite al siguiente enlace:<br>
http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'confirmar_participacion' participante.id %}?token={{ token }}&?acp=1</p>

<p>De lo contrario, si desea rechazar la decisión y no participar en el evento, puede seguir este enlace:<br>
http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'confirmar_participacion' participante.id %}?token={{ token }}&?acp=2</p>


