{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li><a href="{%  url 'listar_eventos' %}">Eventos</a>
	<li class="active">Actividades</li>
{% endblock %}

{% block botones_panel %}
    <a href="{% url 'dashboard' evento.id %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
{% endblock %}

{% block css %}
    {{ form.media }}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block titulo_panel %}
	Actividades
{% endblock %}

{% block header_contendio %}
        <h1 class="page-header">
            {{ evento.titulo_evento|upper }} <small>Gestión de Eventos</small>
        </h1>
{% endblock header_contendio %}

{% block contenido_panel %}
    <div class="row">
        {% if "gestion_eventos.change_evento" in perms %}
        <div class="col-md-4" >
            <form id="form-actividad" action="" method="post">{% csrf_token %}
                <div class="well row">
                    <div class="col-xs-12">
                        {% if edicion %}
                            <h3>Modificar actividad</h3>
                        {% else %}
                            <h3>Registrar actividad</h3>
                        {% endif %}
                        {% for field in form %}
                            {% bootstrap_field field layout="vertical" %}
                        {% endfor %}
                        {% if edicion %}
                            <button class="pull-right row m-l-15 btn btn-primary" type="submit" style="margin-top:10px;margin-right: 1px;"><i class="fa fa-check"></i> Guardar</button>
                            <a href="{% url 'registrar_actividad' evento.id %}" class="pull-right row btn btn-warning" type="button" style="margin-top:10px"><i class="fa fa-ban"></i> Cancelar</a>
                        {% else %}
                            <button class="pull-right row btn btn-primary" type="submit" style="margin-top:10px;margin-right: 1px;"><i class="fa fa-plus"></i> Añadir</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="{% if "gestion_eventos.change_evento" in perms %}col-md-8{% else %}col-md-12{% endif %}">
            <h3>Actividades Registradas Actualmente:</h3>

            {% if lista_actividades %}
                <div class="table-responsive">
                    <table id="tabla-actividades" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Día actividad</th>
                                <th>Hora inicio</th>
                                <th>Hora finalización</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for actividad in lista_actividades %}
                                <tr>
                                    <td>{{ actividad.titulo|upper }}</td>
                                    <td>{{actividad.descripcion|upper}}</td>
                                    <td>{{actividad.dia_actividad}}</td>
                                    <td>{{ actividad.hora_inicio }}</td>
                                    <td>{{ actividad.hora_fin }}</td>
                                    <td>{% if actividad.estado == 1 %}ACTIVO{% else %}INACTIVO{% endif %}</td>
                                    <td>
                                        {% if actividad.estado == 1 %}
                                            {% if "gestion_eventos.change_evento" in perms %}
                                            <a href="{% url 'editar_actividad' actividad.id %}"><i class="fa fa-edit"></i> Editar</a><br>
                                            {% endif %}
                                            <a href="{% url 'registrar_resultado' actividad.id %}"><i class="fa fa-gear"></i>
                                                {% if "gestion_eventos.change_evento" in perms %}Gestionar resultados{% else %}Listar resultados{% endif %}
                                            </a><br>
                                        {% endif %}
                                        {% if "gestion_eventos.change_evento" in perms %}
                                            <a href="#" onclick="urlModal(this);" data-url="{% url 'cambiar_estado_actividad' actividad.id %}" data-toggle="modal" data-target="#modal-desactivate">
                                                <i class="fa fa-ban"></i>
                                                A/I <i style="cursor:pointer;" data-toggle="tooltip" title="Activar/Inactivar" class="fa fa-question-circle add-tooltip"></i>
                                            </a><br>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="modal-desactivate">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Cambiar de estado actividad:</h4>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea cambiar el estado de esta actividad?
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                <a id="confirmar-desactivate" href="" class="btn btn-sm btn-warning">Aceptar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning fade in m-b-15"><strong>No hay actividades registradas</strong></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-actividades";
        var fecha_in = '{{ evento.fecha_inicio|date:"Y-m-d" }}';
        var fecha_fn = '{{ evento.fecha_finalizacion|date:"Y-m-d" }}';
        function urlModal(link) {
            //Funcionalidad para agregar la url al modal
            var url = link.getAttribute("data-url");
            document.getElementById("confirmar-desactivate").setAttribute("href",url);
        }
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>

    <script src="{{ STATIC_URL }}js/validaciones/gestion_eventos/validaciones-actividades.js"></script>

    <script src="{{STATIC_URL}}plugins/DataTables/js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}plugins/DataTables/js/dataTables.tableTools.js"></script>
{% endblock %}