{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Eventos</a>
    <li class="active">Listar</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de eventos
{% endblock %}

{% block titulo_panel %}
    Listado de eventos
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-eventos";
        function urlModal(link) {
            //Funcionalidad para agregar la url al modal
            var url = link.getAttribute("data-url");
            document.getElementById("confirmar-desactivate").setAttribute("href",url);
        }
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tabla-eventos" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de finalización</th>
                            <th>Fecha inicio preinscripción</th>
                            <th>Fecha finalizacion preinscripción</th>
                            <th>Costo entrada</th>
                            <th>Cupo disponible</th>

                            {% if "gestion_eventos.view_evento" in perms %}
                                <th>Estado</th>
                            {% endif %}
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}
                            <tr>
                            <td>{{ evento.titulo_evento }}</td>
                            <td>{{ evento.fecha_inicio }}</td>
                            <td>{{ evento.fecha_finalizacion }}</td>
                            <td>{{ evento.fecha_inicio_preinscripcion }}</td>
                            <td>{{ evento.fecha_finalizacion_preinscripcion }}</td>
                            <td>{% if evento.costo_entrada %}
                                    ${{ evento.costo_entrada }}
                                {% else %}
                                    $0
                                {% endif %}
                            </td>
                            <td>{{ evento.cupo_disponible }}</td>
                            {% if "gestion_eventos.view_evento" in perms %}
                                <td>
                                    {% if evento.estado == 1 %}
                                        Activo
                                    {% else %}
                                        Inactivo
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                {% if evento.estado == 1 %}
                                    <a href="{% url 'dashboard' evento.id %}"><i class="fa fa-eye"></i> Acceder</a><br>
                                    {% if 'gestion_eventos.change_evento' in perms %}
                                        <a href="{% url 'editar_evento' evento.id %}">
                                            <i class="fa fa-edit"></i> Edit
                                        </a><br>
                                    {% endif %}
                                {% endif %}
                                {% if 'gestion_eventos.change_evento' in perms %}
                                    <a data-toggle="modal" data-target="#modal-desactivate" onclick="urlModal(this);" data-url="{% url 'cambiar_estado_evento' evento.id %}">
                                        <span class=" add-tooltip" data-toggle="tooltip" title="Activar/Inactivar" href="#">
                                            <i class="fa fa-ban"></i> A/I
                                        </span>
                                    </a>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-desactivate">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cambiar de estado evento:</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea cambiar el estado de este evento?
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                    <a id="confirmar-desactivate" href="" class="btn btn-sm btn-warning">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}