{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Eventos</a>
    <li class="active">Registrar</li>
{% endblock %}

{% block titulo_contenido %}
    {% if edicion %}Editar{% else %}Registrar{% endif %} evento
{% endblock %}

{% block titulo_panel %}
    {% if edicion %}Editar{% else %}Registrar{% endif %} evento
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/ckeditor/ckeditor.js"></script>
    <script src="{{STATIC_URL}}js/ckeditor/adapters/jquery.js"></script>
    <script src="{{STATIC_URL}}js/validaciones/gestion_eventos/eventos-validations.js"></script>
    <script src="{{STATIC_URL}}plugins/croppic/croppic.min.js"></script>
    <script src="{{STATIC_URL}}plugins/jquery-tag-it/js/tag-it.min.js"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
        var urlCrop = "{% url 'crop_pic' %}";
        var buttonReset = "#reset-crop";
        var formId = "form-eventos";
        var urlMedia = "/fotos_eventos/";
        var picture = "";
        {% if edicion %}
            picture = "{{ MEDIA_URL }}{{ foto }}";
        {% endif %}

        $(document).ready(function(){
            $("#check-mostrar-valor").click(function(){
                $("#valor-mostrar").toggleClass("fadeInDown");
                $("#id_video").val("");
            });
            $("#check-mostrar-costo").click(function(){
                $("#valor-costo").toggleClass("fadeInDown");
                $("#id_costo_entrada").val("");
            });
            $("#id_etiquetas").tagit({
                singleField:true,
                singleFieldDelimiter: ","
            });

            $('#submit-crop').click(function(event){
                event.preventDefault();
                CKEDITOR.instances.id_descripcion_evento.updateElement();
                var str = CKEDITOR.instances.id_descripcion_evento.document.getBody().getText();

                if(str.length <= 150){
                    $("#previsualizacion").val(str);
                }else {
                    $("#previsualizacion").val(str.substring(0, 150));
                }
                console.log($("#previsualizacion").val());
                {% if edicion %}
                    if($("#modalTrigger2").hasClass("btn-primary") && $('.cropControls.cropControlsCrop').length){

                        $("#imagen-hidden").val("si");
                        document.getElementById(formId).submit();
                        return false;
                    }else {
                        $("#"+formId).bootstrapValidator('validate');
                        if($("div.form-group").hasClass("has-error")){
                            return false;
                        }else {
                            if($('.cropControls.cropControlsCrop').length) {
                                console.log("Cortando");
                                $('.cropControlCrop').click();
                            }else{

                                document.getElementById(formId).submit();
                                return false;
                            }
                        }
                    }
                {% else %}

                    $("#"+formId).bootstrapValidator('validate');

                    if($("div.form-group").hasClass("has-error")){
                        return false;
                    }else {
                        if($('.cropControls.cropControlsCrop').length) {
                            console.log("Cortando");
                            $('.cropControlCrop').click();
                        }else{
                            document.getElementById(formId).submit();
                            return false;
                        }
                    }
                {% endif %}
            });
        });

    </script>
    <script src="{{STATIC_URL}}plugins/croppic/croppic-conf.js"></script>
{% endblock %}

{% block css %}
    {{ form.media }}
    <link href="{{STATIC_URL}}plugins/croppic/croppic.css" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/croppic/estilos_personalizados.css" rel="stylesheet">
{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <form id="form-eventos" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
            <div class="col-xs-12">
                {% for field in form %}
                    {% if field.name == 'costo_entrada' %}

                        <div class="col-md-6">
                            <div class="form-group">
                                <div id="modalTrigger2" class="btn btn-primary" data-toggle="modal" data-target="#myModalCrop" >{% if edicion %}Cambiar{% else %}Cargar{% endif %} Imagen</div>
                                <label class="control-label" for="modalTrigger2"></label>
                                {% include 'modal_croppic.html' %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-personalizado form-group">
                                <input id="check-mostrar-costo" type="checkbox" name="mostrar-costo" value="" {% if edicion %} checked {% endif %}>
                                ¿El evento tiene algún costo de entrada?
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="{% if edicion %} fadeInDown {% endif %}display-none animated" id="valor-costo">
                                {% bootstrap_field field %}
                            </div>
                        </div>

                    {% else %}
                        <div style="min-height: 90px;" class="col-md-6">
                            {% bootstrap_field field  %}
                        </div>
                    {% endif %}
                {% endfor %}

                <input type="text" name="imagen-crop" hidden value="No" id="imagen-hidden">
                <textarea id="previsualizacion" name="previsualizacion" hidden></textarea>

            </div>
            </div>

            {% if edicion %}
                <a type="button" class="btn btn-warning pull-right" href="{% url 'listar_eventos'%}">
                    Cancelar
                </a>
            {% endif %}
            <button class="btn btn-primary pull-right" type="submit" style="margin-right:15px;" id="submit-crop">
                {% if edicion %}Guardar cambios{% else %}Registrar{% endif %}
            </button>
            </form>
        </div>
    </div>
{% endblock %}