{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Eventos</a>
    <li class="active">Listar</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de eventos
{% endblock %}

{% block botones_panel %}
    {% with actividades|first as first_act %}
        <a href="{% url 'dashboard' first_act.evento_perteneciente %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
    {% endwith %}
{% endblock %}

{% block titulo_panel %}
    Listado de eventos
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-eventos";
        urlDrop = "{% url 'cambio_fecha_actividad' %}";
        csrf = '{{ csrf_token }}';
        calendarEvents = [];
            {% for actividad in actividades %}
            calendarEvents.push({
                act_id: '{{actividad.id }}',
				title: '{{ actividad.titulo }}',
				start: '{{ actividad.dia_actividad|date:"Y-m-d" }}'+' '+'{{ actividad.hora_inicio }}',
				end: '{{ actividad.dia_actividad|date:"Y-m-d" }}'+' '+'{{ actividad.hora_fin }}',
				className: 'bg-blue-darker',
                allDay:false,
				media: '<i class="fa fa-trophy"></i>',
				description: '{{ actividad.descripcion }}'
            });
        {% endfor %}
    </script>
    <script src="{{ STATIC_URL }}plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="{{ STATIC_URL }}plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="{{ STATIC_URL }}js/gestion_eventos/calendar.evento.js"></script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
        <div class="vertical-box">
            <div class="vertical-box-column col-sm-3 ">
                <div class="calendar-event" id="external-events">
                    <h4 class="m-b-20">Actividades</h4>
                    {% if actividades %}
                        {% for actividad in actividades %}
                            <div class="external-event bg-blue-darker" data-bg="bg-purple" data-title="{{ actividad.titulo }}" data-media="<i class='fa fa-comments'></i>" data-desc="{{ actividad.descripcion }}">
                                <h5><i style="cursor:pointer;" data-toggle="tooltip" title="Muestra la actividad en el calendario" class="fa fa-calendar fa-lg fa-fw add-tooltip" data-date="{{ actividad.dia_actividad|date:"Y-m-d" }}"></i> {{ actividad.titulo }}</h5>
                                <p>{{ actividad.descripcion }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning fade in m-b-15"><strong>No hay actividades registradas</strong></div>
                    {% endif %}
                </div>
            </div>
            <div id="calendar" class="vertical-box-column p-15 calendar col-sm-9 fc fc-ltr"></div>
        </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
		$(document).ready(function() {
			Calendar.init();
		});
    </script>
{% endblock %}