{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
    Solicitud de Reserva de Escenario
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
    {{form.media}} {# js y css para datetime #}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="{% url 'listado_calendario_nacional' %}">Reserva de Escenarios</a>
    <li class="active">Solicitud</li>
{% endblock %}

{% block titulo_contenido %}
    Solicitud de Reserva de Escenario
{% endblock %}

{% block titulo_panel %}
    Solicitud de Reserva de Escenarios
{% endblock %}

{% block contenido_panel %}

    <form id="form-reserva-escenario" action="" method="post">{% csrf_token %}
        <fieldset>
                <div class="col-xs-12">
                    <h3>
                        Información de Contacto para Completar la Solicitud de Reserva
                    </h3>
                    <div class="well row">
                        <strong><h4>Número de Reserva {{reserva.codigo_unico}}</h4></strong>
                        <strong><h5>Fecha de Inicio de reserva:</h5></strong> {{reserva.fecha_inicio}}
                        <strong><h5>Fecha Final de reserva:</h5></strong> {{reserva.fecha_fin}}
                        <br><br><br>
                        <div class="row">
                            {% for field in form %}
                                <div class="col-md-6">
                                    {% bootstrap_field field layout="verical" %}
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary pull-right" type="submit">
                                   <i class="fa fa-check"></i> Enviar Solicitud
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </fieldset>
    </form>

    

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}plugins/bootstrap-validator/bootstrapValidator.min.js"></script>    
    
    <script src="{{STATIC_URL}}js/validaciones/reserva_escenarios/solicitar_reserva-validations.js"></script>
{% endblock %}
