<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label badge-inverse">1</span><a class="hidden-phone">
        Identificación <small>Datos de identificación, ubicación y contacto</small>
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 1;"><span class="label">2</span><a class="hidden-phone">
        Servicios <small>Servicios ofrecidos por el Centro Biomédico</small>
        </a>
    </li>
</ol>
<br/>