{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block head %}
	Clases - CAF
{% endblock %}

{% block css %}
	<link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}plugins/switchery/switchery.min.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/build.css" rel="stylesheet" />
{% endblock %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li><a href="{% url 'listar_cafs' %}">CAF</a>
	<li class="active">Clases</li>
{% endblock %}

{% block titulo_contenido %}
	Centro de Acondicionamiento Físico
{% endblock %}

{% block titulo_panel %}
	Clases Ofrecidas por el CAF
{% endblock %}

{% block contenido_panel %}
	{% include 'cafs/wizard/_wizard.html' %}
	<form action="" method="post">{% csrf_token %}
		<fieldset>
			<div class="well row">
				<legend class="pull-left width-full">
					<h3>Seleccione las clases que ofrece el Centro de Acondicionamiento Físico:</h3>
				</legend>
				{% for i in form.clases %}
					<div class="col-sm-3">
						<div class="checkbox checkbox-primary">
							{{i.tag}}
							{{i}}
						</div>
					</div>
				{% endfor %}
				<div class="col-xs-12">
					<hr>
					{% if anterior %}
						<a href="{% url 'crear_caf' anterior idCAF  %}">
							<button class="btn btn-primary pull-left" type="button">
								← Anterior
							</button>
						</a>
					{% endif %}
					<button class="btn btn-primary pull-right" type="submit">
						Siguiente →
					</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}