{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
{% endblock %}

{% block titulo_contenido %}
    Listado de Entidades
{% endblock %}

{% block titulo_panel %}
    Listado de Entidades
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-entidades";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tabla-entidades" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tenant in tenants %}
                        <tr>
                            <td>{{tenant}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}