{% extends "base_reportes.html" %}
{% load bootstrap3 %}

{% block filtros %}
    
    <script type="text/javascript">
        $(document).ready(function(){
            columnas = [nombres_columnas[0], "Cantidad"];
            tablaDeDatos = TablaDeDatos("tabla", columnas);
            tablaDeDatos.setDatos(datos);
            $('#loading').modal('show');
            url = "{% url url_data %}";
            realizarConsulta = function realizarConsulta(){
                var departamentos = JSON.stringify($("#id_departamentos").val());
                var municipios = JSON.stringify($("#id_municipios").val());
                if (municipios == '""'){
                    municipios = null;
                }
                var disciplinas = JSON.stringify($("#id_disciplinas").val());
                var reporte = JSON.stringify($("#id_reporte").val());
                $('#loading').modal('show');
                $.ajax({
                    url: url,
                    data: {'departamentos': departamentos,'municipios':municipios, 'disciplinas':disciplinas, 'reporte':reporte},
                    dataType: 'json',
                    success: function(data) {
                        Reportes.modificarDatos(data,  $("#id_reporte option:selected").text());
                        id = $("#id_reporte").prop('selectedIndex');
                        tablaDeDatos.setDatos(data);
                        tablaDeDatos.setColumnas([nombres_columnas[id], "Cantidad"]);
                        tablaDeDatos.verificarActualizacion();
                        $('#loading').modal('hide');
                    }, error: function(err){
                        console.log(err);
                        $('#loading').modal('hide');
                    }
                });
                $('#loading').modal('hide');
                

            }
            $("#id_departamentos").on("change", function(){
                realizarConsulta();
            });
            $("#id_municipios").on("change", function(){
                realizarConsulta();
            });
            $("#id_disciplinas").on("change", function(){
                realizarConsulta();
            });
            $("#id_reporte").on("change", function(){
                realizarConsulta();

                var titulo =  $("#id_reporte option:selected").text();
                $(".titulo").html(titulo);

                var visualizacionActual = $("#id_visualizacion").val();

                var reporteSeleccionado = $("#id_reporte").val();
                var posiblesVisualizaciones = [
                        {id:1, titulo:"Dona"},
                        {id:5, titulo:"Gráfica de cilindros"},
                        {id:6, titulo:"Gráfica de cono"},
                        
                ];
                
                if(reporteSeleccionado === 'CE' || reporteSeleccionado === 'DT') {
                    posiblesVisualizaciones = [{id:1, titulo:"Dona"}];
                }

                $("#id_visualizacion").empty();
                for(var i in posiblesVisualizaciones) {
                    var opt = posiblesVisualizaciones[i];
                    $("#id_visualizacion").append($("<option>").attr("value", opt.id).text(opt.titulo));
                }

                var opcion = $("#id_visualizacion option[value="+visualizacionActual+"]");
                opcion.attr("selected","selected");

                $("#id_visualizacion").change();
            });

              
        });

        nombreReporte = "{{ nombre_reporte }}";
        visualizaciones = {{visualizaciones|safe}};
        nombres_columnas = {{nombres_columnas|safe}};
        datos = {{datos|safe}};

    </script>
    
{% endblock %}