{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Escenarios-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de Escenarios
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Escenarios</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-escenarios";
        opciones = {% if perms.snd.change_escenario %} true {% else %} false {% endif %};

        url = "{% url 'cargar_columnas' 0 %}";
    </script>


    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
    

{% endblock %}

{% block titulo_panel %}
    Listar Escenarios
{% endblock %}

{% block contenido_panel %}

        <div class="table-responsive">
            <table id="tabla-escenarios" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                
            </table>
        </div>
    
{% endblock %}
