{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Escenarios-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de Escenarios
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Escenarios</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/tooltip.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $(document).on('mouseenter','tr',function(e){
               $('.add-tooltip').tooltip();
           });
        });
        idTabla = "tabla-escenarios";
        opciones = {% if perms.snd.change_escenario %} true {% else %} false {% endif %};

        {% if tipo_tenant == 1 or tipo_tenant == 2 or tipo_tenant == 6 or tipo_tenant == 7 %}
            url = "{% url 'cargar_columnas' 9 %}";
        {% else %}
            url = "{% url 'cargar_columnas' 8 %}";
        {% endif %}
    </script>


    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>

    <script>
        function urlModal(link) {
            //Funcionalidad para agregar la url al modal
            var url = link.getAttribute("data-url");
            document.getElementById("confirmar-desactivate").setAttribute("href",url);
        };
    </script>


{% endblock %}

{% block titulo_panel %}
    Listar Escenarios
{% endblock titulo_panel %}

{% block contenido_panel %}

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
            <table id="tabla-escenarios" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">

            </table>
            </div>
        </div>
        <div class="modal fade" id="modal-desactivate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Desactivar Escenario:</h4>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que desea desactivar este escenario?
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                        <a id="confirmar-desactivate" href="" class="btn btn-sm btn-warning">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
