{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block css %}
<link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
{{form.media}} {# js y css para datetime #}
{% endblock %}

{% block miga_pan %}
	<li><a href="{% url 'inicio' %}">Inicio</a></li>
	<li><a href="{% url 'listar_escenarios' %}">Escenarios</a>
	<li class="active">Registro</li>
{% endblock %}

{% block titulo_contenido %}
	Escenarios
{% endblock %}
{% block panel_botones %}
{% endblock %}
{% block titulo_panel %}
	Registro Nuevo Escenario
{% endblock %}
{% block contenido_panel %}
	{% include 'escenarios/wizard/_wizard.html' with wizard_stage=wizard.steps.step1 %}
<form action="" method="post">{% csrf_token %}
	<fieldset>
	<div class="well row">
		<div class="" >
			<legend class="pull-left width-full">{{ wizard.steps.current }} del Escenario:</legend>
			<p>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
			
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					{% bootstrap_form form layout="horizontal" %}
				{% endfor %}
			{% else %}
				{% bootstrap_form wizard.form layout="horizontal" %}
			{% endif %}
		</div>
	</div>
	<ul class="pager bwizard-buttons">
	{% if wizard.steps.prev %}
		<button class="btn btn-success pull-left" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "← Anterior" %}</button>
		
		<button class="btn btn-default pull-left" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" style="margin-left:5px;">{% trans "Primer Paso" %}</button>
	{% endif %}
	
		<input class="btn btn-primary pull-right" type="submit" value="{% trans "Siguiente →" %}"/>
	</ul>

	</fieldset>
</form>
	

{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
<script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		App.init();
		FormWizard.init();
	});
</script>
{% endblock %}
