{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Escenarios-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Ver Detalles de Escenario
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Ver Escenario</li>
{% endblock %}

{% block css %}
{% endblock %}

{% block titulo_panel %}
    Detalles del Escenario
{% endblock %}

{% block contenido %}
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="{% url 'listar_escenarios' %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
        <h4 class="panel-title">
            {{escenario.nombre}}
        </h4>
    </div>
    <div class="panel-body" style="padding:0">
        <div class="panel-body" style="padding:0">
            <div class="row">
                <div class="col-sm-12">
                    <img src="http://www.conwayark.com/images/resized/images/stories/slideshow/sports_1200_300.jpg" alt="gimnasio" style="width:100%; height:250px">
                    <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
                        <div class="panel-heading p-0">
                            <div class="panel-heading-btn m-r-10 m-t-10">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            </div>
                            <!-- begin nav-tabs -->
                            <div class="tab-overflow">
                                <ul class="nav nav-tabs">
                                    <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                                    <li class="active"><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>
                                    <li class=""><a href="#nav-tab2-13" data-toggle="tab"><i class="fa fa-paint-brush"></i> Caracterización</a></li>
                                    <li class=""><a href="#nav-tab2-14" data-toggle="tab"><i class="fa fa-md fa-clock-o"></i> Horarios Disponibilidad</a></li>
                                    <li class=""><a href="#nav-tab2-15" data-toggle="tab"><i class="fa fa-history"></i> Datos Históricos</a></li>
                                    <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-camera"></i> Fotos</a></li>
                                    <li class=""><a href="#nav-tab2-17" data-toggle="tab"><i class="fa fa-video-camera"></i> Videos</a></li>
                                    <li class=""><a href="#nav-tab2-19" data-toggle="tab"><i class="fa fa-wrench"></i> Mantenimiento</a></li>
                                    <li class=""><a href="#nav-tab2-18" data-toggle="tab"><i class="fa fa-phone"></i> Contactos</a></li>
                                    <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="nav-tab2-12">
                                <div class="invoice">
                                    <div class="invoice-company">
                                        {{escenario.nombre}}
                                    </div>
                                    <div class="invoice-header">
                                        <div class="invoice-from">
                                            <address class="m-t-5 m-b-5">
                                                <strong>{{escenario.direccion}}, Barrio {{escenario.barrio}}</strong><br />
                                                {{escenario.ciudad.nombre}}, {{escenario.ciudad.departamento.nombre}}<br />
                                                Latitud: {{escenario.latitud}} Longitud: {{escenario.longitud}} Altura: {{escenario.altura}} <br />
                                                Estrato: {{escenario.estrato}} Comuna: {{escenario.comuna}}<br/>
                                                Nombre del Administrador: {{escenario.nombre_administrador}}
                                            </address>
                                            <div align="right">
                                                <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                            </div>
                                        </div>                    
                                    </div>
                                    <h5 class="m-t-10">Descripción:</h5>
                                    <p>{% if escenario.descripcion %}{{escenario.descripcion}}{% endif %}</p>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="nav-tab2-13">
                                <div class="invoice">
                                {% if caracteristicas %}
                                    {% for caracteristica in caracteristicas %}
                                    <div class="invoice-header">
                                        <div class="invoice-from">
                                            <address class="m-t-5 m-b-5">
                                                <strong>{{caracteristica.tipo_escenario.descripcion}}</strong><br />
                                                Capacidad de zona espectadores: {{caracteristica.capacidad_espectadores}}<br>Metros construídos: {{caracteristica.metros_construidos}}<br />
                                                Disciplinas: {% for disciplina in caracteristica.tipo_disciplinas.all %} {{disciplina.descripcion}}, {% endfor %}<br />
                                                Tipo de Superficie: {% for superficie in caracteristica.tipo_superficie_juego.all %} {{superficie.descripcion}}, {% endfor %}<br/>
                                                Clase de Acceso: {{caracteristica.get_clase_acceso_display}} <br/>
                                                Características del escenario: 
                                                {% for caracteristica in caracteristica.caracteristicas.all %}  
                                                    {{caracteristica.descripcion}}{% if not forloop.last %}, {% endif %}
                                                {% endfor %} <br/>
                                                Clases de uso: 
                                                {% for uso in caracteristica.clase_uso.all %}  
                                                    {{uso.descripcion}}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}                    
                                            </address>
                                            <div align="right">
                                                <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="m-t-10">Descripción:</h5>
                                    <p>{% if caracteristica.descripcion %}{{caracteristica.descripcion}}{% endif %}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay características disponibles</p>
                                {% endif %}
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="nav-tab2-14">
                                <div class="invoice">
                                {% if horarios %}
                                    
                                    <div class="invoice-content">
                                        <div class="table-responsive">
                                            <table class="table table-invoice">
                                                <thead>
                                                    <tr>
                                                        <th>HORA INICIO</th>
                                                        <th>HORA FIN</th>
                                                        <th>DÍAS</th>
                                                        <th>DESCRIPCIÓN</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for horario in horarios %}
                                                    <tr>
                                                        <td>{{horario.hora_inicio}}</td>
                                                        <td>{{horario.hora_fin}}</td>
                                                        <td>{% for dia in horario.dias.all %} {{dia.nombre}} {% endfor %}</td>
                                                        <td>{{horario.descripcion}}</td>
                                                    </tr> 
                                                    {% endfor %}                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% else %}
                                    <p>No hay horarios disponibles</p>
                                {% endif %}
                                </div>
                            </div>
                            
                            
                            <div class="tab-pane fade" id="nav-tab2-15">
                                <div class="invoice">
                                {% if historicos %}
                                    <div class="invoice-content">
                                        <div class="table-responsive">
                                            <table class="table table-invoice">
                                                <thead>
                                                    <tr>
                                                        <th>FECHA INICIO</th>
                                                        <th>FECHA FIN</th>
                                                        <th>DESCRIPCIÓN</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for historico in historicos %}
                                                    <tr>
                                                        <td>{{historico.fecha_inicio}}</td>
                                                        <td>{{historico.fecha_fin}}</td>
                                                        <td>{{historico.descripcion}}</td>
                                                    </tr> 
                                                    {% endfor %}                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% else %}
                                    <p>No hay datos históricos disponibles</p>
                                {% endif %}
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="nav-tab2-16">
                                <div class="invoice">
                                {% if fotos %}
                                    
                                    <h1 class="page-header">{{escenario.nombre}}:</h1>
                                    <!-- end page-header -->
                                    
                                    <!-- begin superbox -->
                                    <div class="superbox" data-offset="54">
                                        {% for foto in fotos %}
                                        <div class="superbox-list">
                                            <img width="125px" height="100px" src="{{MEDIA_URL}}{{foto.foto}}" data-img="{{MEDIA_URL}}{{foto.foto}}" data-titulo="{{foto.titulo}}" alt="" data-descripcion="{{foto.descripcion}}" class="superbox-img" />
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p>No hay fotos disponibles</p>
                                {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-tab2-17">
                                <div class="invoice">
                                {% if videos %} 
                                    
                                    <h1 class="page-header">{{escenario.nombre}}</h1>
                                    <!-- end page-header -->
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>VISUALIZACION</th>
                                                    <th>URL</th>
                                                    <th>DESCRIPCIÓN</th>
                                                    <th>VER VÍDEO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for video in videos %}
                                                <tr>                        
                                                    <td align="center" class="col-md-3"><iframe width="150" height="75" src="https://www.youtube.com/embed/{{video.url}}" frameborder="0" allowfullscreen></iframe></td>
                                                    <td align="center" ><a target="_blank" href="https://www.youtube.com/watch?v={{video.url}}">https://www.youtube.com/watch?v={{video.url}}</a></td>
                                                    <td>{{video.descripcion}}</td>
                                                    <td>
                                                        <a class="btn btn-md btn-info" href="#modal-video" data-toggle="modal"><i class="fa fa-play"></i> Ver Video</a>
                                                        <div class="modal fade" id="modal-video">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        <h4 class="modal-title">VIDEO DEL ESCENARIO {{ escenario.nombre }}:</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div align="center">
                                                                            <iframe  width="500" height="400" src="https://www.youtube.com/embed/{{video.url}}" frameborder="0" allowfullscreen></iframe>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="javascript:;" class="btn btn-md btn-info" data-dismiss="modal">Cerrar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p>No hay videos disponibles</p>
                                {% endif %}
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="nav-tab2-19">
                                <div class="invoice">
                                {% if mantenimientos %}  
                                    
                                    <h1 class="page-header">{{escenario.nombre}}</h1>
                                    <!-- end page-header -->
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>FECHA ÚLTIMO MANTENIMIENTO</th>
                                                    <th>DESCRIPCIÓN ÚLTIMO MANTENIMIENTO</th>
                                                    <th>PERIODICIDAD</th>
                                                    <th>¿TIENE PLANOS?</th>
                                                    <th>RAZONES NO MANTENIMIENTO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for matenimiento in mantenimientos %}
                                                <tr> 
                                                    <td>{% if matenimiento.fecha_ultimo_mantenimiento %}{{matenimiento.fecha_ultimo_mantenimiento}}{% endif %}</td>
                                                    <td>{% if mantenimiento.descripcion_ultimo_mantenimiento %}{{matenimiento.descripcion_ultimo_mantenimiento}}{% endif %}</td>
                                                    <td>{% if mantenimiento.get_periodicidad_display %}{{matenimiento.get_periodicidad_display}}{% endif %}</td>
                                                    <td>{% if matenimiento.tiene_planos %} Sí {% else %} No {% endif %}</td>
                                                    <td>{% if mantenimiento.razones_no_mantenimiento %}{{matenimiento.razones_no_mantenimiento}}{% endif %}</td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p>No hay último mantenimiento registrado</p>
                                {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-tab2-18">
                                <div class="invoice">
                                {% if contactos %}  
                                    
                                    <h1 class="page-header">{{escenario.nombre}}</h1>
                                    <!-- end page-header -->
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>NOMBRE</th>
                                                    <th>TELÉFONO</th>
                                                    <th>EMAIL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for contacto in contactos %}
                                                <tr>                        
                                                    <td>{{contacto.nombre}}</td>
                                                    <td>{{contacto.telefono}}</td>
                                                    <td>{{contacto.email}}</td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p>No hay contactos disponibles</p>
                                {% endif %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}plugins/superbox/js/superbox.js"></script>
    <script src="{{STATIC_URL}}js/gallery-v2.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>
{% endblock %}