{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li xmlns="http://www.w3.org/1999/html"><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Clasificados</a>
    <li class="active">Listar</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de clasificados
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}plugins/masonry/imagesloaded.pkgd.min.js"></script>
    <script src="{{ STATIC_URL }}plugins/masonry/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var $grid = $('#card-container').imagesLoaded( function() {
                // init Masonry after all images have loaded
                $grid.masonry({
                    // options...
                    itemSelector: '.card',
                    columnWidth: 300,
                    transitionDuration: '0.8s'
                });
            });

            $(document).on("click",".edicion-clasificados > i",function(){
                var id = $(this).attr("data-id");
                $("#eliminar-clasificado").attr("href","eliminar/"+id);
            });

            $('.add-tooltip').tooltip();

            $("#id_categoria").on('change',function(){
                var seleccion = $(this).val();

                $.post("{% url 'filtro_clasificados' %}",{seleccion : seleccion,'csrfmiddlewaretoken': '{{ csrf_token }}'})

                        .success(function(result){
                            var elements = $grid.masonry('getItemElements');
                            console.log(elements);
                            var $items = $(result);
                            $grid.masonry("remove",elements).masonry('layout');
                            $grid.append($items).imagesLoaded( function(){
                                $grid.masonry( 'appended',$items);
                            });
                        });
            });
        });


    </script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/noticias/clasificados.css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="filter-container">
        {% for field in form %}
            {% if field.name == "categoria" %}
                {% bootstrap_field field %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row tablero-clasificados">
    <div class="contenedorClasificados" id="card-container">
        {% for clasificado in clasificados %}
            <div class="card
                        {% if clasificado.clase_inclinacion == 1 %}
                            inclinacionIzq
                        {% elif clasificado.clase_inclinacion == 2 %}
                            inclinacionDer
                        {% endif %} " >
                <span class="folded-corner add-tooltip" data-toggle="modal" data-target="#myModal{{ forloop.counter }}"  title="Ver más"><i class="fa fa-hand-o-up fa-3x"></i></span>
                <img src="{{STATIC_URL}}img/chinche-1.png" class="chincheImg">
                <img class="img-responsive" src="{{ MEDIA_URL }}{{ clasificado.foto }}">
                <div class="descripcionCla">
                    <div class="edicion-clasificados">
                        <a href="{% url 'editar_clasificado' clasificado.id %}"><i class="fa fa-pencil-square-o fa-2x add-tooltip" title="Editar Clasificado"></i></a>
                        <i  class="fa fa-trash fa-2x text-danger add-tooltip" data-toggle="modal" data-target="#modal-eliminar" title="Eliminar Clasificado"  data-id="{{ clasificado.id }}"></i>
                    </div>
                    <h3>{{ clasificado.titulo }}</h3>
                    <p>{{ clasificado.descripcion|slice:":150"}}...</p>
                </div>
                <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-lg">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel">{{ clasificado.titulo }}</h2>
                            </div>
                            <div class="modal-body">
                                <img src="{{ MEDIA_URL }}{{ clasificado.foto }}" class="img-responsive">
                                <p class="datos-clasificado">
                                    <b>Fecha Publicación:</b><br>
                                    <i>{{ clasificado.fecha_publicacion }}</i><br><br>
                                    <b>Categoria:</b><br>
                                    <i>{{ clasificado.categoria }}</i><br><br>
                                    <b>Contacto:</b><br>
                                    <i>{{ clasificado.contacto }}</i><br><br>
                                    {% if clasificado.valor %}
                                        <b>Valor, precio o salario:</b><br>
                                        <i>{{ clasificado.valor }}</i>
                                    {% endif %}
                                </p>
                                <hr>
                                <p class="descripcion-clasificado">
                                    {{ clasificado.descripcion }}
                                </p>
                                <p class="palabras-claves">
                                    <b>Palabras Claves:</b><br>
                                    {{ clasificado.etiquetas }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal-eliminar">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>¿Está seguro que desea eliminar este clasificado?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <a href="" type="button" class="btn btn-primary" id="eliminar-clasificado" >Si</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}