{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Clasificados</a>
    <li class="active">Registrar</li>
{% endblock %}

{% block titulo_contenido %}
    {% if edicion %}Editar{% else %}Registrar{% endif %} clasificado
{% endblock %}

{% block titulo_panel %}
    {% if edicion %}Editar{% else %}Registrar{% endif %} clasificado
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/validaciones/noticias/clasificados-validations.js"></script>
    <script src="{{STATIC_URL}}plugins/croppic/croppic.min.js"></script>
    <script src="{{STATIC_URL}}plugins/jquery-tag-it/js/tag-it.min.js"></script>
    <script >
        var urlCrop = "{% url 'crop_pic' %}";
        var formId = "clasificado-form";
        var urlMedia = "/clasificados/";
        var edicion = {% if edicion %}true{% else %}false{% endif %};
        var picture = "{{ MEDIA_URL }}{{ foto }}";

        $("#check-mostrar-valor").click(function(){
            $("#valor-mostrar").toggleClass("fadeInDown");
            $("#id_valor").val("");
        });

        $("#id_etiquetas").tagit({
            singleField:true,
            singleFieldDelimiter: ",",
            tagLimit: 20
        });


    </script>
    <script src="{{STATIC_URL}}plugins/croppic/croppic-conf.js"></script>
{% endblock %}

{% block css %}
    {{ form.media }}
    <link href="{{STATIC_URL}}plugins/croppic/croppic.css" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/croppic/estilos_personalizados.css" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet">

{% endblock %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form id="clasificado-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'descripcion' %}
                        <div class="form-group">
                            <div id="modalTrigger2" class="btn {% if foto %}btn-info {% else %}btn-primary{% endif %}" data-toggle="modal" data-target="#myModalCrop" >{% if foto %}Cambiar{% else %}Cargar{% endif %} Imagen</div>
                            <label class="control-label" for="modalTrigger2" id="labelImg" style="color:#707478;">{% if foto %}{{ foto }} {% else %}No se ha seleccionado una imagen{% endif %}</label>
                            {% include 'modal_croppic.html' %}
                            <input type="text" name="imagen-crop" hidden value="No" id="imagen-hidden">
                        </div>
                        {% bootstrap_field field %}
                    {% else %}
                        {% if field.name == 'valor' %}
                            <div class="control-personalizado form-group">
                                <input id="check-mostrar-valor" type="checkbox" name="mostrar" value="" {% if edicion %} checked {% endif %}>
                                ¿Desea incluir algún valor, precio o salario en su clasificado?
                            </div>

                            <div class="{% if edicion %} fadeInDown {% endif %}display-none animated" id="valor-mostrar">
                                {% bootstrap_field field %}
                            </div>
                        {% else %}
                            {% bootstrap_field field %}
                        {% endif %}
                    {% endif %}
                {% endfor %}



            </form>
            {% if edicion %}
                <a type="button" class="btn btn-warning pull-right" style="margin-left: 15px;" href="{% url 'gestionar_clasificados'%}">
                    Cancelar
                </a>
            {% endif %}
            <button class="btn btn-primary pull-right" id="submit-crop">
                {% if edicion %}Guardar cambios{% else %}Registrar{% endif %}
            </button>
        </div>
    </div>
{% endblock %}