{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    Escenarios CCF-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de Escenarios
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">Escenarios CCF</li>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-ccfs";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
    </script>
    

{% endblock %}

{% block titulo_panel %}
    Listar Escenarios De Cajas de Compensación
{% endblock %}

{% block contenido_panel %}

    <div class="row">
        <div class="col-sm-12">
            <table id="tabla-ccfs" class="table table-bordered table-hover toggle-circle" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Público</th>
                        <th>Clasificación</th>
                        <th>Region</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ccf in ccfs %}
                        <tr>
                            <td>{{ccf.nombre}}</td>
                            <td>{{ccf.get_publico_display}}</td>
                            <td>{{ccf.get_clasificacion_display}}</td>
                            <td>{{ccf.get_region_display}}</td>
                            <td>{% if ccf.activo %} Activo {% else %} Inactivo {% endif %}</td>
                            <td>
                                <a href="{% url 'ver_escenario_ccf' ccf.id %}" data-toggle="modal">
                                    <i class="fa fa-eye"></i> Ver Escenario CCF
                                </a>
                                <br/>
                                {% if perms.snd.change_cajacompensacion %}
                                <a href="{% url 'wizard_editar_caja_escenario' ccf.id %}" title="Editar">
                                    <i class="fa fa-gear"></i> Editar
                                </a>
                                <br/>
                                <a href="#modal-desactivate-{{ccf.id}}" data-toggle="modal">
                                    <i class="fa fa-ban"></i> Activar / Desactivar
                                </a>
                                <div class="modal fade" id="modal-desactivate-{{ccf.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title">Desactivar Escenario:</h4>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea desactivar este escenario de CCF?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                                                <a href="{% url 'desactivar_escenario_ccf' ccf.id %}" class="btn btn-sm btn-warning">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
    
{% endblock %}
