{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    CCF-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de CCF
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">CCF</li>
{% endblock %}

{% block css %}
{% endblock %}

{% block titulo_panel %}
    Detalles de Cajas de Compensación
{% endblock %}

{% block contenido %}
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="{% url 'listar_ccfs' %}" class="btn btn-warning btn-xs "><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
        <h4 class="panel-title">
            {{ccf.nombre}}
        </h4>
    </div>
    <div class="panel-body" style="padding:0">
        <div class="panel-body" style="padding:0">
            <div class="row">
                <div class="col-sm-12">
                    <img src="http://www.bleukey.com/site/images/bleukey-images/banner-viajes-familia.jpg" alt="gimnasio" style="width:100%; height:250px">
                    <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
                    <div class="panel-heading p-0">
                        <div class="panel-heading-btn m-r-10 m-t-10">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        </div>
                        <!-- begin nav-tabs -->
                        <div class="tab-overflow">
                            <ul class="nav nav-tabs">
                                <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                                <li class="active"><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>                
                                <li class=""><a href="#nav-tab2-14" data-toggle="tab"><i class="fa fa-md fa-clock-o"></i> Horarios Disponibilidad</a></li>
                                <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-money"></i> Tarifas</a></li>
                                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="nav-tab2-12">
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{ccf.nombre}}</b>
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <p><b>Clasificación de CCF:</b> {{ccf.get_clasificacion_display}}</p>
                                            <p><b>Región:</b> {{ccf.get_region_display}}</p>
                                            <p><b>Público:</b> {{ccf.get_publico_display}}, Tipo de Infraestructura: {{ccf.get_infraestructura_display}}</p>
                                            <p><b>Nombre de Contacto:</b> {{ccf.nombre_contacto}}, Teléfono: {{ccf.telefono_contacto}}</p>
                                            <p><b>Correo electrónico:</b> {{ccf.email}}</p>
                                            <p><b>Tipo de Institución:</b> {{ccf.get_tipo_institucion_display}}</p>
                                        </address>
                                        <br/>
                                        <h5 class="m-t-10"><b>Servicios:</b></h5>
                                        <ul>
                                        {% for servicio in ccf.servicios.all %}
                                        <li>{{servicio.descripcion}}</li>
                                        {% endfor %}
                                        </ul>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>                        
                        <div class="tab-pane fade" id="nav-tab2-14">
                            {% if horarios %}
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{ccf.nombre}}</b>
                                </div>
                                <div class="invoice-content">
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>HORA INICIO</th>
                                                    <th>HORA FIN</th>
                                                    <th>DÍAS</th>
                                                    <th>DESCRIPCIÓN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for horario in horarios %}
                                                <tr>
                                                    <td>{{horario.hora_inicio}}</td>
                                                    <td>{{horario.hora_fin}}</td>
                                                    <td>{% for dia in horario.dias.all %} {{dia.nombre}} {% endfor %}</td>
                                                    <td>{{horario.descripcion}}</td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <p>No hay horarios disponibles</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="nav-tab2-16">
                            {% if tarifas %}                            
                            <div class="invoice">
                                <div class="invoice-company">
                                    <b>{{ccf.nombre}}</b>
                                </div>
                                <div class="invoice-content">
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>TITULO</th>
                                                    <th>PRECIO</th>
                                                    <th>DESCRIPCIÓN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for tarifa in tarifas %}
                                                <tr>
                                                    <td>{{tarifa.titulo}}</td>
                                                    <td>${{tarifa.precio}}</td>
                                                    <td>{{tarifa.descripcion}}</td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <p>No hay tarifas disponibles</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}plugins/superbox/js/superbox.js"></script>
    <script src="{{STATIC_URL}}js/gallery-v2.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>
{% endblock %}