{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
    CCF-SND COLDEPORTES
{% endblock %}

{% block titulo_contenido %}
    Lista de CCF
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li class="active">CCF</li>
{% endblock %}

{% block css %}
{% endblock %}

{% block titulo_panel %}
    Detalles de Cajas de Compensación
{% endblock %}

{% block contenido %}
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="">
                <img src="{{STATIC_URL}}img/imagenes-ver/bot_pinteres.png" alt="pinteres">
            </a>
            <a href="">
                <img src="{{STATIC_URL}}img/imagenes-ver/bot_twiter.png" alt="tw">
            </a>
            <a href="">
                <img src="{{STATIC_URL}}img/imagenes-ver/bot_facebook.png" alt="fb">
            </a>
            <a href="">
                <img src="{{STATIC_URL}}img/imagenes-ver/bot_imprimir.png" alt="imprimir">
            </a>
        </div>
        <h4 class="panel-title">
            {{ccf.nombre}}
        </h4>
    </div>
    <div class="panel-body" style="padding:0">
        <div class="panel-body" style="padding:0">
            <div class="row">
                <div class="col-sm-12">
                    <img src="http://www.bleukey.com/site/images/bleukey-images/banner-viajes-familia.jpg" alt="gimnasio" style="width:100%; height:250px">
                    <div class="panel panel-default panel-with-tabs" data-sortable-id="ui-unlimited-tabs-2">
                    <div class="panel-heading p-0">
                        <div class="panel-heading-btn m-r-10 m-t-10">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        </div>
                        <!-- begin nav-tabs -->
                        <div class="tab-overflow">
                            <ul class="nav nav-tabs">
                                <li class="prev-button"><a href="javascript:;" data-click="prev-tab" class="text-inverse"><i class="fa fa-arrow-left"></i></a></li>
                                <li class="active"><a href="#nav-tab2-12" data-toggle="tab"><i class="fa fa-location-arrow"></i> Datos de Identificación</a></li>                
                                <li class=""><a href="#nav-tab2-14" data-toggle="tab"><i class="fa fa-md fa-clock-o"></i> Horarios Disponibilidad</a></li>
                                <li class=""><a href="#nav-tab2-16" data-toggle="tab"><i class="fa fa-money"></i> Tarifas</a></li>
                                <li class="next-button"><a href="javascript:;" data-click="next-tab" class="text-inverse"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="nav-tab2-12">
                            <div class="invoice">
                                <div class="invoice-company">
                                    
                                    {{ccf.nombre}}
                                </div>
                                <div class="invoice-header">
                                    <div class="invoice-from">
                                        <address class="m-t-5 m-b-5">
                                            <strong>Clasificación de CCF: {{ccf.get_clasificacion_display}}, Región: {{ccf.get_region_display}}</strong><br />
                                            Público {{ccf.get_publico_display}}, Tipo de Infraestructura {{ccf.get_infraestructura_display}}<br />
                                            Teléfono:{{ccf.telefono_contacto}}
                                            Nombre de Contacto: {{ccf.nombre_contacto}}
                                            Correo electrónico: {{ccf.email}}
                                            Tipo de Institución {{ccf.get_tipo_institucion_display}}
                                        </address>
                                        <div align="right">
                                            <img src="{{STATIC_URL}}img/logo_snd_marca_agua.png" alt="marca_agua">
                                        </div>
                                    </div>                    
                                </div>
                                <h5 class="m-t-10">Servicios:</h5>
                                <ul>
                                {% for servicio in ccf.servicios.all %}
                                <li>{{servicio.descripcion}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>                        
                        <div class="tab-pane fade" id="nav-tab2-14">
                            {% if horarios %}
                            <div class="invoice">
                                <div class="invoice-company">
                                    <span class="pull-right hidden-print">
                                    <a href="{% if tenant_nacional %}
                                                    {% url 'listar_cajas_nacionales' %}
                                                 {% else %}
                                                    {% url 'listar_ccfs' %}
                                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                                    </span>
                                    Horarios
                                </div>
                                <h1 class="page-header">{{ccf.nombre}}</h1>
                                <div class="invoice-content">
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>HORA INICIO</th>
                                                    <th>HORA FIN</th>
                                                    <th>DIAS</th>
                                                    <th>DESCRIPCION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for horario in horarios %}
                                                <tr>
                                                    <td>{{horario.hora_inicio}}</td>
                                                    <td>{{horario.hora_fin}}</td>
                                                    <td>{% for dia in horario.dias.all %} {{dia.nombre}} {% endfor %}</td>
                                                    <td>{{horario.descripcion}}</td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <p>No hay horarios disponibles</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="nav-tab2-16">
                            {% if tarifas %}                            
                            <div class="invoice">
                                <div class="invoice-company">
                                    <span class="pull-right hidden-print">
                                    <a href="{% if tenant_nacional %}
                                                    {% url 'listar_cajas_nacionales' %}
                                                 {% else %}
                                                    {% url 'listar_ccfs' %}
                                                 {% endif %}" class="btn btn-sm btn-primary m-b-10"><i class="fa fa-chevron-left m-r-5"></i> Volver</a>
                                    </span>
                                    Tarifas
                                </div>
                                <h1 class="page-header">{{ccf.nombre}}</h1>
                                <div class="invoice-content">
                                    <div class="table-responsive">
                                        <table class="table table-invoice">
                                            <thead>
                                                <tr>
                                                    <th>TITULO</th>
                                                    <th>PRECIO</th>
                                                    <th>DESCRIPCIÓN</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for tarifa in tarifas %}
                                                <tr>
                                                    <td>{{tarifa.titulo}}</td>
                                                    <td>${{tarifa.precio}}</td>
                                                    <td>{{tarifa.descripcion}}</td>
                                                </tr> 
                                                {% endfor %}                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <p>No hay tarifas disponibles</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}plugins/superbox/js/superbox.js"></script>
    <script src="{{STATIC_URL}}js/gallery-v2.demo.min.js"></script>
    <script src="{{STATIC_URL}}js/apps.min.js"></script>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            App.init();
            Gallery.init();
        });
    </script>
{% endblock %}