{% extends 'base.html' %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Registro de Resultados</a>
    <li class="active">Listado de Competencias</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de Competencias
{% endblock %}

{% block titulo_panel %}
    Listado de Competencias
{% endblock %}

{% block js %}
    <script type="text/javascript">
        idTabla = "tabla-entidades";
    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            
            $("#btn-buscar").on("click", function(){
                $('#loading').modal('show');
                $('#loading').modal('hide');

            });
        });
    </script>
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
{% include "loading.html" %}
    <div class="row">
        <div class="col-sm-12">
            <form  method="POST">{% csrf_token %}
                {% for field in form %}
                    <div class="col-md-5">
                        {% bootstrap_field field layout="vertical" %}
                    </div>
                {% endfor %}

                <div class="col-md-2">
                    <button id="btn-buscar" type="submit" class="btn btn-primary" style="margin-top: 22px">
                        <span class="fa fa-search"></span> Buscar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-12">            
            <h4 class="">Total Medallas: {{total_medallas}}</h4>
            {% if resultados %}
            <div id="tabla-medalleria" class="table-responsive">
                <table id="tabla-entidades" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Departamento</th>
                            <th colspan="4">Total</th>
                            <th colspan="4">Femenina</th>
                            <th colspan="4">Masculina</th>
                            <th colspan="4">Mixta</th>
                        </tr>
                        <tr>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce</th>
                            <th>Total</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce</th>
                            <th>Total</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce</th>
                            <th>Total</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultado in resultados %}
                        <tr>                            
                            <td>{{resultado.nombre}}</td>
                            <td>{{resultado.total_oro}}</td>
                            <td>{{resultado.total_plata}}</td>
                            <td>{{resultado.total_bronce}}</td>
                            <td><b>{{resultado.total_medallas}}</b></td>

                            <td>{{resultado.total_oro_femenino}}</td>
                            <td>{{resultado.total_plata_femenino}}</td>
                            <td>{{resultado.total_bronce_femenino}}</td>
                            <td><b>{{resultado.total_medallas_femenino}}</b></td>

                            <td>{{resultado.total_oro_masculino}}</td>
                            <td>{{resultado.total_plata_masculino}}</td>
                            <td>{{resultado.total_bronce_masculino}}</td>
                            <td><b>{{resultado.total_medallas_masculino}}</b></td>

                            <td>{{resultado.total_oro_mixto}}</td>
                            <td>{{resultado.total_plata_mixto}}</td>
                            <td>{{resultado.total_bronce_mixto}}</td>
                            <td><b>{{resultado.total_medallas_mixto}}</b></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div align="center">                
                <p><h5>Por favor seleccione un juego</h5></p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}