{% extends 'base.html' %}
{% load bootstrap3 %}
{% block titulo %}Tabla de Medalleria-SIND-Coldeportes{% endblock %}
{% block miga_pan %}
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Registro de Resultados</a>
    <li class="active">Listado de Competencias</li>
{% endblock %}

{% block titulo_contenido %}
    Listado de Competencias
{% endblock %}

{% block titulo_panel %}
    Listado de Competencias
{% endblock %}

{% block js %}
    
    <script type="text/javascript">
        $(document).ready(function(){            
            $("#btn-buscar").on("click", function(){
                $('#loading').modal('show');
                $('#loading').modal('hide');

            });
        });
        idTabla = "tabla-medalleria";
        columns_number = 13;

    </script>
    <script src="{{STATIC_URL}}js/coldeportes/tabla_extendida.js"></script>

{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/DataTables/css/data-table.css" rel="stylesheet" />
{% endblock %}

{% block contenido_panel %}
{% include "loading.html" %}
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon"><i class="fa fa-certificate"></i></div>
                <div class="stats-info">
                    <h4>TOTAL MEDALLAS</h4>
                    <p>{{total_medallas}}</p>    
                </div>
            </div>
        </div>        
        <div class="col-sm-12">
            <form  method="POST">{% csrf_token %}
                {% for field in form %}
                    <div class="col-md-5">
                        {% bootstrap_field field layout="vertical" %}
                    </div>
                {% endfor %}

                <div class="col-md-2">
                    <button id="btn-buscar" type="submit" class="btn btn-primary" style="margin-top: 22px">
                        <span class="fa fa-search"></span> Consultar
                    </button>
                </div>
            </form>
        </div>        
        <div class="col-md-12">                        
            {% if resultados %}
            <div class="table-responsive">
                <table id="tabla-medalleria" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th rowspan="2">Departamento</th>
                            <th colspan="4" bgcolor="#F5F6CE">Total</th>
                            <th colspan="4" bgcolor= "#FBEFFB">Femenina</th>
                            <th colspan="4" bgcolor= "#E0ECF8">Masculina</th>
                            <th colspan="4" bgcolor= "#CEF6D8">Mixta</th>
                        </tr>
                        <tr>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce</th>
                            <th>Total</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro (Femenino) </th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata (Femenino)</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce (Femenino)</th>
                            <th>Total</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro (Masculino)</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata (Masculino)</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce (Masculino)</th>
                            <th>Total</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/gold_medal.png"> Oro (Mixta)</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/silver_medal.png"> Plata (Mixta)</th>
                            <th><img src="{{STATIC_URL}}img/registro_resultados/bronze_medal.png"> Bronce (Mixta)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultado in resultados %}
                        <tr>                            
                            <td>{{resultado.nombre}}</td>
                            <td>{{resultado.total_oro}}</td>
                            <td>{{resultado.total_plata}}</td>
                            <td>{{resultado.total_bronce}}</td>
                            <td><b>{{resultado.total_medallas}}</b></td>

                            <td>{{resultado.total_oro_femenino}}</td>
                            <td>{{resultado.total_plata_femenino}}</td>
                            <td>{{resultado.total_bronce_femenino}}</td>
                            <td><b>{{resultado.total_medallas_femenino}}</b></td>

                            <td>{{resultado.total_oro_masculino}}</td>
                            <td>{{resultado.total_plata_masculino}}</td>
                            <td>{{resultado.total_bronce_masculino}}</td>
                            <td><b>{{resultado.total_medallas_masculino}}</b></td>

                            <td>{{resultado.total_oro_mixto}}</td>
                            <td>{{resultado.total_plata_mixto}}</td>
                            <td>{{resultado.total_bronce_mixto}}</td>
                            <td><b>{{resultado.total_medallas_mixto}}</b></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                {% if filtros %}
                <div class="row alert alert-warning fade in">                
                    <div align="center" class="col-md-12">
                        No hay resultados encontrados.
                    </div>
                </div>
                {% else %}
                <div class="row alert alert-info fade in">                
                    <div align="center" class="col-md-12">
                        Por favor seleccione un juego
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}